ead_revised.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:isbn:1-931666-22-9" xmlns:ns1="urn:isbn:1-931666-22-9">
  <xs:element name="ead">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:control"/>
        <xs:element ref="ns1:archdesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="archdesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:did"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:m.desc.base"/>
        <xs:group minOccurs="0" ref="ns1:e.relations"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:dsc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="level" use="required" type="ns1:av.level"/>
      <xs:attributeGroup ref="ns1:a.desc.base"/>
      <xs:attribute name="localtype" type="xs:NMTOKEN"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <!-- ELEMENTS -->
  <xs:element name="did">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:element maxOccurs="unbounded" ref="ns1:m.did"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="origination" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:persname"/>
          <xs:element ref="ns1:corpname"/>
          <xs:element ref="ns1:name"/>
          <xs:element ref="ns1:famname"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physdescstructured" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:quantity"/>
        <xs:element ref="ns1:unittype"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:dimensions"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:physfacet"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
      <xs:attribute name="physdescstructuredtype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="carrier"/>
            <xs:enumeration value="materialtype"/>
            <xs:enumeration value="spaceoccupied"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="coverage" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="whole"/>
            <xs:enumeration value="part"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="quantity">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unittype">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="identifier"/>
      <xs:attribute name="source"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="repository" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:corpname"/>
        <xs:element ref="ns1:name"/>
        <xs:element ref="ns1:famname"/>
        <xs:element minOccurs="0" ref="ns1:address"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unittitle" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitdate" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="unitdatetype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bulk"/>
            <xs:enumeration value="inclusive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datechar"/>
      <xs:attributeGroup ref="ns1:am.dates.era"/>
      <xs:attributeGroup ref="ns1:am.dates.calendar"/>
      <xs:attributeGroup ref="ns1:am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitdatestructured" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.dates">
          <xs:attributeGroup ref="ns1:a.common"/>
          <xs:attribute name="label"/>
          <xs:attribute name="unitdatetype">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bulk"/>
                <xs:enumeration value="inclusive"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="certainty"/>
          <xs:attribute name="encodinganalog"/>
          <xs:attribute name="datechar"/>
          <xs:attributeGroup ref="ns1:am.dates.era"/>
          <xs:attributeGroup ref="ns1:am.dates.calendar"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="datesingle" substitutionGroup="ns1:m.dates">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="ns1:m.datesingle"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="daterange" substitutionGroup="ns1:m.dates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:fromdate"/>
        <xs:element minOccurs="0" ref="ns1:todate"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromdate">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="standarddate" type="ns1:m.data.standarddate"/>
      <xs:attribute name="notbefore" type="ns1:m.data.standarddate"/>
      <xs:attribute name="notafter" type="ns1:m.data.standarddate"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="todate">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="standarddate" type="ns1:m.data.standarddate"/>
      <xs:attribute name="notbefore" type="ns1:m.data.standarddate"/>
      <xs:attribute name="notafter" type="ns1:m.data.standarddate"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dateset" substitutionGroup="ns1:m.dates">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ns1:datesingle"/>
          <xs:element ref="ns1:daterange"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:datesingle"/>
          <xs:element ref="ns1:daterange"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dao" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:daodesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:am.simplelink"/>
      <xs:attribute name="daotype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="borndigital"/>
            <xs:enumeration value="derived"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdaotype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="daogrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:daodesc"/>
        <xs:element maxOccurs="unbounded" ref="ns1:dao"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="daodesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:element maxOccurs="unbounded" ref="ns1:m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="accessrestrict" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:accessrestrict"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="accruals" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:accruals"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileplan" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:fileplan"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="acqinfo" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:acqinfo"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="altformavail" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:altformavail"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="originalsloc" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:originalsloc"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="phystech" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:phystech"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="appraisal" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:appraisal"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="custodhist" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:custodhist"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="index" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:m.blocks"/>
        <xs:sequence>
          <xs:element minOccurs="0" ref="ns1:listhead"/>
          <xs:element maxOccurs="unbounded" ref="ns1:indexentry"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="indexentry">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ns1:namegrp"/>
          <xs:element ref="ns1:m.access.title"/>
        </xs:choice>
        <xs:group minOccurs="0" ref="ns1:m.refs"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:indexentry"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="namegrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:m.access.title"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="legalstatus" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:legalstatus"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="materialspec" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prefercite" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:prefercite"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="processinfo" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:processinfo"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="userestrict" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:userestrict"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bioghist" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:bioghist"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="controlaccess" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:m.access.title"/>
          <xs:element ref="ns1:controlaccess"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="odd" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:odd"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="scopecontent" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:scopecontent"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arrangement" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:arrangement"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibliography" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:bibliography"/>
          <xs:element ref="ns1:archref"/>
          <xs:element ref="ns1:bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="relatedmaterial" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:relatedmaterial"/>
          <xs:element ref="ns1:archref"/>
          <xs:element ref="ns1:bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="separatedmaterial" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:separatedmaterial"/>
          <xs:element ref="ns1:archref"/>
          <xs:element ref="ns1:bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherfindaid" substitutionGroup="ns1:m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:m.blocks"/>
          <xs:element ref="ns1:otherfindaid"/>
          <xs:element ref="ns1:archref"/>
          <xs:element ref="ns1:bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list" substitutionGroup="ns1:m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="ns1:item"/>
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:listhead"/>
            <xs:element maxOccurs="unbounded" ref="ns1:defitem"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="listtype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="deflist"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="ordered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mark">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="disc"/>
            <xs:enumeration value="circle"/>
            <xs:enumeration value="square"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="decimal-leading-zero"/>
            <xs:enumeration value="lower-roman"/>
            <xs:enumeration value="upper-roman"/>
            <xs:enumeration value="lower-greek"/>
            <xs:enumeration value="lower-latin"/>
            <xs:enumeration value="upper-latin"/>
            <xs:enumeration value="armenian"/>
            <xs:enumeration value="georgian"/>
            <xs:enumeration value="lower-alpha"/>
            <xs:enumeration value="upper-alpha"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="inherit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeration">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="arabic"/>
            <xs:enumeration value="upperAlpha"/>
            <xs:enumeration value="lowerAlpha"/>
            <xs:enumeration value="upperRoman"/>
            <xs:enumeration value="lowerRoman"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="defitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:label"/>
        <xs:element ref="ns1:item"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.para.content"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="althead"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listhead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head01"/>
        <xs:element minOccurs="0" ref="ns1:head02"/>
        <xs:element minOccurs="0" ref="ns1:head03"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head01">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head02">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head03">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table" substitutionGroup="ns1:m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:head"/>
        <xs:element minOccurs="0" ref="ns1:colspec"/>
        <xs:element maxOccurs="unbounded" ref="ns1:row"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="all"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cols"/>
      <xs:attribute name="width"/>
      <xs:attribute name="colsep" type="ns1:av.yesorno"/>
      <xs:attribute name="rowsep" type="ns1:av.yesorno"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="colspec">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:a.common.empty"/>
      <xs:attribute name="cols" type="xs:NMTOKEN"/>
      <xs:attribute name="colname" type="xs:NMTOKEN"/>
      <xs:attribute name="width"/>
      <xs:attribute name="colsep" type="ns1:av.yesorno"/>
      <xs:attribute name="rowsep" type="ns1:av.yesorno"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:thentry"/>
        <xs:element ref="ns1:entry"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="rowsep" type="ns1:av.yesorno"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="thentry">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.para.content"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="colname" type="xs:NMTOKEN"/>
      <xs:attribute name="namest" type="xs:NMTOKEN"/>
      <xs:attribute name="nameend" type="xs:NMTOKEN"/>
      <xs:attribute name="morerows" type="xs:NMTOKEN"/>
      <xs:attribute name="colsep" type="ns1:av.yesorno"/>
      <xs:attribute name="rowsep" type="ns1:av.yesorno"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:row"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbr">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="expan"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expan">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="abbr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="num">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="emph">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="render" type="ns1:av.render"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="render" type="ns1:av.render"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:complexType/>
  </xs:element>
  <xs:element name="ref">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:abbr"/>
        <xs:element ref="ns1:expan"/>
        <xs:element ref="ns1:emph"/>
        <xs:element ref="ns1:lb"/>
        <xs:element ref="ns1:ptr"/>
        <xs:element ref="ns1:quote"/>
        <xs:element ref="ns1:num"/>
        <xs:element ref="ns1:footnote"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:m.access.title"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.internal.ptr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:complexType>
      <xs:attributeGroup ref="ns1:a.common.empty"/>
      <xs:attributeGroup ref="ns1:a.internal.ptr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsc">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="ns1:head"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:m.blocks"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="ns1:thead"/>
        <xs:group minOccurs="0" ref="ns1:m.cOrC01"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="dsctype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="analyticover"/>
            <xs:enumeration value="combined"/>
            <xs:enumeration value="indepth"/>
            <xs:enumeration value="otherdsctype"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdsctype" type="xs:NMTOKEN"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attributeGroup ref="ns1:a.dsctab.tpattern"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="e.div">
    	<element name="div">
    		<ref name="a.common"/>
    		<optional>
    			<ref name="e.head"/>
    		</optional>
    		<zeroOrMore>
    			<ref name="m.blocks"/>
    		</zeroOrMore>
    		<zeroOrMore>
    			<ref name="e.div"/>
    		</zeroOrMore>
    	</element>
    </define>
  -->
  <xs:element name="bibref">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="archref">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <!--
     Title should have one or more <part>, not m.mixed.basic.  
    Would that allow it to be added to m.access, eliminating the need for m.access.title? -MR
  -->
  <xs:element name="title" substitutionGroup="ns1:m.access.title">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="render" type="ns1:av.render"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c01">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c02"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c02">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c03"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c03">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c04"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c04">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c05"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c05">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c06"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c06">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c07"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c07">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c08"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c08">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c09"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c09">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c10"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c10">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c11"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c11">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:c12"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c12" type="ns1:m.c.base"/>
  <xs:element name="dimensions">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:m.mixed.basic"/>
        <xs:element ref="ns1:dimensions"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physfacet">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="unit"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="label"/>
      <xs:attribute name="langcode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="script">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="label"/>
      <xs:attribute name="scriptcode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="languageset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:language"/>
        <xs:element maxOccurs="unbounded" ref="ns1:script"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:addressline"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addressline">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="corpname" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="famname" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geogname" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:geographiccoordinates"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geographiccoordinates">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="coordinatesystem" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="persname" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupation" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genreform" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="function" substitutionGroup="ns1:m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:part"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:a.access"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="part">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="descriptivenote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:p"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p" substitutionGroup="ns1:m.blocks">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.para.content"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="embed"/>
            <xs:enumeration value="new"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onload"/>
            <xs:enumeration value="onrequest"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="ns1:m.para.content"/>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="e.placeentry">
    	<element name="placeentry">
    		<ref name="a.common"/>
    		<optional>
    			<ref name="m.entrylanguageattributes"/>
    		</optional>
    		<optional>
    			<ref name="a.localtype"/>
    		</optional>
    		<optional>
    			<ref name="am.countrycode"/>
    		</optional>
    		<optional>
    			<ref name="a.vocabularysource"/>
    		</optional>
    		<optional>
    			<attribute  name="accuracy">
    				<text/>
    			</attribute>
    		</optional>
    		<optional>
    			<ref name="m.geographicalcoordinates"/>
    		</optional>
    		<text/>
    	</element>
    </define>
  -->
  <xs:group name="e.relations">
    <xs:sequence>
      <xs:element name="relations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="ns1:relation"/>
          </xs:sequence>
          <xs:attributeGroup ref="ns1:a.common"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="objectxmlwrap">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ns1:e.anyname">
          <xs:attributeGroup ref="ns1:a.common"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="e.anyname">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:complexType>
  <!-- ATTRIBUTE VALUE LISTS -->
  <xs:simpleType name="av.level">
    <xs:restriction base="xs:token">
      <xs:enumeration value="class"/>
      <xs:enumeration value="collection"/>
      <xs:enumeration value="file"/>
      <xs:enumeration value="fonds"/>
      <xs:enumeration value="item"/>
      <xs:enumeration value="otherlevel"/>
      <xs:enumeration value="recordgrp"/>
      <xs:enumeration value="series"/>
      <xs:enumeration value="subfonds"/>
      <xs:enumeration value="subgrp"/>
      <xs:enumeration value="subseries"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="av.render">
    <xs:restriction base="xs:token">
      <xs:enumeration value="altrender"/>
      <xs:enumeration value="bold"/>
      <xs:enumeration value="bolddoublequote"/>
      <xs:enumeration value="bolditalic"/>
      <xs:enumeration value="boldsinglequote"/>
      <xs:enumeration value="boldsmcaps"/>
      <xs:enumeration value="boldunderline"/>
      <xs:enumeration value="doublequote"/>
      <xs:enumeration value="italic"/>
      <xs:enumeration value="nonproport"/>
      <xs:enumeration value="singlequote"/>
      <xs:enumeration value="smcaps"/>
      <xs:enumeration value="sub"/>
      <xs:enumeration value="super"/>
      <xs:enumeration value="underline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="av.yesorno">
    <xs:restriction base="xs:token">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- MODELS -->
  <xs:attributeGroup name="a.dsctab.tpattern">
    <xs:attribute name="tpattern" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.common.empty">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="altrender"/>
    <xs:attribute name="audience">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="external"/>
          <xs:enumeration value="internal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.common">
    <xs:attributeGroup ref="ns1:a.common.empty"/>
    <xs:attribute name="lang"/>
    <xs:attribute name="script"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.desc.base">
    <xs:attribute name="otherlevel" type="xs:NMTOKEN"/>
    <xs:attribute name="encodinganalog"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.desc.c">
    <xs:attributeGroup ref="ns1:a.common"/>
    <xs:attribute name="level" type="ns1:av.level"/>
    <xs:attributeGroup ref="ns1:a.desc.base"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.access.no.normal">
    <xs:attribute name="source" type="xs:token"/>
    <xs:attribute name="rules" type="xs:NMTOKEN"/>
    <xs:attribute name="identifier"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.access">
    <xs:attributeGroup ref="ns1:a.access.no.normal"/>
    <xs:attribute name="normal"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.localtype">
    <xs:attribute name="localtype" use="required"/>
  </xs:attributeGroup>
  <xs:element name="m.desc.base" abstract="true"/>
  <xs:element name="m.dates" abstract="true"/>
  <xs:complexType name="m.dates">
    <xs:sequence>
      <xs:element ref="ns1:m.dates"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="m.did" abstract="true"/>
  <xs:element name="abstract" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="langmaterial" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="ns1:language"/>
          <xs:element ref="ns1:languageset"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="didnote" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="localtypesource"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physdesc" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parallelphysdescset" substitutionGroup="ns1:m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:physdescstructured"/>
        <xs:element maxOccurs="unbounded" ref="ns1:physdescstructured"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physloc" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitid" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="ns1:am.countrycode"/>
      <xs:attribute name="repositorycode" type="ns1:data.repositorycode"/>
      <xs:attribute name="identifier"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="container" substitutionGroup="ns1:m.did">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype" type="xs:NMTOKEN"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
      <xs:attribute name="containerid" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="m.refs">
    <xs:sequence>
      <xs:element ref="ns1:ref"/>
      <xs:element ref="ns1:ptr"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:abbr"/>
        <xs:element ref="ns1:expan"/>
        <xs:element ref="ns1:emph"/>
        <xs:element ref="ns1:lb"/>
        <xs:element ref="ns1:ref"/>
        <xs:element ref="ns1:ptr"/>
        <xs:element ref="ns1:foreign"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic.plus">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="ns1:m.mixed.basic"/>
        <xs:element ref="ns1:quote"/>
        <xs:element ref="ns1:num"/>
        <xs:element ref="ns1:footnote"/>
        <xs:element ref="ns1:date"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic.plus.access">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="ns1:m.access.title"/>
        <xs:group ref="ns1:m.mixed.basic"/>
        <xs:element ref="ns1:quote"/>
        <xs:element ref="ns1:num"/>
        <xs:element ref="ns1:footnote"/>
        <xs:element ref="ns1:date"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!-- to allow recursion in some elements, e.g., dimensions -->
  <xs:group name="m.mixed.elements">
    <xs:sequence>
      <xs:element ref="ns1:abbr"/>
      <xs:element ref="ns1:expan"/>
      <xs:element ref="ns1:emph"/>
      <xs:element ref="ns1:lb"/>
      <xs:element ref="ns1:ref"/>
      <xs:element ref="ns1:ptr"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="m.blocks" abstract="true"/>
  <xs:element name="m.inter" abstract="true" substitutionGroup="ns1:m.blocks"/>
  <xs:element name="blockquote" substitutionGroup="ns1:m.inter">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:m.inter.noquote"/>
        <xs:element ref="ns1:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="m.inter.noquote" abstract="true" substitutionGroup="ns1:m.inter"/>
  <xs:element name="chronlist" substitutionGroup="ns1:m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:listhead"/>
        <xs:element maxOccurs="unbounded" ref="ns1:chronitem"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chronitem">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="ns1:datesingle"/>
          <xs:element ref="ns1:daterange"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:element minOccurs="0" ref="ns1:placeentry"/>
            <xs:element ref="ns1:event"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="ns1:chronitemset"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chronitemset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:placeentry"/>
        <xs:element maxOccurs="unbounded" ref="ns1:event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="m.cOrC01">
    <xs:choice>
      <xs:element maxOccurs="unbounded" ref="ns1:c"/>
      <xs:element maxOccurs="unbounded" ref="ns1:c01"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="m.c.base">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:head"/>
      <xs:element ref="ns1:did"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:m.desc.base"/>
      <xs:element minOccurs="0" name="relations">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="ns1:relation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="ns1:a.desc.c"/>
  </xs:complexType>
  <xs:element name="m.access" abstract="true" substitutionGroup="ns1:m.access.title"/>
  <xs:element name="m.access.title" abstract="true"/>
  <xs:group name="m.para.content">
    <xs:choice>
      <xs:group ref="ns1:m.mixed.basic.plus"/>
      <xs:element ref="ns1:m.access.title"/>
      <xs:element ref="ns1:list"/>
    </xs:choice>
  </xs:group>
  <xs:simpleType name="m.data.standarddate">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:maxInclusive value="2099-12-31"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYear">
          <xs:maxInclusive value="2099"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYearMonth">
          <xs:maxInclusive value="2099-12"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:attributeGroup name="m.datesingle">
    <xs:attribute name="standarddate" type="ns1:m.data.standarddate"/>
    <xs:attribute name="notbefore" type="ns1:m.data.standarddate"/>
    <xs:attribute name="notafter" type="ns1:m.data.standarddate"/>
  </xs:attributeGroup>
  <xs:element name="relation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:relationentry"/>
        <xs:element minOccurs="0" ref="ns1:objectxmlwrap"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:datesingle"/>
          <xs:element ref="ns1:dateset"/>
          <xs:element ref="ns1:daterange"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="ns1:placeentry"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="relationtype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="cpfrelation"/>
            <xs:enumeration value="resourcerelation"/>
            <xs:enumeration value="functionrelation"/>
            <xs:enumeration value="otherrelation"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherrelationtype" type="xs:string"/>
      <xs:attribute name="lastdatetimeverified" type="xs:dateTime"/>
      <xs:attribute name="linktype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="arcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="transliteration" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="a.internal.ptr">
    <xs:attribute name="target" type="xs:IDREF"/>
    <xs:attribute name="xpointer"/>
    <xs:attributeGroup ref="ns1:am.simplelink"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.simplelink">
    <xs:attribute name="linktype" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="href" type="xs:anyURI"/>
    <xs:attribute name="linkrole" type="xs:anyURI"/>
    <xs:attribute name="arcrole" type="xs:anyURI"/>
    <xs:attribute name="linktitle"/>
    <xs:attribute name="show">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="new"/>
          <xs:enumeration value="replace"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="actuate">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="onLoad"/>
          <xs:enumeration value="onRequest"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.href">
    <xs:attribute name="href" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.role">
    <xs:attribute name="linkrole" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.arcrole">
    <xs:attribute name="arcrole" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.title">
    <xs:attribute name="linktitle" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.show">
    <xs:attribute name="show" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="new"/>
          <xs:enumeration value="replace"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.actuate">
    <xs:attribute name="actuate" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="onLoad"/>
          <xs:enumeration value="onRequest"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.dates.calendar">
    <xs:attribute name="calendar" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.dates.era">
    <xs:attribute name="era" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <!-- unitdate/@normal no longer enforces the iso 8601 pattern. Why? -MR -->
  <xs:attributeGroup name="am.date.normal">
    <xs:attribute name="normal" type="xs:token"/>
  </xs:attributeGroup>
  <xs:simpleType name="data.repositorycode">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:attributeGroup name="am.countrycode">
    <xs:attribute name="countrycode" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <!-- Control and inherited models from EAC-CPF -->
  <xs:element name="control">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:recordid"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:otherrecordid"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:representation"/>
        <xs:element ref="ns1:filedesc"/>
        <xs:element ref="ns1:maintenancestatus"/>
        <xs:element minOccurs="0" ref="ns1:publicationstatus"/>
        <xs:element ref="ns1:maintenanceagency"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:languagedeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:conventiondeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:localtypedeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:localcontrol"/>
        <xs:element ref="ns1:maintenancehistory"/>
        <xs:element minOccurs="0" ref="ns1:sources"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="base" type="xs:anyURI"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordid">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attributeGroup ref="ns1:a.common"/>
          <xs:attribute name="instanceurl" type="xs:anyURI"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherrecordid">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:m.id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="representation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attributeGroup ref="ns1:am.simplelink"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filedesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:titlestmt"/>
        <xs:element minOccurs="0" ref="ns1:editionstmt"/>
        <xs:element minOccurs="0" ref="ns1:publicationstmt"/>
        <xs:element minOccurs="0" ref="ns1:seriesstmt"/>
        <xs:element minOccurs="0" ref="ns1:notestmt"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titlestmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:titleproper"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:subtitle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:author"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:sponsor"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editionstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:edition"/>
        <xs:element ref="ns1:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:publisher"/>
        <xs:element ref="ns1:date"/>
        <xs:element ref="ns1:address"/>
        <xs:element ref="ns1:num"/>
        <xs:element ref="ns1:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seriesstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="ns1:titleproper"/>
        <xs:element ref="ns1:num"/>
        <xs:element ref="ns1:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notestmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:controlnote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenancestatus">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="revised"/>
            <xs:enumeration value="deleted"/>
            <xs:enumeration value="new"/>
            <xs:enumeration value="deletedsplit"/>
            <xs:enumeration value="deletedmerged"/>
            <xs:enumeration value="deletedreplaced"/>
            <xs:enumeration value="cancelled"/>
            <xs:enumeration value="derived"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationstatus">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="inProcess"/>
            <xs:enumeration value="approved"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="languagedeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:language"/>
        <xs:element ref="ns1:script"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="conventiondeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:abbr"/>
        <xs:element ref="ns1:citation"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="localtypedeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:abbr"/>
        <xs:element ref="ns1:citation"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="localcontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:term"/>
        <xs:choice minOccurs="0">
          <xs:element ref="ns1:datesingle"/>
          <xs:element ref="ns1:daterange"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="transliteration"/>
      <xs:attribute name="lastdatetimeverified" type="ns1:m.data.standardDateTime"/>
      <xs:attribute name="source" type="xs:string"/>
      <xs:attribute name="identifier"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenancehistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:maintenanceevent"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenanceevent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ns1:eventtype"/>
        <xs:element ref="ns1:eventdatetime"/>
        <xs:element ref="ns1:agenttype"/>
        <xs:element ref="ns1:agent"/>
        <xs:element minOccurs="0" ref="ns1:eventdescription"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventtype">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="created"/>
            <xs:enumeration value="revised"/>
            <xs:enumeration value="deleted"/>
            <xs:enumeration value="cancelled"/>
            <xs:enumeration value="derived"/>
            <xs:enumeration value="updated"/>
            <xs:enumeration value="unknown"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventdatetime">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="standarddatetime" type="ns1:m.data.standardDateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="agenttype">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="value" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="human"/>
            <xs:enumeration value="machine"/>
            <xs:enumeration value="unknown"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="agent">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventdescription">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sources">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:source"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="base" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:sourceentry"/>
        <xs:element minOccurs="0" ref="ns1:objectxmlwrap"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="lastdatetimeverified" type="ns1:m.data.standardDateTime"/>
      <xs:attribute name="linktype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="arcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="transliteration"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="m.id">
    <xs:attribute name="localtype"/>
  </xs:attributeGroup>
  <xs:element name="titleproper">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="render" type="ns1:av.render"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sponsor">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="ns1:am.dates.era"/>
      <xs:attributeGroup ref="ns1:am.dates.calendar"/>
      <xs:attributeGroup ref="ns1:am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="controlnote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ns1:m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <!-- from EAC-CPF -->
  <xs:element name="maintenanceagency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="ns1:agencycode"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ns1:otheragencycode"/>
        <xs:element ref="ns1:agencyname"/>
        <xs:element minOccurs="0" ref="ns1:descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="agencycode">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="otheragencycode">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attributeGroup ref="ns1:a.common"/>
          <xs:attribute name="localtype" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="agencyname" type="xs:string"/>
  <xs:element name="citation">
    <xs:complexType mixed="true">
      <xs:group ref="ns1:m.mixed.basic"/>
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="linktype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="arcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lastdatetimeverified" type="ns1:m.data.standardDateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="placeentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="ns1:a.common"/>
      <xs:attribute name="transliteration"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="countrycode" type="xs:string"/>
      <xs:attribute name="vocabularysource"/>
      <xs:attribute name="accuracy"/>
      <xs:attribute name="longitude" type="xs:NMTOKEN"/>
      <xs:attribute name="latitude" type="xs:NMTOKEN"/>
      <xs:attribute name="altitude" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="m.geographicalcoordinates">
    <xs:attribute name="longitude" use="required" type="xs:NMTOKEN"/>
    <xs:attribute name="latitude" use="required" type="xs:NMTOKEN"/>
    <xs:attribute name="altitude" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.lastdatetimeverified">
    <xs:attribute name="lastdatetimeverified" use="required" type="ns1:m.data.standardDateTime"/>
  </xs:attributeGroup>
  <xs:simpleType name="m.data.standardDateTime">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:maxInclusive value="2099-12-31"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYear">
          <xs:maxInclusive value="2099"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYearMonth">
          <xs:maxInclusive value="2099-12"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime">
          <xs:maxInclusive value="2099-12-31T23:59:59"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>
