ead_revised_clean.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<ref name="e.ead"/>
	</start>
	<define name="e.ead">
		<element name="ead">
			<ref name="a.common"/>
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<!--			<ref name="e.control"/> -->
			<element name="archdesc">
				<ref name="a.common"/>
				<attribute name="level">
					<choice>
						<ref name="av.level"/>
					</choice>
				</attribute>
				<ref name="a.desc.base"/>
				<optional>
					<attribute name="localtype">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="relatedencoding"/>
				</optional>
				<ref name="e.did"/>
				<zeroOrMore>
					<ref name="m.desc.base"/>
				</zeroOrMore>
				<zeroOrMore>
					<ref name="e.dao"/>
				</zeroOrMore>
				<optional>
					<ref name="e.relations"/>
				</optional>
					<zeroOrMore>
						<ref name="e.dsc"/>
					</zeroOrMore>
			</element>
		</element>
	</define>

	<!-- ELEMENTS -->

	<define name="e.did">
		<element name="did">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.did"/>
			</oneOrMore>
		</element>
	</define>
	<define name="e.origination">
		<element name="origination">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="e.persname"/>
					<ref name="e.corpname"/>
					<ref name="e.name"/>
					<ref name="e.famname"/>
				</choice>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>
	<define name="e.physdescstructured">
		<element name="physdescstructured">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="rules">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<attribute name="physdescstructuredtype">
				<choice>
					<value>carrier</value>
					<value>materialtype</value>
					<value>spaceoccupied</value>
				</choice>
			</attribute>
			<attribute name="coverage">
				<choice>
					<value>whole</value>
					<value>part</value>
				</choice>
			</attribute>

			<element name="quantity">
				<ref name="a.common"/>
				<text/>
			</element>
			<element name="unittype">
				<ref name="a.common"/>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="source"/>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<text/>
			</element>
			<zeroOrMore>
				<ref name="e.dimensions"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="e.physfacet"/>
			</zeroOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>
	<define name="e.repository">
		<element name="repository">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="e.corpname"/>
					<ref name="e.name"/>
					<ref name="e.famname"/>
					<optional>
						<ref name="e.address"/>
					</optional>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.unittitle">
		<element name="unittitle">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>


	<define name="e.unitdate">
		<element name="unitdate">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<ref name="m.mixed.basic.plus"/>
			</zeroOrMore>

		</element>
	</define>
	<define name="e.unitdatestructured">
		<element name="unitdatestructured">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<oneOrMore>
				<ref name="m.dates"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.datesingle">
		<element name="datesingle">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<ref name="m.datesingle"/>
		</element>
	</define>


	<define name="e.daterange">
		<element name="daterange">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<optional>
				<element name="fromdate">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<ref name="e.datesingle"/>
				</element>
			</optional>
			<optional>
				<element name="todate">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<ref name="e.datesingle"/>
				</element>
			</optional>
		</element>
	</define>

	<define name="e.dateset">
		<element name="dateset">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<choice>
				<ref name="e.datesingle"/>
				<ref name="e.daterange"/>
			</choice>
			<oneOrMore>
				<choice>
					<ref name="e.datesingle"/>
					<ref name="e.daterange"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.dao">
		<element name="dao">
			<ref name="a.common"/>
			<ref name="am.simplelink"/>
			<optional>
				<ref name="e.daodesc"/>
			</optional>
			<attribute name="daotype">
				<choice>
					<value>borndigital</value>
					<value>derived</value>
					<value>unknown</value>
					<value>other</value>
				</choice>
			</attribute>
			<optional>
				<attribute name="otherdaotype"/>
			</optional>
		</element>
	</define>

	<define name="e.daodesc">
		<element name="daodesc">
			<ref name="a.common"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.accessrestrict">
		<element name="accessrestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.accessrestrict"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.accruals">
		<element name="accruals">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.accruals"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.fileplan">
		<element name="fileplan">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.fileplan"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.acqinfo">
		<element name="acqinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.acqinfo"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.altformavail">
		<element name="altformavail">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.altformavail"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.originalsloc">
		<element name="originalsloc">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.originalsloc"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.phystech">
		<element name="phystech">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.phystech"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.appraisal">
		<element name="appraisal">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.appraisal"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.custodhist">
		<element name="custodhist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.custodhist"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.index">
		<element name="index">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<choice>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<ref name="e.indexentry"/>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>
	<define name="e.indexentry">
		<element name="indexentry">
			<ref name="a.common"/>
			<choice>
				<element name="nameGrp">
					<ref name="a.common"/>
					<oneOrMore>
						<choice>
							<ref name="m.access.title"/>
						</choice>
					</oneOrMore>
				</element>
				<ref name="m.access.title"/>
			</choice>
			<optional>
				<choice>
					<ref name="m.refs"/>
				</choice>
			</optional>
			<zeroOrMore>
				<ref name="e.indexentry"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.legalstatus">
		<element name="legalstatus">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.legalstatus"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.materialspec">
		<element name="materialspec">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.materialspec"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.prefercite">
		<element name="prefercite">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.prefercite"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.processinfo">
		<element name="processinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.processinfo"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.userestrict">
		<element name="userestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.userestrict"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.bioghist">
		<element name="bioghist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.bioghist"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.controlaccess">
		<element name="controlaccess">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="m.access"/>
						<ref name="e.controlaccess"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.odd">
		<element name="odd">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.odd"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.scopecontent">
		<element name="scopecontent">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.scopecontent"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.arrangement">
		<element name="arrangement">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.arrangement"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.bibliography">
		<element name="bibliography">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.bibliography"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>

		</element>
	</define>
	<define name="e.relatedmaterial">
		<element name="relatedmaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.relatedmaterial"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.separatedmaterial">
		<element name="separatedMaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.separatedmaterial"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.otherfindaid">
		<element name="otheraindaid">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.otherfindaid"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>

	<define name="e.list">
		<element name="list">
			<ref name="a.common"/>
			<optional>
				<attribute name="listType">
					<choice>
						<value>deflist</value>
						<value>unordered</value>
						<value>ordered</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="mark">
					<choice>
						<value>disc</value>
						<value>circle</value>
						<value>square</value>
						<value>decimal</value>
						<value>decimal-leading-zero</value>
						<value>lower-roman</value>
						<value>upper-roman</value>
						<value>lower-greek</value>
						<value>lower-latin</value>
						<value>upper-latin</value>
						<value>armenian</value>
						<value>georgian</value>
						<value>lower-alpha</value>
						<value>upper-alpha</value>
						<value>none</value>
						<value>inherit</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="numeration">
					<choice>
						<value>arabic</value>
						<value>upperAlpha</value>
						<value>lowerAlpha</value>
						<value>upperRoman</value>
						<value>lowerRoman</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<ref name="e.item"/>
				</oneOrMore>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<element name="defitem">
							<ref name="a.common"/>
							<element name="label">
								<ref name="a.common"/>
								<zeroOrMore>
									<choice>
										<text/>
										<ref name="m.para.content"/>
									</choice>
								</zeroOrMore>
							</element>
							<ref name="e.item"/>
						</element>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>

	<define name="e.item">
		<element name="item">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.head">
		<element name="head">
			<ref name="a.common"/>
			<optional>
				<attribute name="althead"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.listhead">
		<element name="listhead">
			<ref name="a.common"/>
			<optional>
				<element name="head01">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
			<optional>
				<element name="head02">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
			<optional>
				<element name="head03">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
		</element>
	</define>

<define name="e.table">
	<element name="table">
		<ref name="a.common"/>
		<optional>
			<attribute name="frame">
				<choice>
					<value>top</value>
					<value>bottom</value>
					<value>topbot</value>
					<value>all</value>
					<value>sides</value>
					<value>none</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="cols"/>
		</optional>
		<optional>
			<attribute name="width"/>
		</optional>
		<optional>
			<attribute name="colsep">
				<ref name="av.yesorno"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rowsep">
				<ref name="av.yesorno"/>
			</attribute>
		</optional>
		<optional>
			<ref name="e.head"/>
		</optional>
		<optional>
			<element name="colspec">
				<ref name="a.common.empty"/>
				<optional>
					<attribute name="cols">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="colname">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="width"/>
				</optional>
				<optional>
					<attribute name="colsep">
						<ref name="av.yesorno"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="rowsep">
						<ref name="av.yesorno"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="align">
						<choice>
							<value>left</value>
							<value>right</value>
							<value>center</value>
							<value>justify</value>
						</choice>
					</attribute>
				</optional>
				<optional>
					<attribute name="valign">
						<choice>
							<value>top</value>
							<value>middle</value>
							<value>bottom</value>
							<value>baseline</value>
						</choice>
					</attribute>
				</optional>
				<empty/>
			</element>
		</optional>
		<oneOrMore>
			
			<ref name="e.row"/>
		</oneOrMore>
	</element>
</define>
	<define name="e.row">
		<element name="row">
			<ref name="a.common"/>
			<optional>
				<attribute name="rowsep">
					<ref name="av.yesorno"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="valign">
					<choice>
						<value>top</value>
						<value>middle</value>
						<value>bottom</value>
						<value>baseline</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<choice>
					<element name="thentry">
						<ref name="a.common"/>
						<ref name="m.mixed.basic"/>
					</element>
					<element name="entry">
						<ref name="a.common"/>
						<optional>
							<attribute name="colname">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="namest">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="nameend">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="morerows">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="colsep">
								<ref name="av.yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="rowsep">
								<ref name="av.yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="align">
								<choice>
									<value>left</value>
									<value>right</value>
									<value>center</value>
									<value>justify</value>
								</choice>
							</attribute>
						</optional>
						<optional>
							<attribute name="valign">
								<choice>
									<value>top</value>
									<value>middle</value>
									<value>bottom</value>
									<value>baseline</value>
								</choice>
							</attribute>
						</optional>
						<zeroOrMore>
							<choice>
								<text/>
								<choice>
									<ref name="m.access.title"/>
									<ref name="e.list"/>
									<ref name="e.footnote"/>
								</choice>
							</choice>
						</zeroOrMore>
					</element>
				</choice>
				
			</oneOrMore>
			
		</element>
	</define>
	<define name="e.abbr">
		<element name="abbr">
			<ref name="a.common"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.expan">
		<element name="expan">
			<ref name="a.common"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.num">
		<element name="num">
			<ref name="a.common"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.quote">
		<element name="quote">
			<ref name="a.common"/>
			<optional><attribute name="localtype"/></optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>


	<define name="e.emph">
		<element name="emph">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="altRender"/>
			</optional>
			<text/>
		</element>
	</define>

	<define name="e.lb">
		<element name="lb">
			<ref name="a.common.empty"/>
			<empty/>
		</element>
	</define>

	<define name="e.ref">
		<element name="ref">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<text/>
		</element>
	</define>

	<define name="e.ptr">
		<element name="ptr">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<empty/>
		</element>
	</define>

	<define name="e.dsc">
		<element name="dsc">
			<ref name="a.common"/>
			<optional>
				<attribute name="dsctype">
					<choice>
						<value>analyticover</value>
						<value>combined</value>
						<value>indepth</value>
						<value>othertype</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="othertype">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="a.dsctab.tPattern"/>
			<group>
				<optional>
					<ref name="e.head"/>
				</optional>
				<zeroOrMore>
					<ref name="m.blocks"/>
				</zeroOrMore>
			</group>
			<optional>
				<ref name="m.cOrC01"/>
			</optional>
			<choice>

				<ref name="m.cOrC01"/>

			</choice>
			
		</element>
	</define>

	<define name="e.div">
		<element name="div">
			<ref name="a.common"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="e.div"/>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.bibref">
		<element name="bibref">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic"/>
					<ref name="e.title"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.archref">
		<element name="archref">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.mixed.basic"/>
					<ref name="e.title"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.title">
		<element name="title">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<ref name="m.mixed.basic"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c">
		<element name="c">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c01">
		<element name="c01">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c02"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c02">
		<element name="c02">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c03"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c03">
		<element name="c03">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c04"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c04">
		<element name="c04">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c05"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c05">
		<element name="c05">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c06"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c06">
		<element name="c06">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c07"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c07">
		<element name="c07">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c08"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c08">
		<element name="c08">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c09"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c09">
		<element name="c09">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c10"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c10">
		<element name="c10">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c11"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c11">
		<element name="c11">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<ref name="e.c12"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c12">
		<element name="c12">
			<ref name="m.c.base"/>
		</element>
	</define>

	<define name="e.dimensions">
		<element name="dimensions">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic"/>
					<ref name="e.dimensions"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.physfacet">
		<element name="physfacet">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="unit"/>
			</optional>
			<optional>
				<attribute name="identifier"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.language">
		<element name="language">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="langcode"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.script">
		<element name="script">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="scriptcode"/>
			</optional>
			<text/>
		</element>
	</define>

	<define name="e.languageset">
		<element name="languageset">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.language"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.script"/>
			</oneOrMore>
		</element>

	</define>

	<define name="e.address">
		<element name="address">
			<ref name="a.common"/>
			<oneOrMore>
				<element name="addressLine">
					<ref name="a.common"/>
					<optional><attribute name="localtype"/></optional>
					<ref name="m.mixed.basic"/>
				</element>
			</oneOrMore>
		</element>
	</define>

	<define name="e.corpname">
		<element name="corpname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>

		</element>
	</define>
	<define name="e.famname">
		<element name="famname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>



		</element>
	</define>
	<define name="e.geogname">
		<element name="geogname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>



		</element>
	</define>
	<define name="e.name">
		<element name="name">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>



		</element>
	</define>
	<define name="e.persname">
		<element name="persname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.occupation">
		<element name="occupation">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.subject">
		<element name="subject">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.genreform">
		<element name="genreform">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.function">
		<element name="function">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.part">
		<element name="part">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<text/>
		</element>
	</define>


	<define name="e.descriptivenote">
		<element name="descriptivenote">
			<ref name="a.common"/>
			<oneOrMore>
				<ref name="e.p"/>
			</oneOrMore>
		</element>
	</define>


	<define name="e.p">

		<element name="p">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>


	<define name="e.footnote">
		<element name="footnote">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="show">
					<choice>
						<value>embed</value>
						<value>new</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="actuate">
					<choice>
						<value>onload</value>
						<value>onrequest</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.event">
		<element name="event">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<!--
	<define name="e.placeentry">
		<element name="placeentry">
			<ref name="a.common"/>
			<optional>
				<ref name="m.entrylanguageattributes"/>
			</optional>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<optional>
				<ref name="am.countrycode"/>
			</optional>
			<optional>
				<ref name="a.vocabularysource"/>
			</optional>
			<optional>
				<attribute  name="accuracy">
					<text/>
				</attribute>
			</optional>
			<optional>
				<ref name="m.geographicalcoordinates"/>
			</optional>
			<text/>
		</element>
	</define>
-->
	
	<define name="e.relations">
		<element name="relations">
			<oneOrMore>
				<ref name="m.relation"/>
			</oneOrMore>
		</element>
	</define>
	
	<define name="e.objectxmlwrap">
		<element name="objectxmlwrap">
			<ref name="a.common"/>
			<ref name="e.anyname"/>
		</element>
	</define>
	<define name="e.anyname">
		<element>
			<anyName>
				<except>
					<nsName ns="urn:isbn:1-931666-22-9"/>
				</except>
			</anyName>
			<!--<zeroOrMore>
				<attribute>
					<anyName/>
				</attribute>
			</zeroOrMore>
			-->
			<zeroOrMore>
				<choice>
					<ref name="e.anyname"/>
					<text/>
				</choice>
			</zeroOrMore>
		</element>
	</define>


	<!-- ATTRIBUTE VALUE LISTS -->

	<define name="av.level">
		<choice>
			<value>class</value>
			<value>collection</value>
			<value>file</value>
			<value>fonds</value>
			<value>item</value>
			<value>otherLevel</value>
			<value>recordGrp</value>
			<value>series</value>
			<value>subFonds</value>
			<value>subGrp</value>
			<value>subSeries</value>
		</choice>
	</define>

	<define name="av.render">
		<choice>
			<value>altRender</value>
			<value>bold</value>
			<value>boldDoubleQuote</value>
			<value>boldItalic</value>
			<value>boldSingleQuote</value>
			<value>boldSmCaps</value>
			<value>boldUnderline</value>
			<value>doubleQuote</value>
			<value>italic</value>
			<value>nonProPort</value>
			<value>singleQuote</value>
			<value>smCaps</value>
			<value>sub</value>
			<value>super</value>
			<value>underline</value>
		</choice>
	</define>
	<define name="av.yesorno">
		<choice>
			<value>yes</value>
			<value>no</value>
		</choice>
	</define>

	<!-- MODELS -->
	<define name="a.dsctab.tPattern">
		<optional>
			<attribute name="tPattern">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="a.common.empty">
		<optional>
			<attribute name="id">
				<data type="ID"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="altrender"/>
		</optional>
		<optional>
			<attribute name="audience">
				<choice>
					<value>external</value>
					<value>internal</value>
				</choice>
			</attribute>
		</optional>
	</define>
	<define name="a.common">
		<ref name="a.common.empty"/>
		<optional>
			<attribute name="lang"/>
		</optional>
		<optional>
			<attribute name="script"/>
		</optional>
	</define>

	<define name="a.desc.base">
		<optional>
			<attribute name="otherLevel">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
	</define>
	<define name="a.desc.c">
		<ref name="a.common"/>
		<optional>
			<attribute name="level">
				<choice>
					<ref name="av.level"/>
				</choice>
			</attribute>
		</optional>
		<ref name="a.desc.base"/>
		<!--		<ref name="am.dsctab.tPattern"/> -->
	</define>
	<define name="a.access.no.normal">
		<optional>
			<attribute name="source">
				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rules">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="identifier"/>
		</optional>
	</define>

	<define name="a.access">
		<ref name="a.access.no.normal"/>
		<optional>
			<attribute name="normal"/>
		</optional>
	</define>
	<define name="a.localtype">
		<attribute name="localtype"/>
	</define>

	<define name="am.langcode">
		<optional>
			<attribute name="langcode"> </attribute>
		</optional>
	</define>

	<define name="m.desc.base">
		<choice>
			<ref name="e.accessrestrict"/>
			<ref name="e.accruals"/>
			<ref name="e.acqinfo"/>
			<ref name="e.altformavail"/>
			<ref name="e.appraisal"/>
			<ref name="e.arrangement"/>
			<ref name="e.bibliography"/>
			<ref name="e.bioghist"/>
			<ref name="e.controlaccess"/>
			<ref name="e.custodhist"/>
			<ref name="e.fileplan"/>
			<ref name="e.index"/>
			<ref name="e.legalstatus"/>
			<ref name="e.odd"/>
			<ref name="e.originalsloc"/>
			<ref name="e.otherfindaid"/>
			<ref name="e.phystech"/>
			<ref name="e.prefercite"/>
			<ref name="e.processinfo"/>
			<ref name="e.relatedmaterial"/>
			<ref name="e.scopecontent"/>
			<ref name="e.separatedmaterial"/>
			<ref name="e.userestrict"/>
		</choice>
	</define>
	<define name="m.dates">
		<choice>
			<ref name="e.datesingle"/>
			<ref name="e.daterange"/>
			<ref name="e.dateset"/>
		</choice>
	</define>
	<define name="m.did">
		<choice>
			<element name="abstract">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<ref name="am.langcode"/>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="langmaterial">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<choice>
						<ref name="e.language"/>
						<ref name="e.languageset"/>
					</choice>
				</oneOrMore>
				<optional>
					<ref name="e.descriptivenote"/>
				</optional>
			</element>
			<element name="didnote">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<optional>
					<attribute name="localTypeSource"/>
				</optional>
				<ref name="am.langcode"/>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.origination"/>


			<element name="physdesc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="source">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="parallelphysdescset">
				<ref name="e.physdescstructured"/>
				<oneOrMore>
					<ref name="e.physdescstructured"/>
				</oneOrMore>
			</element>
			<ref name="e.physdescstructured"/>
			<element name="physloc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<ref name="e.repository"/>
			<ref name="e.unitdate"/>

			<ref name="e.unitdatestructured"/>
			<element name="unitid">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<ref name="am.countrycode"/>
				<optional>
					<attribute name="repositorycode">
						<ref name="data.repositorycode"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<ref name="e.unittitle"/>
			<element name="container">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>

				<optional>
					<attribute name="containerId">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>

				<ref name="m.mixed.basic"/>

			</element>
			<ref name="e.materialspec"/>
			<ref name="e.dao"/>
		</choice>
	</define>

	<define name="m.refs">
		<ref name="e.ref"/>
		<ref name="e.ptr"/>
	</define>

	<define name="m.mixed.basic">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="e.abbr"/>
				<ref name="e.expan"/>
				<ref name="e.emph"/>
				<ref name="e.lb"/>
				<ref name="e.ref"/>
			</choice>
		</zeroOrMore>
	</define>
	<define name="m.mixed.basic.plus">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="e.abbr"/>
				<ref name="e.expan"/>
				<ref name="e.emph"/>
				<ref name="e.lb"/>
				<ref name="e.ref"/>
				<ref name="e.quote"/>
				<ref name="e.num"/>
				<ref name="e.footnote"/>
			</choice>
		</zeroOrMore>
	</define>
	<!-- to allow recursion in some elements, e.g., dimensions -->
	<define name="m.mixed.elements">
		<text/>
		<ref name="e.abbr"/>
		<ref name="e.expan"/>
		<ref name="e.emph"/>
		<ref name="e.lb"/>
		<ref name="e.ref"/>
	</define>

	<define name="m.blocks">
		<choice>
			<ref name="m.inter"/>
			<ref name="e.p"/>
		</choice>
	</define>


	<define name="m.inter">
		<choice>
			<ref name="m.inter.noquote"/>
			<element name="blockquote">
				<ref name="a.common"/>
				<oneOrMore>
					<choice>
						<ref name="m.inter.noquote"/>
						<ref name="e.p"/>
					</choice>
				</oneOrMore>
			</element>

		</choice>
	</define>
	<define name="m.inter.noquote">
		<choice>
			<element name="chronlist">
				<ref name="a.common"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<ref name="e.head"/>
				</optional>
				<optional>
					<ref name="e.listhead"/>
				</optional>
				<oneOrMore>
					<element name="chronitem">
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
						</choice>
						<choice>
							<oneOrMore>
								<element name="e.chronologicalset">
									<ref name="a.common"/>
									<oneOrMore>
										<ref name="e.event"/>
									</oneOrMore>
									<!--		<zeroOrMore>
										<ref name="e.placeentry"/>
									</zeroOrMore>
						   -->
								</element>
							</oneOrMore>
							<group>
								<ref name="e.event"/>
								<!--		<optional>
									<ref name="e.placeentry"/>
								</optional>
						-->
							</group>
						</choice>
					</element>
				</oneOrMore>
			</element>
			<ref name="e.list"/>
			<ref name="e.table"/>
		</choice>
	</define>
	<define name="m.cOrC01">
		<choice>
			<oneOrMore>
				<ref name="e.c"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.c01"/>
			</oneOrMore>
		</choice>
	</define>
	<define name="m.c.base">
		<ref name="a.desc.c"/>
		<optional>
			<ref name="e.head"/>
		</optional>
		<ref name="e.did"/>
		<zeroOrMore>
			<ref name="m.desc.base"/>
		</zeroOrMore>
		<zeroOrMore>
			<choice>
				<ref name="e.dao"/>
			</choice>
		</zeroOrMore>
		<optional>
			<element name="e.relations">
				<oneOrMore>
					<ref name="m.relation"/>
				</oneOrMore>
			</element>
		</optional>
	</define>

	<define name="m.access">
		<choice>
			<ref name="e.persname"/>
			<ref name="e.corpname"/>
			<ref name="e.famname"/>
			<ref name="e.geogname"/>
			<ref name="e.name"/>
			<ref name="e.occupation"/>
			<ref name="e.subject"/>
			<ref name="e.genreform"/>
			<ref name="e.function"/>
		</choice>
	</define>

	<define name="m.access.title">
		<choice>
			<ref name="m.access"/>
			<ref name="e.title"/>
		</choice>
	</define>
	<!--
	<define name="m.access.entry">
		<choice>
			<element name="corpNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="famNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="geogNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="genericNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="occupationEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>

				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="persNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="subjectEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="genreFormEntry">
				<ref name="a.common"/>
				<optional>
				</optional>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="functionEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="titleEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
		</choice>
	</define>
	-->
	<define name="m.para.content">
		<choice>
			<ref name="m.mixed.basic.plus"/>
			<ref name="m.access.title"/>
			<ref name="e.list"/>
		</choice>

	</define>

	<define name="m.data.standarddate">
		<choice>
			<data type="date">
				<param name="maxInclusive">2099-12-31</param>
			</data>
			<data type="gYear">
				<param name="maxInclusive">2099</param>
			</data>
			<data type="gYearMonth">
				<param name="maxInclusive">2099-12</param>
			</data>
		</choice>
	</define>

	<define name="m.datesingle">
		<optional>
			<attribute name="standarddate">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notbefore">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notafter">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<text/>
	</define>

	<define name="m.relation">
		<element name="relation">
			<ref name="a.common"/>
			<optional>
				<attribute name="scriptcode">
					<data type="string"/>
				</attribute>
			</optional>
			<attribute name="relationtype">
				<choice>
					<value>cpfrelation</value>
					<value>resourcerelation</value>
					<value>functionrelation</value>
					<value>otherrelation</value>
				</choice>
			</attribute>
			<optional>
				<attribute name="otherrelationtype">
					<data type="string"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="lastdatetimeverified">
					<data type="dateTime"/>
				</attribute>
			</optional>
			<optional>
				<ref name="am.simplelink"/>
			</optional>

			<optional>
				<choice>
					<ref name="e.datesingle"/>
					<ref name="e.dateset"/>
					<ref name="e.daterange"/>
				</choice>
			</optional>
			<oneOrMore>
				<element name="relationentry">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<optional>

						<attribute name="transliteration">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<text/>
				</element>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
			<!--		<optional>
				<element a:id="placeEntry" name="placeEntry">
					<ref name="a.common"/>
					<optional>
						<ref name="m.entryLanguageAttributes"/>
					</optional>
					<optional>
						<ref name="a.localType"/>
					</optional>
					<optional>
						<attribute a:id="countryCode" name="countryCode">
							<choice>
								<data type="string">
									<param name="pattern">[A-Z]{2}</param>
								</data>
								<data type="string">
									<param name="pattern">[A-Z]{4}</param>
								</data>
							</choice>
						</attribute>
					</optional>
					<optional>
						<ref name="a.vocabularySource"/>
					</optional>
					<optional>
						<attribute a:id="accuracy" name="accuarcy">
							<text/>
						</attribute>
					</optional>
					<optional>
						<ref name="m.geographicalCoordinates"/>
					</optional>
					<text/>
				</element>
				
			</optional>
			-->
			<optional>
				<ref name="e.objectxmlwrap"/>
			</optional>
		</element>
	</define>

	<define name="a.internal.ptr">
		<optional>
			<attribute name="target">
				<data type="IDREF"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xPointer"/>
		</optional>
		<ref name="am.simplelink"/>
	</define>
	<define name="am.simplelink">
		<attribute a:defaultValue="simple" name="type">
			<value>simple</value>
		</attribute>
		<optional>
			<ref name="a.link.href"/>
		</optional>
		<optional>
			<ref name="a.link.role"/>
		</optional>
		<optional>
			<ref name="a.link.arcrole"/>
		</optional>
		<optional>
			<ref name="a.link.title"/>
		</optional>
		<optional>
			<ref name="a.link.show"/>
		</optional>
		<optional>
			<ref name="a.link.actuate"/>
		</optional>
	</define>

	<define name="a.link.href">
		<attribute name="href">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.role">
		<attribute name="linkrole">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.arcrole">
		<attribute name="linkarcrole">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.title">
		<attribute name="linktitle"/>
	</define>
	<define name="a.link.show">
		<attribute name="show">
			<choice>
				<value>new</value>
				<value>replace</value>
				<value>embed</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>
	<define name="a.link.actuate">
		<attribute name="actuate">
			<choice>
				<value>onLoad</value>
				<value>onRequest</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>

	<define name="am.dates.calendar">
		<optional>
			<attribute name="calendar">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="am.dates.era">
		<optional>
			<attribute name="era">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="am.date.normal">
		<optional>
			<attribute name="normal">
				<data type="token"/>
			</attribute>
		</optional>
	</define>
	<define name="data.repositorycode">
		<data type="token"/>
	</define>
	<define name="am.countrycode">
		<optional>
			<attribute name="countrycode">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

</grammar>
