ead_revised.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	
Creative Commons Legal Code
CC0 1.0 Universal

    CREATIVE COMMONS CORPORATION IS NOT A LAW FIRM AND DOES NOT PROVIDE LEGAL SERVICES. DISTRIBUTION OF THIS DOCUMENT DOES NOT CREATE AN ATTORNEY-CLIENT RELATIONSHIP. CREATIVE COMMONS PROVIDES THIS INFORMATION ON AN "AS-IS" BASIS. CREATIVE COMMONS MAKES NO WARRANTIES REGARDING THE USE OF THIS DOCUMENT OR THE INFORMATION OR WORKS PROVIDED HEREUNDER, AND DISCLAIMS LIABILITY FOR DAMAGES RESULTING FROM THE USE OF THIS DOCUMENT OR THE INFORMATION OR WORKS PROVIDED HEREUNDER. 
    
Statement of Purpose

The laws of most jurisdictions throughout the world automatically confer exclusive Copyright and Related Rights (defined below) upon the creator and subsequent owner(s) (each and all, an "owner") of an original work of authorship and/or a database (each, a "Work").

Certain owners wish to permanently relinquish those rights to a Work for the purpose of contributing to a commons of creative, cultural and scientific works ("Commons") that the public can reliably and without fear of later claims of infringement build upon, modify, incorporate in other works, reuse and redistribute as freely as possible in any form whatsoever and for any purposes, including without limitation commercial purposes. These owners may contribute to the Commons to promote the ideal of a free culture and the further production of creative, cultural and scientific works, or to gain reputation or greater distribution for their Work in part through the use and efforts of others.

For these and/or other purposes and motivations, and without any expectation of additional consideration or compensation, the person associating CC0 with a Work (the "Affirmer"), to the extent that he or she is an owner of Copyright and Related Rights in the Work, voluntarily elects to apply CC0 to the Work and publicly distribute the Work under its terms, with knowledge of his or her Copyright and Related Rights in the Work and the meaning and intended legal effect of CC0 on those rights.

1. Copyright and Related Rights. A Work made available under CC0 may be protected by copyright and related or neighboring rights ("Copyright and Related Rights"). Copyright and Related Rights include, but are not limited to, the following:

    the right to reproduce, adapt, distribute, perform, display, communicate, and translate a Work;
    moral rights retained by the original author(s) and/or performer(s);
    publicity and privacy rights pertaining to a person's image or likeness depicted in a Work;
    rights protecting against unfair competition in regards to a Work, subject to the limitations in paragraph 4(a), below;
    rights protecting the extraction, dissemination, use and reuse of data in a Work;
    database rights (such as those arising under Directive 96/9/EC of the European Parliament and of the Council of 11 March 1996 on the legal protection of databases, and under any national implementation thereof, including any amended or successor version of such directive); and
    other similar, equivalent or corresponding rights throughout the world based on applicable law or treaty, and any national implementations thereof.
    
2. Waiver. To the greatest extent permitted by, but not in contravention of, applicable law, Affirmer hereby overtly, fully, permanently, irrevocably and unconditionally waives, abandons, and surrenders all of Affirmer's Copyright and Related Rights and associated claims and causes of action, whether now known or unknown (including existing as well as future claims and causes of action), in the Work (i) in all territories worldwide, (ii) for the maximum duration provided by applicable law or treaty (including future time extensions), (iii) in any current or future medium and for any number of copies, and (iv) for any purpose whatsoever, including without limitation commercial, advertising or promotional purposes (the "Waiver"). Affirmer makes the Waiver for the benefit of each member of the public at large and to the detriment of Affirmer's heirs and successors, fully intending that such Waiver shall not be subject to revocation, rescission, cancellation, termination, or any other legal or equitable action to disrupt the quiet enjoyment of the Work by the public as contemplated by Affirmer's express Statement of Purpose.

3. Public License Fallback. Should any part of the Waiver for any reason be judged legally invalid or ineffective under applicable law, then the Waiver shall be preserved to the maximum extent permitted taking into account Affirmer's express Statement of Purpose. In addition, to the extent the Waiver is so judged Affirmer hereby grants to each affected person a royalty-free, non transferable, non sublicensable, non exclusive, irrevocable and unconditional license to exercise Affirmer's Copyright and Related Rights in the Work (i) in all territories worldwide, (ii) for the maximum duration provided by applicable law or treaty (including future time extensions), (iii) in any current or future medium and for any number of copies, and (iv) for any purpose whatsoever, including without limitation commercial, advertising or promotional purposes (the "License"). The License shall be deemed effective as of the date CC0 was applied by Affirmer to the Work. Should any part of the License for any reason be judged legally invalid or ineffective under applicable law, such partial invalidity or ineffectiveness shall not invalidate the remainder of the License, and in such case Affirmer hereby affirms that he or she will not (i) exercise any of his or her remaining Copyright and Related Rights in the Work or (ii) assert any associated claims and causes of action with respect to the Work, in either case contrary to Affirmer's express Statement of Purpose.

4. Limitations and Disclaimers.

    No trademark or patent rights held by Affirmer are waived, abandoned, surrendered, licensed or otherwise affected by this document.
    Affirmer offers the Work as-is and makes no representations or warranties of any kind concerning the Work, express, implied, statutory or otherwise, including without limitation warranties of title, merchantability, fitness for a particular purpose, non infringement, or the absence of latent or other defects, accuracy, or the present or absence of errors, whether or not discoverable, all to the greatest extent permissible under applicable law.
    Affirmer disclaims responsibility for clearing rights of other persons that may apply to the Work or any use thereof, including without limitation any person's Copyright and Related Rights in the Work. Further, Affirmer disclaims responsibility for obtaining any necessary consents, permissions or other rights required for any use of the Work.
    Affirmer understands and acknowledges that Creative Commons is not a party to this document and has no duty or obligation with respect to this CC0 or use of the Work.
    
    
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="http://ead3.archivists.org/schema/"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<ref name="e.ead"/>
	</start>
	<define name="e.ead">
		<element name="ead">
			<ref name="a.common"/>
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<ref name="e.control"/>
			<element name="archdesc">
				<ref name="a.common"/>
				<attribute name="level">
					<ref name="av.level"/>
				</attribute>
				<ref name="a.desc.base"/>
				<optional>
					<attribute name="relatedencoding"/>
				</optional>
				<ref name="e.did"/>
				<zeroOrMore>
					<ref name="m.desc.base.full"/>
				</zeroOrMore>
			</element>
		</element>
	</define>

	<!-- ELEMENTS -->
	<!-- Control -->

	<define name="e.control">
		<element name="control">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<attribute name="base">
					<data type="anyURI"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="langencoding">
					<choice>
						<value>iso639-2b</value>
						<value>otherlangencoding</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="scriptencoding">
					<choice>
						<value>iso15924</value>
						<value>otherscriptencoding</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="dateencoding">
					<choice>
						<value>iso8601</value>
						<value>otherdateencoding</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="countryencoding">
					<choice>
						<value>iso3166-1</value>
						<value>othercountryencoding</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="repositoryencoding">
					<choice>
						<value>iso15511</value>
						<value>otherrepositoryencoding</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<element name="recordid">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<optional>
					<attribute name="instanceurl">
						<data type="anyURI"/>
					</attribute>
				</optional>
				<text/>
			</element>
			<zeroOrMore>
				<element name="otherrecordid">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<text/>
				</element>
			</zeroOrMore>
			<zeroOrMore>
				<element name="representation">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="am.simplelink"/>
					<ref name="a.localtype"/>
					<text/>
				</element>
			</zeroOrMore>
			<element name="filedesc">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<element name="titlestmt">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<oneOrMore>
						<ref name="e.titleproper"/>
					</oneOrMore>
					<zeroOrMore>
						<ref name="e.subtitle"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="e.author"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="e.sponsor"/>
					</zeroOrMore>
				</element>
				<optional>
					<element name="editionstmt">
						<ref name="a.common"/>
						<ref name="a.encodinganalog"/>
						<oneOrMore>
							<choice>
								<ref name="e.edition"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="publicationstmt">
						<ref name="a.common"/>
						<ref name="a.encodinganalog"/>
						<oneOrMore>
							<choice>
								<ref name="e.publisher"/>
								<ref name="e.date"/>
								<ref name="e.address"/>
								<ref name="e.num"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="seriesstmt">
						<ref name="a.common"/>
						<ref name="a.encodinganalog"/>
						<oneOrMore>
							<choice>
								<ref name="e.titleproper"/>
								<ref name="e.num"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="notestmt">
						<ref name="a.common"/>
						<ref name="a.encodinganalog"/>
						<oneOrMore>
							<ref name="e.controlnote"/>
						</oneOrMore>
					</element>
				</optional>
			</element>
			<element name="maintenancestatus">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<attribute name="value">
					<choice>
						<value>revised</value>
						<value>deleted</value>
						<value>new</value>
						<value>deletedsplit</value>
						<value>deletedmerged</value>
						<value>deletedreplaced</value>
						<value>cancelled</value>
						<value>derived</value>
					</choice>
				</attribute>
				<text/>
			</element>
			<optional>
				<element name="publicationstatus">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<attribute name="value">
						<choice>
							<value>inprocess</value>
							<value>approved</value>
							<value>published</value>
						</choice>
					</attribute>
					<text/>
				</element>
			</optional>
			<ref name="e.maintenanceagency"/>
			<zeroOrMore>
				<element name="languagedeclaration">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="e.language"/>
					<ref name="e.script"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>
			</zeroOrMore>
			<zeroOrMore>

				<element name="conventiondeclaration">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<optional>
						<ref name="e.abbr"/>
					</optional>
					<ref name="e.citation"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>

			</zeroOrMore>
			<zeroOrMore>
				<element name="localtypedeclaration">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<optional>
						<ref name="e.abbr"/>
					</optional>
					<ref name="e.citation"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>
			</zeroOrMore>
			<zeroOrMore>
				<element name="localcontrol">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<optional>
						<element name="term">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<optional>
								<attribute name="transliteration"/>
							</optional>
							<optional>
								<ref name="a.lastdatetimeverified"/>
							</optional>
							<ref name="a.access.no.normal"/>
							<text/>
						</element>
					</optional>
					<optional>
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
						</choice>
					</optional>
				</element>
			</zeroOrMore>
			<element name="maintenancehistory">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<oneOrMore>
					<element name="maintenanceevent">
						<ref name="a.common"/>
						<ref name="a.encodinganalog"/>
						<element name="eventtype">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<attribute name="value">
								<choice>
									<value>created</value>
									<value>revised</value>
									<value>deleted</value>
									<value>cancelled</value>
									<value>derived</value>
									<value>updated</value>
									<value>unknown</value>
								</choice>
							</attribute>
							<text/>
						</element>
						<element name="eventdatetime">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<optional>
								<attribute name="standarddatetime">
									<data type="token"/>
								</attribute>
							</optional>
							<text/>
						</element>
						<element name="agenttype">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<attribute name="value">
								<choice>
									<value>human</value>
									<value>machine</value>
									<value>unknown</value>
								</choice>
							</attribute>
							<text/>
						</element>
						<element a:id="agent" name="agent">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<text/>
						</element>
						<zeroOrMore>
							<element a:id="eventdesccription" name="eventdescription">
								<ref name="a.common"/>
								<ref name="a.encodinganalog"/>
								<ref name="a.localtype"/>
								<text/>
							</element>
						</zeroOrMore>
					</element>
				</oneOrMore>
			</element>
			<optional>
				<element name="sources">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<optional>
						<attribute name="base">
							<data type="anyURI"/>
						</attribute>
					</optional>
					<oneOrMore>
						<element name="source">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<optional>
								<ref name="a.lastdatetimeverified"/>
							</optional>
							<ref name="am.simplelink"/>
							<zeroOrMore>
								<element name="sourceentry">
									<ref name="a.common"/>
									<ref name="a.encodinganalog"/>
									<optional>
										<attribute name="transliteration"/>
									</optional>
									<text/>
								</element>
							</zeroOrMore>
							<optional>
								<ref name="e.objectxmlwrap"/>
							</optional>
							<optional>
								<ref name="e.descriptivenote"/>
							</optional>
						</element>
					</oneOrMore>
				</element>
			</optional>
		</element>
	</define>

	<define name="e.titleproper">
		<element name="titleproper">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<optional>
				<attribute name="render">
					<ref name="av.render"/>
				</attribute>
			</optional>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.subtitle">
		<element name="subtitle">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.author">
		<element name="author">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.sponsor">
		<element name="sponsor">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.edition">
		<element name="edition">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.date">
		<element name="date">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>

	<define name="e.publisher">
		<element name="publisher">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.controlnote">
		<element name="controlnote">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>


	<define name="e.maintenanceagency">
		<element name="maintenanceagency">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="am.countrycode"/>
			<optional>
				<element name="agencycode">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<text/>
				</element>
			</optional>
			<zeroOrMore>
				<element name="otheragencycode">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<text/>
				</element>
			</zeroOrMore>
			<oneOrMore>
				<element name="agencyname">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<ref name="a.localtype"/>
					<text/>
				</element>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>

	<define name="e.citation">
		<element a:id="citation" name="citation">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="am.simplelink"/>
			<optional>
				<ref name="a.lastdatetimeverified"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>



	<!-- did -->

	<define name="e.did">
		<element name="did">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.did"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.origination">
		<element name="origination">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.label"/>
			<ref name="a.encodinganalog"/>
			<oneOrMore>
				<choice>
					<ref name="e.corpname"/>
					<ref name="e.famname"/>
					<ref name="e.name"/>
					<ref name="e.persname"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.physdescstructured">
		<element name="physdescstructured">
			<ref name="a.common"/>
			<ref name="a.label"/>
			<ref name="a.encodinganalog"/>
			<attribute name="physdescstructuredtype">
				<choice>
					<value>carrier</value>
					<value>materialtype</value>
					<value>spaceoccupied</value>
				</choice>
			</attribute>
			<ref name="a.coverage"/>
			<element name="quantity">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<optional>
					<attribute name="approximate">
						<ref name="av.yesorno"/>
					</attribute>
				</optional>
				<text/>
			</element>
			<element name="unittype">
				<ref name="a.common"/>
				<ref name="a.encodinganalog"/>
				<ref name="a.access.no.normal"/>
				<text/>
			</element>
			<zeroOrMore>
				<choice>
					<ref name="e.physfacet"/>
					<ref name="e.dimensions"/>
				</choice>
			</zeroOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>

	<define name="e.repository">
		<element name="repository">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.label"/>
			<ref name="a.encodinganalog"/>
			<oneOrMore>
				<choice>
					<ref name="e.corpname"/>
					<ref name="e.famname"/>
					<ref name="e.name"/>
					<ref name="e.persname"/>
				</choice>
			</oneOrMore>
			<optional>
				<ref name="e.address"/>
			</optional>
		</element>
	</define>

	<define name="e.unittitle">
		<element name="unittitle">
			<ref name="a.common"/>
			<ref name="a.label"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<attribute name="normal"/>
			</optional>
			<ref name="m.mixed.basic.plus.access"/>
		</element>
	</define>


	<define name="e.unitdate">
		<element name="unitdate">
			<ref name="a.common"/>
			<ref name="a.label"/>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>

	<define name="e.unitdatestructured">
		<element name="unitdatestructured">
			<ref name="a.common"/>
			<ref name="a.label"/>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<ref name="a.encodinganalog"/>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<choice>
				<ref name="e.datesingle"/>
				<ref name="e.daterange"/>
				<ref name="e.dateset"/>
			</choice>
		</element>
	</define>

	<define name="e.datesingle">
		<element name="datesingle">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="m.datesingle"/>
		</element>
	</define>


	<define name="e.daterange">
		<element name="daterange">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<optional>
				<element name="fromdate">
					<ref name="a.common"/>
					<ref name="a.localtype"/>
					<ref name="m.datesingle"/>
				</element>
			</optional>
			<optional>
				<element name="todate">
					<ref name="a.common"/>
					<ref name="a.localtype"/>
					<ref name="m.datesingle"/>
				</element>
			</optional>
		</element>
	</define>

	<define name="e.dateset">
		<element name="dateset">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<choice>
				<ref name="e.datesingle"/>
				<ref name="e.daterange"/>
			</choice>
			<oneOrMore>
				<choice>
					<ref name="e.datesingle"/>
					<ref name="e.daterange"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.dao">
		<element name="dao">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.label"/>
			<ref name="am.simplelink"/>
			<ref name="a.identifier"/>
			<optional>
				<attribute name="entityref">
					<data type="ENTITY"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="xpointer"/>
			</optional>
			<attribute name="daotype">
				<choice>
					<value>borndigital</value>
					<value>derived</value>
					<value>unknown</value>
					<value>other</value>
				</choice>
			</attribute>
			<optional>
				<attribute name="otherdaotype"/>
			</optional>
			<optional>
				<ref name="a.coverage"/>
			</optional>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>

	<define name="e.daoset">
		<element name="daoset">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.label"/>
			<ref name="a.coverage"/>
			<ref name="e.dao"/>
			<oneOrMore>
				<ref name="e.dao"/>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>



	<define name="e.materialspec">
		<element name="materialspec">
			<ref name="a.common"/>
			<ref name="a.label"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>

	<!-- archdesc notes -->

	<define name="e.accessrestrict">
		<element name="accessrestrict">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.accessrestrict"/>
				</choice>
			</oneOrMore>

		</element>
	</define>



	<define name="e.accruals">
		<element name="accruals">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.accruals"/>
				</choice>
			</oneOrMore>

		</element>
	</define>

	<define name="e.fileplan">
		<element name="fileplan">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.fileplan"/>
				</choice>
			</oneOrMore>

		</element>
	</define>

	<define name="e.acqinfo">
		<element name="acqinfo">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.acqinfo"/>
				</choice>
			</oneOrMore>

		</element>
	</define>

	<define name="e.altformavail">
		<element name="altformavail">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.altformavail"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.originalsloc">
		<element name="originalsloc">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.originalsloc"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.phystech">
		<element name="phystech">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.phystech"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.appraisal">
		<element name="appraisal">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.appraisal"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.custodhist">
		<element name="custodhist">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.custodhist"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.index">
		<element name="index">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<choice>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<ref name="e.indexentry"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<ref name="e.index"/>
				</oneOrMore>
			</choice>
		</element>
	</define>

	<define name="e.indexentry">
		<element name="indexentry">
			<ref name="a.common"/>
			<choice>
				<element name="namegrp">
					<ref name="a.common"/>
					<oneOrMore>
						<ref name="m.access"/>
					</oneOrMore>
				</element>
				<ref name="m.access"/>
			</choice>
			<optional>
				<choice>
					<element name="ptrgrp">
						<ref name="a.common"/>
						<oneOrMore>
							<ref name="m.refs"/>
						</oneOrMore>
					</element>
					<ref name="m.refs"/>
				</choice>
			</optional>
			<zeroOrMore>
				<ref name="e.indexentry"/>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.legalstatus">
		<element name="legalstatus">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.legalstatus"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.prefercite">
		<element name="prefercite">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.prefercite"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.processinfo">
		<element name="processinfo">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.processinfo"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.userestrict">
		<element name="userestrict">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.userestrict"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.bioghist">
		<element name="bioghist">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.bioghist"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.controlaccess">
		<element name="controlaccess">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="m.access"/>
					<ref name="e.controlaccess"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.odd">
		<element name="odd">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.odd"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.scopecontent">
		<element name="scopecontent">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.scopecontent"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.arrangement">
		<element name="arrangement">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.arrangement"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.bibliography">
		<element name="bibliography">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.bibliography"/>
					<ref name="e.archref"/>
					<ref name="e.bibref"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.relatedmaterial">
		<element name="relatedmaterial">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.relatedmaterial"/>
					<ref name="e.archref"/>
					<ref name="e.bibref"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.separatedmaterial">
		<element name="separatedmaterial">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.separatedmaterial"/>
					<ref name="e.archref"/>
					<ref name="e.bibref"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.otherfindaid">
		<element name="otherfindaid">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="e.otherfindaid"/>
					<ref name="e.archref"/>
					<ref name="e.bibref"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<!-- controlaccess elements -->
	<define name="e.corpname">
		<element name="corpname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.famname">
		<element name="famname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.geogname">
		<element name="geogname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
			<zeroOrMore>
				<element name="geographiccoordinates">
					<ref name="a.common"/>
					<attribute name="coordinatesystem">
						<text/>
					</attribute>
					<text/>
				</element>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.name">
		<element name="name">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.persname">
		<element name="persname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.occupation">
		<element name="occupation">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.subject">
		<element name="subject">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.genreform">
		<element name="genreform">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.function">
		<element name="function">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.relator"/>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.title">
		<element name="title">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.access"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.relator"/>
			<optional>
				<attribute name="render">
					<ref name="av.render"/>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.part">
		<element name="part">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<ref name="a.access.no.normal"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>


	<!-- list -->
	<define name="e.list">
		<element name="list">
			<ref name="a.common"/>
			<optional>
				<attribute name="listtype">
					<choice>
						<value>deflist</value>
						<value>unordered</value>
						<value>ordered</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="mark">
					<choice>
						<value>disc</value>
						<value>circle</value>
						<value>square</value>
						<value>decimal</value>
						<value>decimal-leading-zero</value>
						<value>lower-roman</value>
						<value>upper-roman</value>
						<value>lower-greek</value>
						<value>lower-latin</value>
						<value>upper-latin</value>
						<value>armenian</value>
						<value>georgian</value>
						<value>lower-alpha</value>
						<value>upper-alpha</value>
						<value>none</value>
						<value>inherit</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="numeration">
					<choice>
						<value>arabic</value>
						<value>upperalpha</value>
						<value>loweralpha</value>
						<value>upperroman</value>
						<value>lowerroman</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<ref name="e.item"/>
				</oneOrMore>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<element name="defitem">
							<ref name="a.common"/>
							<element name="label">
								<ref name="a.common"/>
								<ref name="m.mixed.basic"/>
							</element>
							<ref name="e.item"/>
						</element>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>

	<define name="e.item">
		<element name="item">
			<ref name="a.common"/>
			<ref name="m.para.content"/>
		</element>
	</define>

	<define name="e.head">
		<element name="head">
			<ref name="a.common"/>
			<optional>
				<attribute name="althead"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.listhead">
		<element name="listhead">
			<ref name="a.common"/>
			<optional>
				<element name="head01">
					<ref name="a.common"/>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
			<optional>
				<element name="head02">
					<ref name="a.common"/>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
			<optional>
				<element name="head03">
					<ref name="a.common"/>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
		</element>
	</define>
	<!-- table -->

	<define name="e.table">
		<element name="table">
			<ref name="a.common"/>
			<optional>
				<attribute name="frame">
					<choice>
						<value>top</value>
						<value>bottom</value>
						<value>topbot</value>
						<value>all</value>
						<value>sides</value>
						<value>none</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="colsep">
					<ref name="av.zeroorone"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="rowsep">
					<ref name="av.zeroorone"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="pgwide">
					<ref name="av.zeroorone"/>
				</attribute>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<element name="tgroup">
					<ref name="a.common"/>
					<attribute name="cols">
						<data type="NMTOKEN"/>
					</attribute>
					<optional>
						<attribute name="colsep">
							<ref name="av.zeroorone"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="rowsep">
							<ref name="av.zeroorone"/>
						</attribute>
					</optional>
					<optional>
						<ref name="a.align"/>
					</optional>
					<zeroOrMore>
						<element name="colspec">
							<optional>
								<attribute name="colnum">
									<data type="NMTOKEN"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="colname">
									<data type="NMTOKEN"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="colwidth"/>
							</optional>
							<optional>
								<attribute name="colsep">
									<ref name="av.zeroorone"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="rowsep">
									<ref name="av.zeroorone"/>
								</attribute>
							</optional>
							<optional>
								<ref name="a.align"/>
							</optional>
							<optional>
								<attribute name="char"/>
							</optional>
							<optional>
								<attribute name="charoff">
									<data type="NMTOKEN"/>
								</attribute>
							</optional>
							<empty/>
						</element>
					</zeroOrMore>
					<optional>
						<ref name="e.thead"/>
					</optional>
					<element name="tbody">
						<ref name="a.common"/>
						<optional>
							<ref name="a.valign"/>
						</optional>
						<oneOrMore>
							<ref name="e.row"/>
						</oneOrMore>
					</element>
				</element>
			</oneOrMore>
		</element>
	</define>

	<define name="e.row">
		<element name="row">
			<ref name="a.common"/>
			<optional>
				<attribute name="rowsep">
					<ref name="av.zeroorone"/>
				</attribute>
			</optional>
			<optional>
				<ref name="a.valign"/>
			</optional>
			<oneOrMore>
				<element name="entry">
					<ref name="a.common"/>
					<optional>
						<attribute name="colname">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="namest">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="nameend">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="morerows">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="colsep">
							<ref name="av.zeroorone"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="rowsep">
							<ref name="av.zeroorone"/>
						</attribute>
					</optional>
					<optional>
						<ref name="a.align"/>
					</optional>
					<optional>
						<attribute name="char"/>
					</optional>
					<optional>
						<attribute name="charoff">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<ref name="a.valign"/>
					</optional>
					<ref name="m.para.content"/>
				</element>
			</oneOrMore>
		</element>
	</define>
	<define name="e.thead">
		<element name="thead">
			<ref name="a.common"/>
			<optional>
				<ref name="a.valign"/>
			</optional>
			<oneOrMore>
				<ref name="e.row"/>
			</oneOrMore>
		</element>
	</define>
	<!-- phrase level -->

	<define name="e.abbr">
		<element name="abbr">
			<ref name="a.common"/>
			<optional>
				<attribute name="expan"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.expan">
		<element name="expan">
			<ref name="a.common"/>
			<optional>
				<attribute name="abbr"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.num">
		<element name="num">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.quote">
		<element name="quote">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="m.mixed.basic"/>
		</element>
	</define>


	<define name="e.emph">
		<element name="emph">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<ref name="av.render"/>
				</attribute>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>

	<define name="e.foreign">
		<element name="foreign">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<ref name="av.render"/>
				</attribute>
			</optional>
			<text/>
		</element>
	</define>


	<define name="e.lb">
		<element name="lb">
			<empty/>
		</element>
	</define>

	<define name="e.ref">
		<element name="ref">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="e.abbr"/>
					<ref name="e.expan"/>
					<ref name="e.emph"/>
					<ref name="e.lb"/>
					<ref name="e.ptr"/>
					<ref name="e.quote"/>
					<ref name="e.num"/>
					<ref name="e.footnote"/>
					<ref name="e.date"/>
					<ref name="m.access"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.ptr">
		<element name="ptr">
			<ref name="a.common.empty"/>
			<ref name="a.internal.ptr"/>
			<empty/>
		</element>
	</define>


	<!-- bibref and archref -->
	<define name="e.bibref">
		<element name="bibref">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic.plus.access"/>
		</element>
	</define>

	<define name="e.archref">
		<element name="archref">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="m.mixed.basic.plus.access"/>
		</element>
	</define>

	<!-- dsc -->
	<define name="e.dsc">
		<element name="dsc">
			<ref name="a.common"/>
			<optional>
				<attribute name="dsctype">
					<choice>
						<value>analyticover</value>
						<value>combined</value>
						<value>in-depth</value>
						<value>otherdsctype</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="otherdsctype">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<ref name="a.encodinganalog"/>
			<group>
				<optional>
					<ref name="e.head"/>
				</optional>
				<zeroOrMore>
					<ref name="m.blocks"/>
				</zeroOrMore>
			</group>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<optional>
				<ref name="m.cOrC01"/>
			</optional>
		</element>
	</define>
	<define name="e.c">
		<element name="c">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c01">
		<element name="c01">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c02"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c02">
		<element name="c02">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c03"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c03">
		<element name="c03">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c04"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c04">
		<element name="c04">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c05"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c05">
		<element name="c05">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c06"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c06">
		<element name="c06">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c07"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c07">
		<element name="c07">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c08"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c08">
		<element name="c08">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<zeroOrMore>
					<ref name="e.c09"/>
				</zeroOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c09">
		<element name="c09">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c10"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c10">
		<element name="c10">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c11"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c11">
		<element name="c11">
			<ref name="m.c.base"/>
			<zeroOrMore>
				<optional>
					<ref name="e.thead"/>
				</optional>
				<oneOrMore>
					<ref name="e.c12"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c12">
		<element name="c12">
			<ref name="m.c.base"/>
		</element>
	</define>

	<!-- other phrase level -->

	<define name="e.dimensions">
		<element name="dimensions">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<attribute name="unit"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic"/>
					<ref name="e.dimensions"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.physfacet">
		<element name="physfacet">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.access.no.normal"/>
			<ref name="a.localtype"/>
			<ref name="m.mixed.basic.plus.access"/>
		</element>
	</define>
	<define name="e.language">
		<element name="language">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.label"/>
			<optional>
				<attribute name="langcode"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.script">
		<element name="script">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.label"/>
			<optional>
				<attribute name="scriptcode"/>
			</optional>
			<text/>
		</element>
	</define>

	<!-- blocks -->
	<define name="e.languageset">
		<element name="languageset">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<oneOrMore>
				<ref name="e.language"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.script"/>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>

	</define>

	<define name="e.address">
		<element name="address">
			<ref name="a.common"/>
			<oneOrMore>
				<element name="addressline">
					<ref name="a.common"/>
					<ref name="a.localtype"/>
					<ref name="m.mixed.basic"/>
				</element>
			</oneOrMore>
		</element>
	</define>



	<define name="e.descriptivenote">
		<element name="descriptivenote">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<oneOrMore>
				<ref name="e.p"/>
			</oneOrMore>
		</element>
	</define>


	<define name="e.p">
		<element name="p">
			<ref name="a.common"/>
			<ref name="m.para.content"/>
		</element>
	</define>


	<define name="e.footnote">
		<element name="footnote">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<optional>
				<attribute name="show">
					<choice>
						<value>embed</value>
						<value>new</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="actuate">
					<choice>
						<value>onload</value>
						<value>onrequest</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.event">
		<element name="event">
			<ref name="a.common"/>
			<ref name="a.localtype"/>
			<ref name="m.para.content"/>
		</element>
	</define>

	<!-- relations -->

	<define name="e.relations">
		<element name="relations">
			<ref name="a.common"/>
			<ref name="a.encodinganalog"/>
			<ref name="a.localtype"/>
			<optional>
				<attribute name="base">
					<data type="anyURI"/>
				</attribute>
			</optional>
			<oneOrMore>
				<element name="relation">
					<ref name="a.common"/>
					<ref name="a.encodinganalog"/>
					<attribute name="relationtype">
						<choice>
							<value>cpfrelation</value>
							<value>resourcerelation</value>
							<value>functionrelation</value>
							<value>otherrelationtype</value>
						</choice>
					</attribute>
					<optional>
						<attribute name="otherrelationtype">
							<data type="string"/>
						</attribute>
					</optional>
					<optional>
						<ref name="a.lastdatetimeverified"/>
					</optional>
					<ref name="am.simplelink"/>
					<zeroOrMore>
						<element name="relationentry">
							<ref name="a.common"/>
							<ref name="a.encodinganalog"/>
							<ref name="a.localtype"/>
							<optional>
								<attribute name="transliteration">
									<data type="NMTOKEN"/>
								</attribute>
							</optional>
							<text/>
						</element>
					</zeroOrMore>
					<optional>
						<ref name="e.objectxmlwrap"/>
					</optional>
					<optional>
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
							<ref name="e.dateset"/>
						</choice>
					</optional>
					<optional>
						<ref name="e.geogname"/>
					</optional>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>
			</oneOrMore>
		</element>
	</define>

	<define name="e.objectxmlwrap">
		<element name="objectxmlwrap">
			<ref name="a.common"/>
			<ref name="e.anyname"/>
		</element>
	</define>
	<define name="e.anyname">
		<element>
			<anyName>
				<except>
					<nsName ns="http://ead3.archivists.org/schema/"/>
				</except>
			</anyName>
			<zeroOrMore>
				<ref name="e.anyname"/>
			</zeroOrMore>
		</element>
	</define>



	<!-- MODELS -->

	<define name="m.blocks">
		<choice>
			<ref name="m.inter"/>
			<ref name="e.p"/>
		</choice>
	</define>

	<define name="m.inter">
		<choice>
			<ref name="m.inter.noquote"/>
			<element name="blockquote">
				<ref name="a.common"/>
				<oneOrMore>
					<choice>
						<ref name="m.inter.noquote"/>
						<ref name="e.p"/>
					</choice>
				</oneOrMore>
			</element>

		</choice>
	</define>

	<define name="m.inter.noquote">
		<choice>
			<element name="chronlist">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.encodinganalog"/>
				<optional>
					<ref name="e.head"/>
				</optional>
				<optional>
					<ref name="e.listhead"/>
				</optional>
				<oneOrMore>
					<element name="chronitem">
						<ref name="a.common"/>
						<ref name="a.localtype"/>
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
							<ref name="e.dateset"/>
						</choice>
						<choice>

							<group>
								<optional>
									<ref name="e.geogname"/>
								</optional>
								<ref name="e.event"/>
							</group>
							<oneOrMore>
								<element name="chronitemset">
									<ref name="a.common"/>
									<zeroOrMore>
										<ref name="e.geogname"/>
									</zeroOrMore>
									<oneOrMore>
										<ref name="e.event"/>
									</oneOrMore>
								</element>
							</oneOrMore>
						</choice>
					</element>
				</oneOrMore>
			</element>
			<ref name="e.list"/>
			<ref name="e.table"/>
		</choice>
	</define>

	<define name="m.cOrC01">
		<choice>
			<oneOrMore>
				<ref name="e.c"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.c01"/>
			</oneOrMore>
		</choice>
	</define>

	<define name="m.c.base">
		<ref name="a.desc.c"/>
		<optional>
			<ref name="e.head"/>
		</optional>
		<ref name="e.did"/>
		<zeroOrMore>
			<ref name="m.desc.base"/>
		</zeroOrMore>
	</define>

	<define name="m.access">
		<choice>
			<ref name="e.persname"/>
			<ref name="e.corpname"/>
			<ref name="e.famname"/>
			<ref name="e.geogname"/>
			<ref name="e.name"/>
			<ref name="e.occupation"/>
			<ref name="e.subject"/>
			<ref name="e.genreform"/>
			<ref name="e.function"/>
			<ref name="e.title"/>
		</choice>
	</define>



	<define name="m.para.content">
		<zeroOrMore>
			<choice>
				<ref name="m.mixed.basic.plus.access"/>
				<ref name="e.list"/>
			</choice>
		</zeroOrMore>
	</define>


	<define name="m.datesingle">
		<optional>
			<attribute name="standarddate">

				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notbefore">

				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notafter">

				<data type="token"/>
			</attribute>
		</optional>
		<ref name="m.mixed.basic"/>
	</define>

	<define name="m.desc.base">
		<choice>
			<ref name="e.accessrestrict"/>
			<ref name="e.accruals"/>
			<ref name="e.acqinfo"/>
			<ref name="e.altformavail"/>
			<ref name="e.appraisal"/>
			<ref name="e.arrangement"/>
			<ref name="e.bibliography"/>
			<ref name="e.bioghist"/>
			<ref name="e.controlaccess"/>
			<ref name="e.custodhist"/>
			<ref name="e.fileplan"/>
			<ref name="e.index"/>
			<ref name="e.legalstatus"/>
			<ref name="e.odd"/>
			<ref name="e.originalsloc"/>
			<ref name="e.otherfindaid"/>
			<ref name="e.phystech"/>
			<ref name="e.prefercite"/>
			<ref name="e.processinfo"/>
			<ref name="e.relatedmaterial"/>
			<ref name="e.relations"/>
			<ref name="e.scopecontent"/>
			<ref name="e.separatedmaterial"/>
			<ref name="e.userestrict"/>
		</choice>
	</define>

	<define name="m.desc.base.full">
		<choice>
			<ref name="m.desc.base"/>
			<ref name="e.dsc"/>
		</choice>
	</define>
	<define name="m.did">
		<choice>

			<element name="abstract">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<ref name="m.mixed.basic.plus.access"/>
			</element>
			
			<element name="container">
				<ref name="a.common"/>
				<ref name="a.label"/>
				<ref name="a.localtype"/>
				<ref name="a.encodinganalog"/>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="containerid">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			
			<ref name="e.dao"/>
			
			<ref name="e.daoset"/>
			
			<element name="didnote">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<ref name="m.mixed.basic"/>
			</element>

			<element name="langmaterial">
				<ref name="a.common"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<oneOrMore>
					<choice>
						<ref name="e.language"/>
						<ref name="e.languageset"/>
					</choice>
				</oneOrMore>
				<optional>
					<ref name="e.descriptivenote"/>
				</optional>
			</element>
			
			<ref name="e.materialspec"/>

			<ref name="e.origination"/>
			
			<element name="parallelphysdescset">
				<ref name="a.common"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<ref name="e.physdescstructured"/>
				<oneOrMore>
					<ref name="e.physdescstructured"/>
				</oneOrMore>
			</element>

			<element name="physdesc">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.physdescstructured"/>

			<element name="physloc">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.label"/>
				<ref name="a.encodinganalog"/>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.repository"/>

			<ref name="e.unitdate"/>

			<ref name="e.unitdatestructured"/>

			<element name="unitid">
				<ref name="a.common"/>
				<ref name="a.localtype"/>
				<ref name="a.label"/>
				<ref name="am.countrycode"/>
				<optional>
					<attribute name="repositorycode">
						<ref name="data.repositorycode"/>
					</attribute>
				</optional>
				<ref name="a.identifier"/>
				<ref name="a.encodinganalog"/>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.unittitle"/>

		</choice>
	</define>

	<define name="m.refs">
		<choice>
			<ref name="e.ref"/>
			<ref name="e.ptr"/>
		</choice>
	</define>

	<define name="m.mixed.basic">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="e.abbr"/>
				<ref name="e.expan"/>
				<ref name="e.emph"/>
				<ref name="e.lb"/>
				<ref name="e.ref"/>
				<ref name="e.ptr"/>
				<ref name="e.foreign"/>
			</choice>
		</zeroOrMore>
	</define>

	<define name="m.mixed.basic.plus">
		<zeroOrMore>
			<choice>
				<ref name="m.mixed.basic"/>
				<ref name="e.quote"/>
				<ref name="e.num"/>
				<ref name="e.footnote"/>
				<ref name="e.date"/>
			</choice>
		</zeroOrMore>
	</define>

	<define name="m.mixed.basic.plus.access">
		<zeroOrMore>
			<choice>
				<ref name="m.access"/>
				<ref name="m.mixed.basic"/>
				<ref name="e.quote"/>
				<ref name="e.num"/>
				<ref name="e.footnote"/>
				<ref name="e.date"/>
			</choice>
		</zeroOrMore>
	</define>

	<define name="a.internal.ptr">
		<optional>
			<attribute name="target">
				<data type="IDREF"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
		<ref name="am.simplelink"/>
	</define>

	<define name="am.simplelink">
		<optional>
			<ref name="a.link.href"/>
		</optional>
		<optional>
			<ref name="a.link.role"/>
		</optional>
		<optional>
			<ref name="a.link.arcrole"/>
		</optional>
		<optional>
			<ref name="a.link.title"/>
		</optional>
		<optional>
			<ref name="a.link.show"/>
		</optional>
		<optional>
			<ref name="a.link.actuate"/>
		</optional>
	</define>

	<!-- ATTRIBUTE MODELS -->
	<define name="a.common.empty">
		<optional>
			<attribute name="id">
				<data type="ID"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="altrender"/>
		</optional>
		<optional>
			<attribute name="audience">
				<choice>
					<value>external</value>
					<value>internal</value>
				</choice>
			</attribute>
		</optional>
	</define>

	<define name="a.common">
		<ref name="a.common.empty"/>
		<optional>
			<attribute name="lang"/>
		</optional>
		<optional>
			<attribute name="script"/>
		</optional>
	</define>

	<define name="a.desc.base">
		<optional>
			<attribute name="otherlevel">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<ref name="a.encodinganalog"/>
	</define>

	<define name="a.desc.c">
		<ref name="a.common"/>
		<optional>
			<attribute name="level">
				<ref name="av.level"/>
			</attribute>
		</optional>
		<ref name="a.desc.base"/>
	</define>

	<define name="a.access">
		<ref name="a.access.no.normal"/>
		<optional>
			<attribute name="normal"/>
		</optional>
	</define>

	<define name="a.access.no.normal">
		<optional>
			<attribute name="source">
				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rules">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<ref name="a.identifier"/>
	</define>
	
	<define name="a.identifier">
		<optional>
			<attribute name="identifier"/>
		</optional>
	</define>

	<define name="a.relator">
		<optional>
			<attribute name="relator"/>
		</optional>
	</define>

	<define name="a.label">
		<optional>
			<attribute name="label"/>
		</optional>
	</define>

	<define name="a.localtype">
		<optional>
			<attribute name="localtype"/>
		</optional>
	</define>

	<define name="a.encodinganalog">
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
	</define>

	<define name="a.link.href">
		<attribute name="href">
			<data type="anyURI"/>
		</attribute>
	</define>

	<define name="a.link.role">
		<attribute name="linkrole">
			<data type="anyURI"/>
		</attribute>
	</define>

	<define name="a.link.arcrole">
		<attribute name="arcrole">
			<data type="anyURI"/>
		</attribute>
	</define>

	<define name="a.link.title">
		<attribute name="linktitle"/>
	</define>

	<define name="a.link.show">
		<attribute name="show">
			<choice>
				<value>new</value>
				<value>replace</value>
				<value>embed</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>

	<define name="a.link.actuate">
		<attribute name="actuate">
			<choice>
				<value>onload</value>
				<value>onrequest</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>


	<define name="a.locatorLink">
		<attribute a:defaultValue="locator" name="linktype">
			<value>locator</value>
		</attribute>
		<attribute name="href"/>
		<optional>
			<attribute name="role"/>
		</optional>
		<optional>
			<attribute name="title"/>
		</optional>
		<optional>
			<attribute name="label"/>
		</optional>
	</define>


	<define name="am.dates.calendar">
		<optional>
			<attribute name="calendar">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

	<define name="am.dates.era">
		<optional>
			<attribute name="era">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

	<define name="am.date.normal">
		<optional>
			<attribute name="normal">
				<data type="token"/>
			</attribute>
		</optional>
	</define>

	<define name="data.repositorycode">
		<data type="token"/>
	</define>

	<define name="am.countrycode">
		<optional>
			<attribute name="countrycode">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

	<define name="a.lastdatetimeverified">
		<attribute name="lastdatetimeverified">
			<data type="token"/>
		</attribute>
	</define>

	<define name="a.coverage">
		<attribute name="coverage">
			<choice>
				<value>whole</value>
				<value>part</value>
			</choice>
		</attribute>
	</define>

	<define name="a.align">
		<attribute name="align">
			<choice>
				<value>left</value>
				<value>right</value>
				<value>center</value>
				<value>justify</value>
				<value>char</value>
			</choice>
		</attribute>
	</define>

	<define name="a.valign">
		<attribute name="valign">
			<choice>
				<value>top</value>
				<value>middle</value>
				<value>bottom</value>
			</choice>
		</attribute>
	</define>



	<!-- ATTRIBUTE VALUE LISTS -->

	<define name="av.level">
		<choice>
			<value>class</value>
			<value>collection</value>
			<value>file</value>
			<value>fonds</value>
			<value>item</value>
			<value>otherlevel</value>
			<value>recordgrp</value>
			<value>series</value>
			<value>subfonds</value>
			<value>subgrp</value>
			<value>subseries</value>
		</choice>
	</define>

	<define name="av.render">
		<choice>
			<value>altrender</value>
			<value>bold</value>
			<value>bolddoublequote</value>
			<value>bolditalic</value>
			<value>boldsinglequote</value>
			<value>boldsmcaps</value>
			<value>boldunderline</value>
			<value>doublequote</value>
			<value>italic</value>
			<value>nonproport</value>
			<value>singlequote</value>
			<value>smcaps</value>
			<value>sub</value>
			<value>super</value>
			<value>underline</value>
		</choice>
	</define>

	<define name="av.zeroorone">
		<data type="NMTOKEN"/>
	</define>

	<define name="av.yesorno">
		<choice>
			<value>yes</value>
			<value>no</value>
		</choice>
	</define>

</grammar>
