ead_revised.rng

<?xml version="1.0" encoding="iso-8859-1"?>
<!-- This file has been revised to test proposed changes to EAD for its upcoming release in 2013 -->

<!-- 
	EAD 2002 Relax NG Schema
	Version: 200804 Release
	Date: 20080421
	
	Previous Version: 200612 Release
		
	Publisher: Society of American Archivists and the Library of Congress
	
	Funding: National Historical Publications and Records Commission 
	
	*** Comments, questions, and error reports should be sent to the EAD listserv
	with subject line: Schema Comment ***
	
	Listserv address: EAD@LOC.GOV
	
	Editors (SAA/EADWG/EAD Schema Working Group):
	
	Francoise Bourdon (Bibliothèque nationale de France)
	Terry Catapano (Columbia University)
	Jerry McDonough (University of Illinois)
	Lee Mandell (New York University)
	Chris Prom (University of Illinois)
	Stephen Yearl (Yale University)
	Daniel Pitti (University of Virginia), Chair
	
	EAD DTD / Schema Relationship
	
	With one exception (XLink elements and attributes), the EAD Schema is a subset of the 
	EAD 2002 DTD. 
	
	The Xlink compatible elements and attributes in the DTD have been made compliant
	by implementing XML Namespace. As a result, DTD compliant instances containing 
	ANY of the XLink tags and attributes will not validate against the Schema. These instances
	must be converted into XLink compliant tags and attributes. The EAD Schema WG will
	provide XSLT for this conversion with the release of the official version of the Schema. 
	
	The following elements and their XLink-specific attributes are impacted by this change:
	
	arc archref
	bibref
	dao daogrp daoloc
	extptr extptrloc extref extrefloc
	linkgrp
	ptr ptrloc
	ref refloc resource
	title
	
	With the exception of the XLink tags and attributes, a Schema valid instance will be a DTD
	valid instance. However, because of the imposition of datatype contrainst on specific 
	attribute values, a DTD valid instance may not be Schema valid. 
	
	The following attributes are impacted by the imposition of datatype constraints:
	
	@normal on <unitdate> and <date>: constrained to date and date range subset of ISO 8601
	@repositorycode: constrained to ISO 15511 (ISIL) 
	@mainagencycode: same as @repositorycode
	@langcode: constrained to ISO 639-2 alpha-3 codel list
	@scriptcode: constrained to ISO 15924 code list
	@countrycode: constrained to ISO 3166-1 alpha-2 code list
	
	Revision history: 
	1.  Revised definitions of XLink elements and attributes in order to make the derived XSD
	version of the schema conform to xlink.xsd instance used by MODS and METS (20080421)
	
-->



<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:isbn:1-931666-22-9"
	xmlns="http://relaxng.org/ns/structure/1.0"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	xmlns:xlink="http://www.w3.org/1999/xlink">


	<start>
		<choice>
			<ref name="ead"/>
		</choice>
	</start>
	<define name="am.date.normal">
		<optional>
			<attribute name="normal">
				<data type="token">
					<param name="pattern"
						>(\-?(0|1|2)([0-9]{3})(((01|02|03|04|05|06|07|08|09|10|11|12)((0[1-9])|((1|2)[0-9])|(3[0-1])))|\-((01|02|03|04|05|06|07|08|09|10|11|12)(\-((0[1-9])|((1|2)[0-9])|(3[0-1])))?))?)(/\-?(0|1|2)([0-9]{3})(((01|02|03|04|05|06|07|08|09|10|11|12)((0[1-9])|((1|2)[0-9])|(3[0-1])))|\-((01|02|03|04|05|06|07|08|09|10|11|12)(\-((0[1-9])|((1|2)[0-9])|(3[0-1])))?))?)?</param>
				</data>
			</attribute>
		</optional>
	</define>
	<define name="data.repositorycode">
		<data type="token">
			<param name="pattern"
				>((AF|AX|AL|DZ|AS|AD|AO|AI|AQ|AG|AR|AM|AW|AU|AT|AZ|BS|BH|BD|BB|BY|BE|BZ|BJ|BM|BT|BO|BA|BW|BV|BR|IO|BN|BG|BF|BI|KH|CM|CA|CV|KY|CF|TD|CL|CN|CX|CC|CO|KM|CG|CD|CK|CR|CI|HR|CU|CY|CZ|DK|DJ|DM|DO|EC|EG|SV|GQ|ER|EE|ET|FK|FO|FJ|FI|FR|GF|PF|TF|GA|GM|GE|DE|GH|GI|GR|GL|GD|GP|GU|GT|GN|GW|GY|HT|HM|VA|HN|HK|HU|IS|IN|ID|IR|IQ|IE|IL|IT|JM|JP|JO|KZ|KE|KI|KP|KR|KW|KG|LA|LV|LB|LS|LR|LY|LI|LT|LU|MO|MK|MG|MW|MY|MV|ML|MT|MH|MQ|MR|MU|YT|MX|FM|MD|MC|MN|MS|MA|MZ|MM|NA|NR|NP|NL|AN|NC|NZ|NI|NE|NG|NU|NF|MP|NO|OM|PK|PW|PS|PA|PG|PY|PE|PH|PN|PL|PT|PR|QA|RE|RO|RU|RW|SH|KN|LC|PM|VC|WS|SM|ST|SA|SN|CS|SC|SL|SG|SK|SI|SB|SO|ZA|GS|ES|LK|SD|SR|SJ|SZ|SE|CH|SY|TW|TJ|TZ|TH|TL|TG|TK|TO|TT|TN|TR|TM|TC|TV|UG|UA|AE|GB|US|UM|UY|UZ|VU|VE|VN|VG|VI|WF|EH|YE|ZM|ZW)|([a-zA-Z]{1})|([a-zA-Z]{3,4}))(-[a-zA-Z0-9:/\-]{1,11})</param>
		</data>
	</define>
	<define name="am.mainagencycode">
		<optional>
			<attribute name="mainagencycode">
				<ref name="data.repositorycode"/>
			</attribute>
		</optional>
	</define>
	<define name="am.repositorycode">
		<optional>
			<attribute name="repositorycode">
				<ref name="data.repositorycode"/>
			</attribute>
		</optional>
	</define>
	<define name="am.langcode">
		<optional>
			<attribute name="langcode">
				<choice>
					<value>aar</value>
					<value>abk</value>
					<value>ace</value>
					<value>ach</value>
					<value>ada</value>
					<value>ady</value>
					<value>afa</value>
					<value>afh</value>
					<value>afr</value>
					<value>aka</value>
					<value>akk</value>
					<value>alb</value>
					<value>ale</value>
					<value>alg</value>
					<value>amh</value>
					<value>ang</value>
					<value>apa</value>
					<value>ara</value>
					<value>arc</value>
					<value>arg</value>
					<value>arm</value>
					<value>arn</value>
					<value>arp</value>
					<value>art</value>
					<value>arw</value>
					<value>asm</value>
					<value>ast</value>
					<value>ath</value>
					<value>aus</value>
					<value>ava</value>
					<value>ave</value>
					<value>awa</value>
					<value>aym</value>
					<value>aze</value>
					<value>bad</value>
					<value>bai</value>
					<value>bak</value>
					<value>bal</value>
					<value>bam</value>
					<value>ban</value>
					<value>baq</value>
					<value>bas</value>
					<value>bat</value>
					<value>bej</value>
					<value>bel</value>
					<value>bem</value>
					<value>ben</value>
					<value>ber</value>
					<value>bho</value>
					<value>bih</value>
					<value>bik</value>
					<value>bin</value>
					<value>bis</value>
					<value>bla</value>
					<value>bnt</value>
					<value>bod</value>
					<value>bos</value>
					<value>bra</value>
					<value>bre</value>
					<value>btk</value>
					<value>bua</value>
					<value>bug</value>
					<value>bul</value>
					<value>bur</value>
					<value>bur</value>
					<value>byn</value>
					<value>cad</value>
					<value>cai</value>
					<value>car</value>
					<value>cat</value>
					<value>cau</value>
					<value>ceb</value>
					<value>cel</value>
					<value>ces</value>
					<value>cha</value>
					<value>chb</value>
					<value>che</value>
					<value>chg</value>
					<value>chi</value>
					<value>chk</value>
					<value>chm</value>
					<value>chn</value>
					<value>cho</value>
					<value>chp</value>
					<value>chr</value>
					<value>chu</value>
					<value>chv</value>
					<value>chy</value>
					<value>cmc</value>
					<value>cop</value>
					<value>cor</value>
					<value>cos</value>
					<value>cpe</value>
					<value>cpf</value>
					<value>cpp</value>
					<value>cre</value>
					<value>crh</value>
					<value>crp</value>
					<value>csb</value>
					<value>cus</value>
					<value>cym</value>
					<value>cze</value>
					<value>cze</value>
					<value>dak</value>
					<value>dan</value>
					<value>dar</value>
					<value>day</value>
					<value>del</value>
					<value>den</value>
					<value>deu</value>
					<value>dgr</value>
					<value>din</value>
					<value>div</value>
					<value>doi</value>
					<value>dra</value>
					<value>dsb</value>
					<value>dua</value>
					<value>dum</value>
					<value>dut</value>
					<value>dut</value>
					<value>dyu</value>
					<value>dzo</value>
					<value>efi</value>
					<value>egy</value>
					<value>eka</value>
					<value>ell</value>
					<value>elx</value>
					<value>eng</value>
					<value>enm</value>
					<value>epo</value>
					<value>est</value>
					<value>eus</value>
					<value>eus</value>
					<value>ewe</value>
					<value>ewo</value>
					<value>fan</value>
					<value>fao</value>
					<value>fas</value>
					<value>fat</value>
					<value>fij</value>
					<value>fil</value>
					<value>fin</value>
					<value>fiu</value>
					<value>fon</value>
					<value>fra</value>
					<value>fre</value>
					<value>frm</value>
					<value>fro</value>
					<value>fry</value>
					<value>ful</value>
					<value>fur</value>
					<value>gaa</value>
					<value>gay</value>
					<value>gba</value>
					<value>gem</value>
					<value>geo</value>
					<value>ger</value>
					<value>gez</value>
					<value>gil</value>
					<value>gla</value>
					<value>gle</value>
					<value>glg</value>
					<value>glv</value>
					<value>gmh</value>
					<value>goh</value>
					<value>gon</value>
					<value>gor</value>
					<value>got</value>
					<value>grb</value>
					<value>grc</value>
					<value>gre</value>
					<value>gre</value>
					<value>grn</value>
					<value>guj</value>
					<value>gwi</value>
					<value>hai</value>
					<value>hat</value>
					<value>hau</value>
					<value>haw</value>
					<value>heb</value>
					<value>her</value>
					<value>hil</value>
					<value>him</value>
					<value>hin</value>
					<value>hit</value>
					<value>hmn</value>
					<value>hmo</value>
					<value>hrv</value>
					<value>hsb</value>
					<value>hun</value>
					<value>hup</value>
					<value>hye</value>
					<value>iba</value>
					<value>ibo</value>
					<value>ice</value>
					<value>ice</value>
					<value>ido</value>
					<value>iii</value>
					<value>ijo</value>
					<value>iku</value>
					<value>ile</value>
					<value>ilo</value>
					<value>ina</value>
					<value>inc</value>
					<value>ind</value>
					<value>ine</value>
					<value>inh</value>
					<value>ipk</value>
					<value>ira</value>
					<value>iro</value>
					<value>isl</value>
					<value>ita</value>
					<value>jav</value>
					<value>jbo</value>
					<value>jpn</value>
					<value>jpr</value>
					<value>jrb</value>
					<value>kaa</value>
					<value>kab</value>
					<value>kac</value>
					<value>kal</value>
					<value>kam</value>
					<value>kan</value>
					<value>kar</value>
					<value>kas</value>
					<value>kat</value>
					<value>kau</value>
					<value>kaw</value>
					<value>kaz</value>
					<value>kbd</value>
					<value>kha</value>
					<value>khi</value>
					<value>khm</value>
					<value>kho</value>
					<value>kik</value>
					<value>kin</value>
					<value>kir</value>
					<value>kmb</value>
					<value>kok</value>
					<value>kom</value>
					<value>kon</value>
					<value>kor</value>
					<value>kos</value>
					<value>kpe</value>
					<value>krc</value>
					<value>kro</value>
					<value>kru</value>
					<value>kua</value>
					<value>kum</value>
					<value>kur</value>
					<value>kut</value>
					<value>lad</value>
					<value>lah</value>
					<value>lam</value>
					<value>lao</value>
					<value>lat</value>
					<value>lav</value>
					<value>lez</value>
					<value>lim</value>
					<value>lin</value>
					<value>lit</value>
					<value>lol</value>
					<value>loz</value>
					<value>ltz</value>
					<value>lua</value>
					<value>lub</value>
					<value>lug</value>
					<value>lui</value>
					<value>lun</value>
					<value>luo</value>
					<value>lus</value>
					<value>mac</value>
					<value>mad</value>
					<value>mag</value>
					<value>mah</value>
					<value>mai</value>
					<value>mak</value>
					<value>mal</value>
					<value>man</value>
					<value>mao</value>
					<value>mao</value>
					<value>map</value>
					<value>mar</value>
					<value>mas</value>
					<value>may</value>
					<value>mdf</value>
					<value>mdr</value>
					<value>men</value>
					<value>mga</value>
					<value>mic</value>
					<value>min</value>
					<value>mis</value>
					<value>mkd</value>
					<value>mkh</value>
					<value>mlg</value>
					<value>mlt</value>
					<value>mnc</value>
					<value>mni</value>
					<value>mno</value>
					<value>moh</value>
					<value>mol</value>
					<value>mon</value>
					<value>mos</value>
					<value>mri</value>
					<value>msa</value>
					<value>mul</value>
					<value>mun</value>
					<value>mus</value>
					<value>mwl</value>
					<value>mwr</value>
					<value>mya</value>
					<value>myn</value>
					<value>myv</value>
					<value>nah</value>
					<value>nai</value>
					<value>nap</value>
					<value>nau</value>
					<value>nav</value>
					<value>nbl</value>
					<value>nde</value>
					<value>ndo</value>
					<value>nds</value>
					<value>nep</value>
					<value>new</value>
					<value>nia</value>
					<value>nic</value>
					<value>niu</value>
					<value>nld</value>
					<value>nno</value>
					<value>nob</value>
					<value>nog</value>
					<value>non</value>
					<value>nor</value>
					<value>nso</value>
					<value>nub</value>
					<value>nwc</value>
					<value>nya</value>
					<value>nym</value>
					<value>nyn</value>
					<value>nyo</value>
					<value>nzi</value>
					<value>oci</value>
					<value>oji</value>
					<value>ori</value>
					<value>orm</value>
					<value>osa</value>
					<value>oss</value>
					<value>ota</value>
					<value>oto</value>
					<value>paa</value>
					<value>pag</value>
					<value>pal</value>
					<value>pam</value>
					<value>pan</value>
					<value>pap</value>
					<value>pau</value>
					<value>peo</value>
					<value>per</value>
					<value>phi</value>
					<value>phn</value>
					<value>pli</value>
					<value>pol</value>
					<value>pon</value>
					<value>por</value>
					<value>pra</value>
					<value>pro</value>
					<value>pus</value>
					<value>que</value>
					<value>raj</value>
					<value>rap</value>
					<value>rar</value>
					<value>roa</value>
					<value>roh</value>
					<value>rom</value>
					<value>ron</value>
					<value>rum</value>
					<value>run</value>
					<value>rus</value>
					<value>sad</value>
					<value>sag</value>
					<value>sah</value>
					<value>sai</value>
					<value>sal</value>
					<value>sam</value>
					<value>san</value>
					<value>sas</value>
					<value>sat</value>
					<value>scc</value>
					<value>scn</value>
					<value>sco</value>
					<value>scr</value>
					<value>sel</value>
					<value>sem</value>
					<value>sga</value>
					<value>sgn</value>
					<value>shn</value>
					<value>sid</value>
					<value>sin</value>
					<value>sio</value>
					<value>sit</value>
					<value>sla</value>
					<value>slk</value>
					<value>slo</value>
					<value>slv</value>
					<value>sma</value>
					<value>sme</value>
					<value>smi</value>
					<value>smj</value>
					<value>smn</value>
					<value>smo</value>
					<value>sms</value>
					<value>sna</value>
					<value>snd</value>
					<value>snk</value>
					<value>sog</value>
					<value>som</value>
					<value>son</value>
					<value>sot</value>
					<value>spa</value>
					<value>sqi</value>
					<value>srd</value>
					<value>srp</value>
					<value>srr</value>
					<value>ssa</value>
					<value>ssw</value>
					<value>suk</value>
					<value>sun</value>
					<value>sus</value>
					<value>sux</value>
					<value>swa</value>
					<value>swe</value>
					<value>syr</value>
					<value>tah</value>
					<value>tai</value>
					<value>tam</value>
					<value>tat</value>
					<value>tel</value>
					<value>tem</value>
					<value>ter</value>
					<value>tet</value>
					<value>tgk</value>
					<value>tgl</value>
					<value>tha</value>
					<value>tib</value>
					<value>tib</value>
					<value>tig</value>
					<value>tir</value>
					<value>tiv</value>
					<value>tkl</value>
					<value>tlh</value>
					<value>tli</value>
					<value>tmh</value>
					<value>tog</value>
					<value>ton</value>
					<value>tpi</value>
					<value>tsi</value>
					<value>tsn</value>
					<value>tso</value>
					<value>tuk</value>
					<value>tum</value>
					<value>tup</value>
					<value>tur</value>
					<value>tut</value>
					<value>tvl</value>
					<value>twi</value>
					<value>tyv</value>
					<value>udm</value>
					<value>uga</value>
					<value>uig</value>
					<value>ukr</value>
					<value>umb</value>
					<value>und</value>
					<value>urd</value>
					<value>uzb</value>
					<value>vai</value>
					<value>ven</value>
					<value>vie</value>
					<value>vol</value>
					<value>vot</value>
					<value>wak</value>
					<value>wal</value>
					<value>war</value>
					<value>was</value>
					<value>wel</value>
					<value>wen</value>
					<value>wln</value>
					<value>wol</value>
					<value>xal</value>
					<value>xho</value>
					<value>yao</value>
					<value>yap</value>
					<value>yid</value>
					<value>yor</value>
					<value>ypk</value>
					<value>zap</value>
					<value>zen</value>
					<value>zha</value>
					<value>zho</value>
					<value>znd</value>
					<value>zul</value>
					<value>zun</value>
				</choice>
			</attribute>
		</optional>
	</define>
	<define name="am.countrycode">
		<optional>
			<attribute name="countrycode">
				<choice>
					<value>AF</value>
					<value>AX</value>
					<value>AL</value>
					<value>DZ</value>
					<value>AS</value>
					<value>AD</value>
					<value>AO</value>
					<value>AI</value>
					<value>AQ</value>
					<value>AG</value>
					<value>AR</value>
					<value>AM</value>
					<value>AW</value>
					<value>AU</value>
					<value>AT</value>
					<value>AZ</value>
					<value>BS</value>
					<value>BH</value>
					<value>BD</value>
					<value>BB</value>
					<value>BY</value>
					<value>BE</value>
					<value>BZ</value>
					<value>BJ</value>
					<value>BM</value>
					<value>BT</value>
					<value>BO</value>
					<value>BA</value>
					<value>BW</value>
					<value>BV</value>
					<value>BR</value>
					<value>IO</value>
					<value>BN</value>
					<value>BG</value>
					<value>BF</value>
					<value>BI</value>
					<value>KH</value>
					<value>CM</value>
					<value>CA</value>
					<value>CV</value>
					<value>KY</value>
					<value>CF</value>
					<value>TD</value>
					<value>CL</value>
					<value>CN</value>
					<value>CX</value>
					<value>CC</value>
					<value>CO</value>
					<value>KM</value>
					<value>CG</value>
					<value>CD</value>
					<value>CK</value>
					<value>CR</value>
					<value>CI</value>
					<value>HR</value>
					<value>CU</value>
					<value>CY</value>
					<value>CZ</value>
					<value>DK</value>
					<value>DJ</value>
					<value>DM</value>
					<value>DO</value>
					<value>EC</value>
					<value>EG</value>
					<value>SV</value>
					<value>GQ</value>
					<value>ER</value>
					<value>EE</value>
					<value>ET</value>
					<value>FK</value>
					<value>FO</value>
					<value>FJ</value>
					<value>FI</value>
					<value>FR</value>
					<value>GF</value>
					<value>PF</value>
					<value>TF</value>
					<value>GA</value>
					<value>GM</value>
					<value>GE</value>
					<value>DE</value>
					<value>GH</value>
					<value>GI</value>
					<value>GR</value>
					<value>GL</value>
					<value>GD</value>
					<value>GP</value>
					<value>GU</value>
					<value>GT</value>
					<value>GN</value>
					<value>GW</value>
					<value>GY</value>
					<value>HT</value>
					<value>HM</value>
					<value>VA</value>
					<value>HN</value>
					<value>HK</value>
					<value>HU</value>
					<value>IS</value>
					<value>IN</value>
					<value>ID</value>
					<value>IR</value>
					<value>IQ</value>
					<value>IE</value>
					<value>IL</value>
					<value>IT</value>
					<value>JM</value>
					<value>JP</value>
					<value>JO</value>
					<value>KZ</value>
					<value>KE</value>
					<value>KI</value>
					<value>KP</value>
					<value>KR</value>
					<value>KW</value>
					<value>KG</value>
					<value>LA</value>
					<value>LV</value>
					<value>LB</value>
					<value>LS</value>
					<value>LR</value>
					<value>LY</value>
					<value>LI</value>
					<value>LT</value>
					<value>LU</value>
					<value>MO</value>
					<value>MK</value>
					<value>MG</value>
					<value>MW</value>
					<value>MY</value>
					<value>MV</value>
					<value>ML</value>
					<value>MT</value>
					<value>MH</value>
					<value>MQ</value>
					<value>MR</value>
					<value>MU</value>
					<value>YT</value>
					<value>MX</value>
					<value>FM</value>
					<value>MD</value>
					<value>MC</value>
					<value>MN</value>
					<value>MS</value>
					<value>MA</value>
					<value>MZ</value>
					<value>MM</value>
					<value>NA</value>
					<value>NR</value>
					<value>NP</value>
					<value>NL</value>
					<value>AN</value>
					<value>NC</value>
					<value>NZ</value>
					<value>NI</value>
					<value>NE</value>
					<value>NG</value>
					<value>NU</value>
					<value>NF</value>
					<value>MP</value>
					<value>NO</value>
					<value>OM</value>
					<value>PK</value>
					<value>PW</value>
					<value>PS</value>
					<value>PA</value>
					<value>PG</value>
					<value>PY</value>
					<value>PE</value>
					<value>PH</value>
					<value>PN</value>
					<value>PL</value>
					<value>PT</value>
					<value>PR</value>
					<value>QA</value>
					<value>RE</value>
					<value>RO</value>
					<value>RU</value>
					<value>RW</value>
					<value>SH</value>
					<value>KN</value>
					<value>LC</value>
					<value>PM</value>
					<value>VC</value>
					<value>WS</value>
					<value>SM</value>
					<value>ST</value>
					<value>SA</value>
					<value>SN</value>
					<value>CS</value>
					<value>SC</value>
					<value>SL</value>
					<value>SG</value>
					<value>SK</value>
					<value>SI</value>
					<value>SB</value>
					<value>SO</value>
					<value>ZA</value>
					<value>GS</value>
					<value>ES</value>
					<value>LK</value>
					<value>SD</value>
					<value>SR</value>
					<value>SJ</value>
					<value>SZ</value>
					<value>SE</value>
					<value>CH</value>
					<value>SY</value>
					<value>TW</value>
					<value>TJ</value>
					<value>TZ</value>
					<value>TH</value>
					<value>TL</value>
					<value>TG</value>
					<value>TK</value>
					<value>TO</value>
					<value>TT</value>
					<value>TN</value>
					<value>TR</value>
					<value>TM</value>
					<value>TC</value>
					<value>TV</value>
					<value>UG</value>
					<value>UA</value>
					<value>AE</value>
					<value>GB</value>
					<value>US</value>
					<value>UM</value>
					<value>UY</value>
					<value>UZ</value>
					<value>VU</value>
					<value>VE</value>
					<value>VN</value>
					<value>VG</value>
					<value>VI</value>
					<value>WF</value>
					<value>EH</value>
					<value>YE</value>
					<value>ZM</value>
					<value>ZW</value>
				</choice>
			</attribute>
		</optional>
	</define>
	<define name="m.render">
		<choice>
			<element name="emph">
				<optional>
					<attribute name="render">
						<choice>
							<ref name="av.render"/>
						</choice>
					</attribute>
				</optional>
				<optional>
					<attribute name="id">
						<data type="ID"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="altrender"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.basic"/>
					</choice>
				</zeroOrMore>
			</element>
			<element name="lb">
				<empty/>
				<empty/>
			</element>
		</choice>
	</define>
	<define name="m.refs">
		<choice>
			<ref name="ref"/>
			<ref name="extref"/>
			<element name="linkgrp">
				<ref name="a.common"/>
				<ref name="extendedLink"/>
				<oneOrMore>
					<choice>
						<ref name="extended.els"/>
					</choice>
				</oneOrMore>
			</element>
			<ref name="bibref"/>
			<ref name="title"/>
			<ref name="archref"/>
		</choice>
	</define>
	<define name="m.access">
		<choice>
			<ref name="corpname"/>
			<ref name="famname"/>
			<ref name="geogname"/>
			<ref name="name"/>
			<!--
				<element name="occupation">
				<ref name="a.common"/>
				<ref name="a.access"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.bare"/>
					</choice>
				</zeroOrMore>
			</element>
			-->
			<element name="occupation"><ref name="access.revised"/></element>
			<ref name="persname"/>
			<element name="subject"><ref name="access.revised"/></element>
			<!--<element name="subject">
				<ref name="a.common"/>
				<ref name="a.access"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.bare"/>
					</choice>
				</zeroOrMore>
			</element>
			-->
			<element name="genreform"><ref name="access.revised.types"/></element>
			<!--<element name="genreform">
				<ref name="a.common"/>
				<optional>
					<attribute name="type"/>
				</optional>
				<ref name="a.access"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.bare"/>
					</choice>
				</zeroOrMore>
			</element>
			-->
			<element name="function"><ref name="access.revised"/></element>
			<!--
			<element name="function">
				<ref name="a.common"/>
				<ref name="a.access"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.bare"/>
					</choice>
				</zeroOrMore>
			</element>
			-->
		</choice>
	</define>
	<define name="m.access.title">
		<choice>
			<ref name="m.access"/>
			<ref name="title"/>
		</choice>
	</define>
	<define name="m.data">
		<choice>
			<ref name="m.access"/>
			<ref name="date"/>
			<ref name="num"/>
			<ref name="origination"/>
			<ref name="repository"/>
			<ref name="unitdate"/>
			<ref name="unittitle"/>
		</choice>
	</define>
	<define name="m.phrase.bare">
		<choice>
			<choice>
				<ref name="ptr"/>
				<element name="extptr">
					<ref name="a.common"/>
					<ref name="a.external.ptr"/>
					<empty/>
				</element>
			</choice>
			<ref name="m.render"/>
		</choice>
	</define>
	<define name="m.phrase.basic.norefs">
		<choice>
			<ref name="m.phrase.bare"/>
			<ref name="abbr"/>
			<ref name="expan"/>
		</choice>
	</define>
	<define name="m.phrase.basic">
		<choice>
			<ref name="m.phrase.basic.norefs"/>
			<ref name="m.refs"/>
		</choice>
	</define>
	<define name="m.phrase.plus">
		<choice>
			<ref name="m.phrase.basic.norefs"/>
			<ref name="m.data"/>
			<ref name="m.refs"/>
		</choice>
	</define>
	<define name="m.inter.noquote">
		<choice>
			<ref name="address"/>
			<element name="chronlist">
				<ref name="a.common"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<ref name="head"/>
				</optional>
				<optional>
					<ref name="listhead"/>
				</optional>
				<oneOrMore>
					<element name="chronitem">
						<ref name="a.common"/>
						<ref name="date"/>
						<choice>
							<ref name="event"/>
							<element name="eventgrp">
								<ref name="a.common"/>
								<oneOrMore>
									<ref name="event"/>
								</oneOrMore>
							</element>
						</choice>
					</element>
				</oneOrMore>
			</element>
			<ref name="list"/>
			<ref name="note"/>
			<element name="table">
				<ref name="a.common"/>
				<optional>
					<attribute name="frame">
						<choice>
							<value>top</value>
							<value>bottom</value>
							<value>topbot</value>
							<value>all</value>
							<value>sides</value>
							<value>none</value>
						</choice>
					</attribute>
				</optional>
				<optional>
					<attribute name="colsep">
						<ref name="yesorno"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="rowsep">
						<ref name="yesorno"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="pgwide">
						<ref name="yesorno"/>
					</attribute>
				</optional>
				<optional>
					<ref name="head"/>
				</optional>
				<oneOrMore>
					<element name="tgroup">
						<ref name="a.common"/>
						<attribute name="cols">
							<data type="NMTOKEN"/>
						</attribute>
						<optional>
							<attribute name="colsep">
								<ref name="yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="rowsep">
								<ref name="yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="align">
								<choice>
									<value>left</value>
									<value>right</value>
									<value>center</value>
									<value>justify</value>
									<value>char</value>
								</choice>
							</attribute>
						</optional>
						<zeroOrMore>
							<element name="colspec">
								<optional>
									<attribute name="colnum">
										<data type="NMTOKEN"/>
									</attribute>
								</optional>
								<optional>
									<attribute name="colname">
										<data type="NMTOKEN"/>
									</attribute>
								</optional>
								<optional>
									<attribute name="colwidth"/>
								</optional>
								<optional>
									<attribute name="colsep">
										<ref name="yesorno"/>
									</attribute>
								</optional>
								<optional>
									<attribute name="rowsep">
										<ref name="yesorno"/>
									</attribute>
								</optional>
								<optional>
									<attribute name="align">
										<choice>
											<value>left</value>
											<value>right</value>
											<value>center</value>
											<value>justify</value>
											<value>char</value>
										</choice>
									</attribute>
								</optional>
								<optional>
									<attribute name="char"/>
								</optional>
								<optional>
									<attribute name="charoff">
										<data type="NMTOKEN"/>
									</attribute>
								</optional>
								<empty/>
							</element>
						</zeroOrMore>
						<optional>
							<ref name="thead"/>
						</optional>
						<element name="tbody">
							<ref name="a.common"/>
							<optional>
								<attribute name="valign">
									<choice>
										<value>top</value>
										<value>middle</value>
										<value>bottom</value>
									</choice>
								</attribute>
							</optional>
							<oneOrMore>
								<ref name="row"/>
							</oneOrMore>
						</element>
					</element>
				</oneOrMore>
			</element>
		</choice>
	</define>
	<define name="m.inter">
		<choice>
			<ref name="m.inter.noquote"/>
			<element name="blockquote">
				<ref name="a.common"/>
				<oneOrMore>
					<choice>
						<ref name="m.inter.noquote"/>
						<ref name="p"/>
					</choice>
				</oneOrMore>
			</element>
		</choice>
	</define>
	<define name="m.blocks">
		<choice>
			<ref name="m.inter"/>
			<ref name="p"/>
		</choice>
	</define>
	<define name="m.did">
		<choice>
			<element name="abstract">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="type"/>
				</optional>
				<ref name="am.langcode"/>
				<!-- eliminating mixed content
					<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.basic"/>
					</choice>
				</zeroOrMore>
				-->
				<data type="string"/>
			</element>
			<element name="container">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="type">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<!-- eliminating mixed content
					<zeroOrMore>
					<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					</choice>
					</zeroOrMore>
				-->
				<data type="string"/>
			</element>
			<ref name="dao"/>
			<ref name="daogrp"/>
			<element name="langmaterial">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.basic"/>
						<ref name="language"/>
					</choice>
				</zeroOrMore>
			</element>
			<ref name="materialspec"/>
			<ref name="note"/>
			<ref name="origination"/>
			<element name="physdesc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<!--<attribute name="source">
						<data type="NMTOKEN"/>
					</attribute>
					-->
					<attribute name="source">
						<data type="string"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.basic"/>
						<ref name="dimensions"/>
						<element name="physfacet">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="type"/>
							</optional>
							<optional>
								<attribute name="unit"/>
							</optional>
							<optional>
								<!--<attribute name="source">
									<data type="NMTOKEN"/>
								</attribute>
								-->
								<attribute name="source">
									<data type="string"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="rules">
									<data type="NMTOKEN"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<zeroOrMore>
								<choice>
									<text/>
									<ref name="m.phrase.basic"/>
									<ref name="m.access"/>
									<ref name="date"/>
								</choice>
							</zeroOrMore>
						</element>
						<element name="extent">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="type"/>
							</optional>
							<optional>
								<attribute name="unit"/>
							</optional>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<zeroOrMore>
								<choice>
									<text/>
									<ref name="m.phrase.basic"/>
								</choice>
							</zeroOrMore>
						</element>
						<ref name="date"/>
						<ref name="m.access"/>
					</choice>
				</zeroOrMore>
			</element>
			<element name="physloc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="type"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.phrase.basic"/>
					</choice>
				</zeroOrMore>
			</element>
			<ref name="repository"/>
			<ref name="unitdate"/>
			<element name="unitid">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="type"/>
				</optional>
				<ref name="am.countrycode"/>
				<optional>
					<attribute name="repositorycode">
						<ref name="data.repositorycode"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<!-- eliminating mixed content
					<zeroOrMore>
					<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					</choice>
					</zeroOrMore>
				-->
				<data type="string"/>
			</element>
			<ref name="unittitle"/>
		</choice>
	</define>
	<define name="m.desc.base">
		<choice>
			<ref name="accessrestrict"/>
			<ref name="accruals"/>
			<ref name="acqinfo"/>
			<ref name="altformavail"/>
			<ref name="appraisal"/>
			<ref name="arrangement"/>
			<ref name="bibliography"/>
			<ref name="bioghist"/>
			<ref name="controlaccess"/>
			<ref name="custodhist"/>
			<!--<element name="descgrp">
				<ref name="a.common"/>
				<optional>
					<attribute name="type"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<ref name="head"/>
				</optional>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="m.desc.base"/>
					</choice>
				</oneOrMore>
			</element>
			-->
			<ref name="fileplan"/>
			<ref name="index"/>
			<ref name="odd"/>
			<ref name="originalsloc"/>
			<ref name="otherfindaid"/>
			<ref name="phystech"/>
			<ref name="prefercite"/>
			<ref name="processinfo"/>
			<ref name="relatedmaterial"/>
			<ref name="scopecontent"/>
			<ref name="separatedmaterial"/>
			<ref name="userestrict"/>
		</choice>
	</define>
	<define name="m.desc.full">
		<choice>
			<ref name="m.desc.base"/>
			<ref name="dsc"/>
			<ref name="dao"/>
			<ref name="daogrp"/>
			<ref name="note"/>
		</choice>
	</define>
	<define name="m.para.content">
		<choice>
			<ref name="m.phrase.plus"/>
			<ref name="m.inter"/>
		</choice>
	</define>
	<define name="m.para.content.norefs">
		<choice>
			<choice>
				<ref name="m.phrase.basic.norefs"/>
				<ref name="m.data"/>
			</choice>
			<ref name="m.inter"/>
		</choice>
	</define>
	<define name="am.dates.calendar">
		<optional>
			<attribute a:defaultValue="gregorian" name="calendar">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="am.dates.era">
		<optional>
			<attribute a:defaultValue="ce" name="era">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="am.dsctab.tpattern">
		<optional>
			<attribute name="tpattern">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="yesorno">
		<data type="NMTOKEN"/>
	</define>
	<define name="av.level">
		<choice>
			<value>class</value>
			<value>collection</value>
			<value>file</value>
			<value>fonds</value>
			<value>item</value>
			<value>otherlevel</value>
			<value>recordgrp</value>
			<value>series</value>
			<value>subfonds</value>
			<value>subgrp</value>
			<value>subseries</value>
		</choice>
	</define>
	<define name="av.render">
		<choice>
			<value>altrender</value>
			<value>bold</value>
			<value>bolddoublequote</value>
			<value>bolditalic</value>
			<value>boldsinglequote</value>
			<value>boldsmcaps</value>
			<value>boldunderline</value>
			<value>doublequote</value>
			<value>italic</value>
			<value>nonproport</value>
			<value>singlequote</value>
			<value>smcaps</value>
			<value>sub</value>
			<value>super</value>
			<value>underline</value>
		</choice>
	</define>
	<define name="a.common">
		<optional>
			<attribute name="id">
				<data type="ID"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="altrender"/>
		</optional>
		<optional>
			<attribute name="audience">
				<choice>
					<value>external</value>
					<value>internal</value>
				</choice>
			</attribute>
		</optional>
	</define>
	<define name="a.access">
		<optional>
			<!--
			<attribute name="source">
				<data type="NMTOKEN"/>
			</attribute>
			-->
			<attribute name="source">
			<data type="string"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rules">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="authfilenumber"/>
		</optional>
		<optional>
			<attribute name="normal"/>
		</optional>
	</define>
	<define name="a.desc.base">
		<optional>
			<attribute name="otherlevel">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
	</define>
	<define name="a.desc.c">
		<ref name="a.common"/>
		<optional>
			<attribute name="level">
				<choice>
					<ref name="av.level"/>
				</choice>
			</attribute>
		</optional>
		<ref name="a.desc.base"/>
		<ref name="am.dsctab.tpattern"/>
	</define>
	<define name="a.internal.ptr">
		<optional>
			<attribute name="target">
				<data type="IDREF"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
		<ref name="simpleLink"/>
	</define>
	<define name="a.external.ptr">
		<optional>
			<attribute name="entityref">
				<data type="ENTITY"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
		<ref name="simpleLink"/>
	</define>
	<define name="a.loc.internal.ptr">
		<ref name="locatorLink"/>
		<optional>
			<attribute name="target">
				<data type="IDREF"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
	</define>
	<define name="a.loc.external.ptr">
		<ref name="locatorLink"/>
		<optional>
			<attribute name="entityref">
				<data type="ENTITY"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
	</define>
	<define name="ead">
		<element name="ead">
			<ref name="a.common"/>
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<element name="eadheader">
				<ref name="a.common"/>
				<optional>
					<attribute a:defaultValue="iso639-2b" name="langencoding">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute a:defaultValue="iso15924" name="scriptencoding">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute a:defaultValue="iso8601" name="dateencoding">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute a:defaultValue="iso3166-1" name="countryencoding">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute a:defaultValue="iso15511" name="repositoryencoding">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="relatedencoding"/>
				</optional>
				<optional>
					<attribute name="findaidstatus">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<element name="eadid">
					<optional>
						<attribute name="publicid"/>
					</optional>
					<optional>
						<attribute name="urn"/>
					</optional>
					<optional>
						<attribute name="url"/>
					</optional>
					<ref name="am.countrycode"/>
					<optional>
						<attribute name="mainagencycode">
							<ref name="data.repositorycode"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="identifier"/>
					</optional>
					<optional>
						<attribute name="encodinganalog"/>
					</optional>
					<text/>
				</element>
				<element name="filedesc">
					<ref name="a.common"/>
					<optional>
						<attribute name="encodinganalog"/>
					</optional>
					<element name="titlestmt">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<oneOrMore>
							<ref name="titleproper"/>
						</oneOrMore>
						<zeroOrMore>
							<ref name="subtitle"/>
						</zeroOrMore>
						<optional>
							<ref name="author"/>
						</optional>
						<optional>
							<ref name="sponsor"/>
						</optional>
					</element>
					<optional>
						<element name="editionstmt">
							<ref name="a.common"/>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<oneOrMore>
								<choice>
									<ref name="edition"/>
									<ref name="p"/>
								</choice>
							</oneOrMore>
						</element>
					</optional>
					<optional>
						<element name="publicationstmt">
							<ref name="a.common"/>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<oneOrMore>
								<choice>
									<ref name="publisher"/>
									<ref name="date"/>
									<ref name="address"/>
									<ref name="num"/>
									<ref name="p"/>
								</choice>
							</oneOrMore>
						</element>
					</optional>
					<optional>
						<element name="seriesstmt">
							<ref name="a.common"/>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<oneOrMore>
								<choice>
									<ref name="titleproper"/>
									<ref name="num"/>
									<ref name="p"/>
								</choice>
							</oneOrMore>
						</element>
					</optional>
					<optional>
						<element name="notestmt">
							<ref name="a.common"/>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<oneOrMore>
								<ref name="note"/>
							</oneOrMore>
						</element>
					</optional>
				</element>
				<optional>
					<element name="profiledesc">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<optional>
							<element name="creation">
								<ref name="a.common"/>
								<optional>
									<attribute name="encodinganalog"/>
								</optional>
								<zeroOrMore>
									<choice>
										<text/>
										<ref name="m.phrase.basic"/>
										<ref name="date"/>
									</choice>
								</zeroOrMore>
							</element>
						</optional>
						<optional>
							<element name="langusage">
								<ref name="a.common"/>
								<optional>
									<attribute name="encodinganalog"/>
								</optional>
								<zeroOrMore>
									<choice>
										<text/>
										<ref name="m.phrase.basic"/>
										<ref name="language"/>
									</choice>
								</zeroOrMore>
							</element>
						</optional>
						<optional>
							<element name="descrules">
								<ref name="a.common"/>
								<optional>
									<attribute name="encodinganalog"/>
								</optional>
								<zeroOrMore>
									<choice>
										<text/>
										<ref name="m.phrase.basic"/>
									</choice>
								</zeroOrMore>
							</element>
						</optional>
					</element>
				</optional>
				<optional>
					<element name="revisiondesc">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<choice>
							<ref name="list"/>
							<oneOrMore>
								<element name="change">
									<ref name="a.common"/>
									<optional>
										<attribute name="encodinganalog"/>
									</optional>
									<ref name="date"/>
									<oneOrMore>
										<ref name="item"/>
									</oneOrMore>
								</element>
							</oneOrMore>
						</choice>
					</element>
				</optional>
			</element>
			<optional>
				<element name="frontmatter">
					<ref name="a.common"/>
					<optional>
						<element name="titlepage">
							<ref name="a.common"/>
							<oneOrMore>
								<choice>
									<ref name="m.blocks"/>
									<ref name="author"/>
									<ref name="date"/>
									<ref name="edition"/>
									<ref name="num"/>
									<ref name="publisher"/>
									<ref name="bibseries"/>
									<ref name="sponsor"/>
									<ref name="titleproper"/>
									<ref name="subtitle"/>
								</choice>
							</oneOrMore>
						</element>
					</optional>
					<zeroOrMore>
						<ref name="div"/>
					</zeroOrMore>
				</element>
			</optional>
			<ref name="c"/>
	 <!--
				<element name="archdesc">
				<ref name="a.common"/>
				<attribute name="level">
					<choice>
						<ref name="av.level"/>
					</choice>
				</attribute>
				<ref name="a.desc.base"/>
				<optional>
					<attribute name="type">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="relatedencoding"/>
				</optional>
				<zeroOrMore>
					<element name="runner">
						<ref name="a.common"/>
						<optional>
							<attribute name="placement">
								<choice>
									<value>header</value>
									<value>footer</value>
									<value>watermark</value>
								</choice>
							</attribute>
						</optional>
						<optional>
							<attribute name="role"/>
						</optional>
						<zeroOrMore>
							<choice>
								<text/>
								<ref name="m.phrase.bare"/>
							</choice>
						</zeroOrMore>
					</element>
				</zeroOrMore>
				<ref name="did"/>
				<zeroOrMore>
					<ref name="m.desc.full"/>
				</zeroOrMore>
				</element>
			-->
		</element>
	</define>
	<define name="titleproper">
		<element name="titleproper">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="abbr"/>
					<ref name="date"/>
					<ref name="expan"/>
					<ref name="num"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="subtitle">
		<element name="subtitle">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="abbr"/>
					<ref name="date"/>
					<ref name="expan"/>
					<ref name="num"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="author">
		<element name="author">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="sponsor">
		<element name="sponsor">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="div">
		<element name="div">
			<ref name="a.common"/>
			<optional>
				<ref name="head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="div"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="did">
		<element name="did">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<ref name="m.did"/>
			</oneOrMore>
		</element>
	</define>
	<define name="dimensions">
		<element name="dimensions">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="unit"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<ref name="dimensions"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="origination">
		<element name="origination">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<ref name="corpname"/>
					<ref name="famname"/>
					<ref name="name"/>
					<ref name="persname"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="repository">
		<element name="repository">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<ref name="address"/>
					<ref name="corpname"/>
					<ref name="name"/>
					<ref name="subarea"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="subarea">
		<element name="subarea">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="unitdate">
		<element name="unitdate">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="type">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<element name="dateFrom">
						<ref name="dateParts"></ref>
					</element>
					<element name="dateTo">
						<ref name="dateParts"></ref>
					</element>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="unittitle">
		<element name="unittitle">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<ref name="m.access"/>
					<ref name="unitdate"/>
					<ref name="num"/>
					<ref name="date"/>
					<ref name="bibseries"/>
					<ref name="edition"/>
					<ref name="imprint"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="language">
		<element name="language">
			<ref name="a.common"/>
			<ref name="am.langcode"/>
			<optional>
				<attribute name="scriptcode">
					<choice>
						<value>Arab</value>
						<value>Armn</value>
						<value>Bali</value>
						<value>Batk</value>
						<value>Beng</value>
						<value>Blis</value>
						<value>Bopo</value>
						<value>Brah</value>
						<value>Brai</value>
						<value>Bugi</value>
						<value>Buhd</value>
						<value>Cans</value>
						<value>Cham</value>
						<value>Cher</value>
						<value>Cirt</value>
						<value>Copt</value>
						<value>Cprt</value>
						<value>Cyrl</value>
						<value>Cyrs</value>
						<value>Deva</value>
						<value>Dsrt</value>
						<value>Egyd</value>
						<value>Egyh</value>
						<value>Egyp</value>
						<value>Ethi</value>
						<value>Geok</value>
						<value>Geor</value>
						<value>Glag</value>
						<value>Goth</value>
						<value>Grek</value>
						<value>Gujr</value>
						<value>Guru</value>
						<value>Hang</value>
						<value>Hani</value>
						<value>Hano</value>
						<value>Hans</value>
						<value>Hant</value>
						<value>Hebr</value>
						<value>Hira</value>
						<value>Hmng</value>
						<value>Hrkt</value>
						<value>Hung</value>
						<value>Inds</value>
						<value>Ital</value>
						<value>Java</value>
						<value>Kali</value>
						<value>Kana</value>
						<value>Khar</value>
						<value>Khmr</value>
						<value>Knda</value>
						<value>Laoo</value>
						<value>Latf</value>
						<value>Latg</value>
						<value>Latn</value>
						<value>Lepc</value>
						<value>Limb</value>
						<value>Lina</value>
						<value>Linb</value>
						<value>Mand</value>
						<value>Maya</value>
						<value>Mero</value>
						<value>Mlym</value>
						<value>Mong</value>
						<value>Mymr</value>
						<value>Nkoo</value>
						<value>Ogam</value>
						<value>Orkh</value>
						<value>Orya</value>
						<value>Osma</value>
						<value>Perm</value>
						<value>Phag</value>
						<value>Phnx</value>
						<value>Plrd</value>
						<value>Qaaa</value>
						<value>Qabx</value>
						<value>Roro</value>
						<value>Runr</value>
						<value>Sara</value>
						<value>Shaw</value>
						<value>Sinh</value>
						<value>Sylo</value>
						<value>Syrc</value>
						<value>Syre</value>
						<value>Syrj</value>
						<value>Syrn</value>
						<value>Tagb</value>
						<value>Tale</value>
						<value>Talu</value>
						<value>Taml</value>
						<value>Telu</value>
						<value>Teng</value>
						<value>Tfng</value>
						<value>Tglg</value>
						<value>Thaa</value>
						<value>Thai</value>
						<value>Tibt</value>
						<value>Ugar</value>
						<value>Vaii</value>
						<value>Visp</value>
						<value>Xpeo</value>
						<value>Xsux</value>
						<value>Yiii</value>
						<value>Zxxx</value>
						<value>Zyyy</value>
						<value>Zzzz</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="materialspec">
		<element name="materialspec">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic"/>
					<ref name="num"/>
					<ref name="materialspec"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="accruals">
		<element name="accruals">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="accruals"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="accessrestrict">
		<element name="accessrestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<element name="legalstatus">
						<ref name="a.common"/>
						<optional>
							<attribute name="type">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<zeroOrMore>
							<choice>
								<text/>
								<ref name="m.phrase.bare"/>
								<ref name="date"/>
							</choice>
						</zeroOrMore>
					</element>
					<ref name="accessrestrict"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="acqinfo">
		<element name="acqinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="acqinfo"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="altformavail">
		<element name="altformavail">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="altformavail"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="originalsloc">
		<element name="originalsloc">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="originalsloc"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="phystech">
		<element name="phystech">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="phystech"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="appraisal">
		<element name="appraisal">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="appraisal"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="custodhist">
		<element name="custodhist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="custodhist"/>
					<ref name="acqinfo"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="prefercite">
		<element name="prefercite">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="prefercite"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="processinfo">
		<element name="processinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="processinfo"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="userestrict">
		<element name="userestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="userestrict"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="bioghist">
		<element name="bioghist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="bioghist"/>
					<ref name="dao"/>
					<ref name="daogrp"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="controlaccess">
		<element name="controlaccess">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<!--<ref name="m.blocks"/>-->
					<ref name="m.access.title"/>
					<ref name="controlaccess"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="odd">
		<element name="odd">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="dao"/>
					<ref name="daogrp"/>
					<ref name="odd"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="scopecontent">
		<element name="scopecontent">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<choice>
						<ref name="m.blocks"/>
					</choice>
					<ref name="arrangement"/>
					<ref name="scopecontent"/>
					<ref name="dao"/>
					<ref name="daogrp"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="arrangement">
		<element name="arrangement">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="arrangement"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="bibliography">
		<element name="bibliography">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="m.refs"/>
					<ref name="bibliography"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="fileplan">
		<element name="fileplan">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="fileplan"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="relatedmaterial">
		<element name="relatedmaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="m.refs"/>
					<ref name="relatedmaterial"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="separatedmaterial">
		<element name="separatedmaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="m.refs"/>
					<ref name="separatedmaterial"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="otherfindaid">
		<element name="otherfindaid">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="m.blocks"/>
					<ref name="m.refs"/>
					<ref name="otherfindaid"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="index">
		<element name="index">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<choice>
				<group>
					<optional>
						<ref name="listhead"/>
					</optional>
					<oneOrMore>
						<ref name="indexentry"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<ref name="index"/>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="indexentry">
		<element name="indexentry">
			<ref name="a.common"/>
			<choice>
				<element name="namegrp">
					<ref name="a.common"/>
					<oneOrMore>
						<choice>
							<ref name="m.access.title"/>
							<ref name="note"/>
						</choice>
					</oneOrMore>
				</element>
				<ref name="m.access.title"/>
			</choice>
			<optional>
				<choice>
					<element name="ptrgrp">
						<ref name="a.common"/>
						<oneOrMore>
							<choice>
								<ref name="ptr"/>
								<ref name="ref"/>
							</choice>
						</oneOrMore>
					</element>
					<ref name="ptr"/>
					<ref name="ref"/>
				</choice>
			</optional>
			<zeroOrMore>
				<ref name="indexentry"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="dsc">
		<element name="dsc">
			<ref name="a.common"/>
			<optional>
				<attribute name="type">
					<choice>
						<value>analyticover</value>
						<value>combined</value>
						<value>in-depth</value>
						<value>othertype</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="othertype">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="am.dsctab.tpattern"/>
			<group>
				<optional>
					<ref name="head"/>
				</optional>
				<zeroOrMore>
					<ref name="m.blocks"/>
				</zeroOrMore>
			</group>
			<choice>
				<group>
					<optional>
						<ref name="thead"/>
					</optional>
					<choice>
						<oneOrMore>
							<ref name="c"/>
							<optional>
								<ref name="thead"/>
							</optional>
						</oneOrMore>
						<oneOrMore>
							<ref name="c01"/>
							<optional>
								<ref name="thead"/>
							</optional>
						</oneOrMore>
					</choice>
				</group>
				<zeroOrMore>
					<ref name="dsc"/>
				</zeroOrMore>
			</choice>
		</element>
	</define>
	<define name="c">
		<element name="c">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<!--
			<ref name="did"/>
			-->
			<oneOrMore><ref name="m.did"/></oneOrMore>
			<zeroOrMore>
				<choice>
					<ref name="m.desc.full"/>
					<ref name="c"/>
				</choice>
			</zeroOrMore>
			<!--
				<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				
				<oneOrMore>
					<ref name="c"/>
				</oneOrMore>
			</zeroOrMore>
				-->
		</element>
	</define>
	<define name="c01">
		<element name="c01">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c02"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c02">
		<element name="c02">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c03"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c03">
		<element name="c03">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c04"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c04">
		<element name="c04">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c05"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c05">
		<element name="c05">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c06"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c06">
		<element name="c06">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c07"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c07">
		<element name="c07">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c08"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c08">
		<element name="c08">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c09"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c09">
		<element name="c09">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c10"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c10">
		<element name="c10">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c11"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c11">
		<element name="c11">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
			<zeroOrMore>
				<optional>
					<ref name="thead"/>
				</optional>
				<oneOrMore>
					<ref name="c12"/>
				</oneOrMore>
			</zeroOrMore>
		</element>
	</define>
	<define name="c12">
		<element name="c12">
			<ref name="a.desc.c"/>
			<optional>
				<ref name="head"/>
			</optional>
			<ref name="did"/>
			<zeroOrMore>
				<ref name="m.desc.full"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="head">
		<element name="head">
			<ref name="a.common"/>
			<optional>
				<attribute name="althead"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="p">
		<element name="p">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="dao">
		<element name="dao">
			<ref name="a.common"/>
			<ref name="a.external.ptr"/>
			<optional>
				<ref name="daodesc"/>
			</optional>
		</element>
	</define>
	<define name="daodesc">
		<element name="daodesc">
			<ref name="a.common"/>
			<optional>
				<ref name="head"/>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>
	<define name="daogrp">
		<element name="daogrp">
			<ref name="a.common"/>
			<ref name="extendedLink"/>
			<optional>
				<ref name="daodesc"/>
			</optional>
			<oneOrMore>
				<choice>
					<element name="daoloc">
						<ref name="a.common"/>
						<ref name="a.loc.external.ptr"/>
						<optional>
							<ref name="daodesc"/>
						</optional>
					</element>
					<ref name="extended.els"/>
				</choice>
			</oneOrMore>
		</element>
	</define>
	<define name="ptr">
		<element name="ptr">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<empty/>
		</element>
	</define>
	<define name="ref">
		<element name="ref">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content.norefs"/>
					<ref name="bibref"/>
					<ref name="title"/>
					<ref name="extref"/>
					<ref name="archref"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="extref">
		<element name="extref">
			<ref name="a.common"/>
			<ref name="a.external.ptr"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content.norefs"/>
					<ref name="bibref"/>
					<ref name="title"/>
					<ref name="archref"/>
					<ref name="ref"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="title">
		<element name="title">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<ref name="a.access"/>
			<optional>
				<ref name="a.external.ptr"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="date"/>
					<ref name="num"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="archref">
		<element name="archref">
			<ref name="a.common"/>
			<optional>
				<ref name="a.external.ptr"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic.norefs"/>
					<ref name="bibref"/>
					<ref name="ref"/>
					<ref name="title"/>
					<ref name="extref"/>
					<ref name="m.did"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="bibref">
		<element name="bibref">
			<ref name="a.common"/>
			<optional>
				<ref name="a.external.ptr"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.basic.norefs"/>
					<ref name="edition"/>
					<ref name="imprint"/>
					<ref name="name"/>
					<ref name="num"/>
					<ref name="bibseries"/>
					<ref name="ref"/>
					<ref name="title"/>
					<ref name="famname"/>
					<ref name="persname"/>
					<ref name="corpname"/>
					<ref name="extref"/>
					<ref name="archref"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="edition">
		<element name="edition">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="bibseries">
		<element name="bibseries">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="title"/>
					<ref name="num"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="imprint">
		<element name="imprint">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="publisher"/>
					<ref name="geogname"/>
					<ref name="date"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="publisher">
		<element name="publisher">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="corpname"> 
		<element name="corpname">
			<ref name="names.revised"/>
			<!--
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="subarea"/>
				</choice>
			</zeroOrMore>
			-->
		</element>
	</define>
	<define name="famname">
		<element name="famname">
			<ref name="names.revised"/>
			<!--
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
			-->
		</element>
	</define>
	<define name="geogname">
		<element name="geogname">
			<ref name="names.revised"/>
			<!--
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
			-->
		</element>
	</define>
	<define name="name">
		<element name="name">
			<ref name="names.revised"/>
			<!--
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
			-->
		</element>
	</define>
	<define name="persname">
		<element name="persname">
			<ref name="names.revised"/>
			<!--
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
					<ref name="access.part"/> 
				</choice>
			</zeroOrMore>
			-->
		</element>
	</define>
	<define name="date">
		<element name="date">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="num">
		<element name="num">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.phrase.bare"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="abbr">
		<element name="abbr">
			<ref name="a.common"/>
			<optional>
				<attribute name="expan"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="expan">
		<element name="expan">
			<ref name="a.common"/>
			<optional>
				<attribute name="abbr"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="address">
		<element name="address">
			<ref name="a.common"/>
			<oneOrMore>
				<element name="addressline">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.phrase.bare"/>
						</choice>
					</zeroOrMore>
				</element>
			</oneOrMore>
		</element>
	</define>
	<define name="event">
		<element name="event">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="list">
		<element name="list">
			<ref name="a.common"/>
			<optional>
				<attribute name="type">
					<choice>
						<value>simple</value>
						<value>deflist</value>
						<value>marked</value>
						<value>ordered</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="mark"/>
			</optional>
			<optional>
				<attribute name="numeration">
					<choice>
						<value>arabic</value>
						<value>upperalpha</value>
						<value>loweralpha</value>
						<value>upperroman</value>
						<value>lowerroman</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="continuation">
					<choice>
						<value>continues</value>
						<value>starts</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<ref name="head"/>
			</optional>
			<choice>
				<oneOrMore>
					<ref name="item"/>
				</oneOrMore>
				<group>
					<optional>
						<ref name="listhead"/>
					</optional>
					<oneOrMore>
						<element name="defitem">
							<ref name="a.common"/>
							<element name="label">
								<ref name="a.common"/>
								<zeroOrMore>
									<choice>
										<text/>
										<ref name="m.phrase.plus"/>
									</choice>
								</zeroOrMore>
							</element>
							<ref name="item"/>
						</element>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>
	<define name="listhead">
		<element name="listhead">
			<ref name="a.common"/>
			<optional>
				<element name="head01">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.phrase.bare"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
			<optional>
				<element name="head02">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.phrase.bare"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
		</element>
	</define>
	<define name="item">
		<element name="item">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<define name="note">
		<element name="note">
			<ref name="a.common"/>
			<optional>
				<attribute name="type"/>
			</optional>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="show">
					<choice>
						<value>embed</value>
						<value>new</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="actuate">
					<choice>
						<value>onload</value>
						<value>onrequest</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>
	<define name="thead">
		<element name="thead">
			<ref name="a.common"/>
			<optional>
				<attribute name="valign">
					<choice>
						<value>top</value>
						<value>middle</value>
						<value>bottom</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="row"/>
			</oneOrMore>
		</element>
	</define>
	<define name="row">
		<element name="row">
			<ref name="a.common"/>
			<optional>
				<attribute name="rowsep">
					<ref name="yesorno"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="valign">
					<choice>
						<value>top</value>
						<value>middle</value>
						<value>bottom</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<element name="entry">
					<ref name="a.common"/>
					<optional>
						<attribute name="colname">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="namest">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="nameend">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="morerows">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="colsep">
							<ref name="yesorno"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="rowsep">
							<ref name="yesorno"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="align">
							<choice>
								<value>left</value>
								<value>right</value>
								<value>center</value>
								<value>justify</value>
								<value>char</value>
							</choice>
						</attribute>
					</optional>
					<optional>
						<attribute name="char"/>
					</optional>
					<optional>
						<attribute name="charoff">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="valign">
							<choice>
								<value>top</value>
								<value>middle</value>
								<value>bottom</value>
							</choice>
						</attribute>
					</optional>
					<zeroOrMore>
						<choice>
							<text/>
							<choice>
								<ref name="m.phrase.plus"/>
								<ref name="address"/>
								<ref name="list"/>
								<ref name="note"/>
							</choice>
						</choice>
					</zeroOrMore>
				</element>
			</oneOrMore>
		</element>
	</define>




	<define name="extended.els">
		<choice>
			<ref name="resource"/>
			<ref name="arc"/>
			<element name="ptrloc">
				<ref name="a.common"/>
				<ref name="a.loc.internal.ptr"/>
				<empty/>
			</element>
			<element name="extptrloc">
				<ref name="a.common"/>
				<ref name="a.loc.external.ptr"/>
				<empty/>
			</element>
			<element name="refloc">
				<ref name="a.common"/>
				<ref name="a.loc.internal.ptr"/>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.para.content.norefs"/>
					</choice>
				</zeroOrMore>
			</element>
			<element name="extrefloc">
				<ref name="a.common"/>
				<ref name="a.loc.external.ptr"/>
				<zeroOrMore>
					<choice>
						<text/>
						<ref name="m.para.content.norefs"/>
					</choice>
				</zeroOrMore>
			</element>
		</choice>
	</define>
	<define name="extended">
		<ref name="extendedLink"/>
		<zeroOrMore>
			<choice>
				<ref name="resource"/>
				<ref name="arc"/>
				<text/>
			</choice>
		</zeroOrMore>
	</define>
	<define name="arc">
		<element name="arc">
			<ref name="a.common"/>
			<ref name="arcLink"/>
			<empty/>
		</element>
	</define>
	<define name="resource">
		<element name="resource">
			<ref name="a.common"/>
			<ref name="resourceLink"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.render"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<!-- 
	XLINK DEFINITIONS
	-->
	<define name="xlink.href">
		<attribute name="xlink:href">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="xlink.role">
		<attribute name="xlink:role">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="xlink.arcrole">
		<attribute name="xlink:arcrole">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="xlink.title">
		<attribute name="xlink:title"/>
	</define>
	<define name="xlink.show">
		<attribute name="xlink:show">
			<choice>
				<value>new</value>
				<value>replace</value>
				<value>embed</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>
	<define name="xlink.actuate">
		<attribute name="xlink:actuate">
			<choice>
				<value>onLoad</value>
				<value>onRequest</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>
	<define name="xlink.label">
		<attribute name="xlink:label">
			<data type="NMTOKEN"/>
		</attribute>
	</define>
	<define name="xlink.from">
		<attribute name="xlink:from">
			<data type="NMTOKEN"/>
		</attribute>
	</define>
	<define name="xlink.to">
		<attribute name="xlink:to">
			<data type="NMTOKEN"/>
		</attribute>
	</define>
	<define name="simpleLink">
		<attribute a:defaultValue="simple" name="xlink:type">
			<value>simple</value>
		</attribute>
		<optional>
			<ref name="xlink.href"/>
		</optional>
		<optional>
			<ref name="xlink.role"/>
		</optional>
		<optional>
			<ref name="xlink.arcrole"/>
		</optional>
		<optional>
			<ref name="xlink.title"/>
		</optional>
		<optional>
			<ref name="xlink.show"/>
		</optional>
		<optional>
			<ref name="xlink.actuate"/>
		</optional>
	</define>
	<define name="extendedLink">
		<attribute a:defaultValue="extended" name="xlink:type">
			<value>extended</value>
		</attribute>
		<optional>
			<ref name="xlink.role"/>
		</optional>
		<optional>
			<ref name="xlink.title"/>
		</optional>
	</define>
	<define name="locatorLink">
		<attribute a:defaultValue="locator" name="xlink:type">
			<value>locator</value>
		</attribute>
		<ref name="xlink.href"/>
		<optional>
			<ref name="xlink.role"/>
		</optional>
		<optional>
			<ref name="xlink.title"/>
		</optional>
		<optional>
			<ref name="xlink.label"/>
		</optional>
	</define>
	<define name="arcLink">
		<attribute a:defaultValue="arc" name="xlink:type">
			<value>arc</value>
		</attribute>
		<optional>
			<ref name="xlink.arcrole"/>
		</optional>
		<optional>
			<ref name="xlink.title"/>
		</optional>
		<optional>
			<ref name="xlink.show"/>
		</optional>
		<optional>
			<ref name="xlink.actuate"/>
		</optional>
		<optional>
			<ref name="xlink.from"/>
		</optional>
		<optional>
			<ref name="xlink.to"/>
		</optional>
	</define>

	<define name="resourceLink">
		<attribute a:defaultValue="resource" name="xlink:type">
			<value>resource</value>
		</attribute>
		<optional>
			<ref name="xlink.role"/>
		</optional>
		<optional>
			<ref name="xlink.title"/>
		</optional>
		<optional>
			<ref name="xlink.label"/>
		</optional>
	</define>
<!-- MODELS FOR REVISION -->
<define name="access.part">
	<element name="part">
		<ref name="attrs-types"/>
		<text/>
	</element>
</define>
	<define name="attrs-types">
		<optional>
			<attribute name="localType">
				<data type="string"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="localTypeUri">
				<data type="anyURI"/>
			</attribute>
		</optional>
		
	</define>
<define name="access.revised">
		<ref name="a.common"/>
		<ref name="a.access"/>
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
	    <zeroOrMore>
	    	<choice>
	    		<text/>
	    		<ref name="access.part"/>
	    	</choice>
	    </zeroOrMore>	
</define>
<define name="access.revised.types">
	<ref name="access.revised"/>
	<ref name="attrs-types"/>
</define>
<define name="names.revised">
		<ref name="access.revised.types"/>
	<optional><attribute name="role"><text/></attribute></optional>
	<optional><attribute name="roleUri"><data type="anyURI"/></attribute></optional>
</define>

<define name="dateParts">
		<ref name="a.common"/>
		<optional>
			<attribute name="label"/>
		</optional>
		<optional>
			<attribute name="type">
				<choice>
					<value>bulk</value>
					<value>inclusive</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="datechar"/>
		</optional>
		<ref name="am.dates.era"/>
		<ref name="am.dates.calendar"/>
		<ref name="am.date.normal"/>
		<optional>
			<attribute name="certainty"/>
		</optional>
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="m.phrase.basic"/>
			</choice>
		</zeroOrMore>
	
</define>


</grammar>
