ead_revised.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" ns="urn:isbn:1-931666-22-9"
	xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
	datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
	<start>
		<ref name="e.ead"/>
	</start>
	<define name="e.ead">
		<element name="ead">
			<ref name="a.common"/>
			<!-- Would it make sense to have a single definition for @relatedencoding? 
			Do we need to specify a data type? -MR -->
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<ref name="e.control"/>
			<element name="archdesc">
				<ref name="a.common"/>
				<attribute name="level">
					<choice>
						<ref name="av.level"/>
					</choice>
				</attribute>
				<ref name="a.desc.base"/>
				<optional>
					<attribute name="localtype">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="relatedencoding"/>
				</optional>
				<ref name="e.did"/>
				<zeroOrMore>
					<ref name="m.desc.base"/>
				</zeroOrMore>
				<optional>
					<ref name="e.relations"/>
				</optional>
				<zeroOrMore>
					<ref name="e.dsc"/>
				</zeroOrMore>
			</element>
		</element>
	</define>

	<!-- ELEMENTS -->

	<define name="e.did">
		<element name="did">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.did"/>
			</oneOrMore>
		</element>
	</define>
	<define name="e.origination">
		<element name="origination">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="e.persname"/>
					<ref name="e.corpname"/>
					<ref name="e.name"/>
					<ref name="e.famname"/>
				</choice>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>
	<define name="e.physdescstructured">
		<element name="physdescstructured">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="rules">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<attribute name="physdescstructuredtype">
				<choice>
					<value>carrier</value>
					<value>materialtype</value>
					<value>spaceoccupied</value>
				</choice>
			</attribute>
			<attribute name="coverage">
				<choice>
					<value>whole</value>
					<value>part</value>
				</choice>
			</attribute>

			<element name="quantity">
				<ref name="a.common"/>
				<text/>
			</element>
			<element name="unittype">
				<ref name="a.common"/>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="source"/>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<text/>
			</element>
			<zeroOrMore>
				<ref name="e.dimensions"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="e.physfacet"/>
			</zeroOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>
	<define name="e.repository">
		<element name="repository">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<choice>
					<ref name="e.corpname"/>
					<ref name="e.name"/>
					<ref name="e.famname"/>
					<optional>
						<ref name="e.address"/>
					</optional>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.unittitle">
		<element name="unittitle">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="normal"/>
			</optional>
			<ref name="m.mixed.basic.plus.access"/>
		</element>
	</define>


	<define name="e.unitdate">
		<element name="unitdate">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<ref name="m.mixed.basic"/>
			</zeroOrMore>

		</element>
	</define>
	<define name="e.unitdatestructured">
		<element name="unitdatestructured">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="unitdatetype">
					<choice>
						<value>bulk</value>
						<value>inclusive</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="datechar"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<choice>
				<ref name="m.dates"/>
			</choice>
		</element>
	</define>

	<define name="e.datesingle">
		<element name="datesingle">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<ref name="m.datesingle"/>
		</element>
	</define>


	<define name="e.daterange">
		<element name="daterange">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<optional>
				<element name="fromdate">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<optional>
						<attribute name="standarddate">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="notbefore">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="notafter">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
			<optional>
				<element name="todate">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<optional>
						<attribute name="standarddate">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="notbefore">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="notafter">
							<ref name="m.data.standarddate"/>
						</attribute>
					</optional>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
		</element>
	</define>

	<define name="e.dateset">
		<element name="dateset">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<choice>
				<ref name="e.datesingle"/>
				<ref name="e.daterange"/>
			</choice>
			<oneOrMore>
				<choice>
					<ref name="e.datesingle"/>
					<ref name="e.daterange"/>
				</choice>
			</oneOrMore>
		</element>
	</define>

	<define name="e.dao">
		<element name="dao">
			<ref name="a.common"/>
			<ref name="am.simplelink"/>
			<optional>
				<ref name="e.daodesc"/>
			</optional>
			<attribute name="daotype">
				<choice>
					<value>borndigital</value>
					<value>derived</value>
					<value>unknown</value>
					<value>other</value>
				</choice>
			</attribute>
			<optional>
				<attribute name="otherdaotype"/>
			</optional>
		</element>
	</define>

	<define name="e.daogrp">
		<element name="daogrp">
			<ref name="a.common"/>

			<optional>
				<ref name="e.daodesc"/>
			</optional>
			<oneOrMore>
				<!--<choice>
					<element name="daoloc">
						<ref name="a.common"/>
						<ref name="am.simplelink"/>
						<optional>
							<ref name="e.daodesc"/>
						</optional>
					</element>
					<ref name="extended.els"/>
					
				</choice>-->
				<ref name="e.dao"/>
			</oneOrMore>
		</element>
	</define>


	<define name="e.daodesc">
		<element name="daodesc">
			<ref name="a.common"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.accessrestrict">
		<element name="accessrestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.accessrestrict"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.accruals">
		<element name="accruals">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.accruals"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.fileplan">
		<element name="fileplan">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.fileplan"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.acqinfo">
		<element name="acqinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.acqinfo"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.altformavail">
		<element name="altformavail">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.altformavail"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.originalsloc">
		<element name="originalsloc">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.originalsloc"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.phystech">
		<element name="phystech">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.phystech"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.appraisal">
		<element name="appraisal">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.appraisal"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.custodhist">
		<element name="custodhist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.custodhist"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.index">
		<element name="index">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<choice>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<ref name="e.indexentry"/>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>
	<define name="e.indexentry">
		<element name="indexentry">
			<ref name="a.common"/>
			<choice>
				<element name="namegrp">
					<ref name="a.common"/>
					<oneOrMore>
						<choice>
							<ref name="m.access.title"/>
						</choice>
					</oneOrMore>
				</element>
				<ref name="m.access.title"/>
			</choice>
			<optional>
				<choice>
					<ref name="m.refs"/>
				</choice>
			</optional>
			<zeroOrMore>
				<ref name="e.indexentry"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.legalstatus">
		<element name="legalstatus">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.legalstatus"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.materialspec">
		<element name="materialspec">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.prefercite">
		<element name="prefercite">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.prefercite"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.processinfo">
		<element name="processinfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.processinfo"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.userestrict">
		<element name="userestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.userestrict"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.bioghist">
		<element name="bioghist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.bioghist"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.controlaccess">
		<element name="controlaccess">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="m.access.title"/>
						<ref name="e.controlaccess"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.odd">
		<element name="odd">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.odd"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.scopecontent">
		<element name="scopecontent">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.scopecontent"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.arrangement">
		<element name="arrangement">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.arrangement"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.bibliography">
		<element name="bibliography">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.bibliography"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>

		</element>
	</define>
	<define name="e.relatedmaterial">
		<element name="relatedmaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.relatedmaterial"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.separatedmaterial">
		<element name="separatedmaterial">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.separatedmaterial"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.otherfindaid">
		<element name="otherfindaid">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="e.otherfindaid"/>
						<ref name="e.archref"/>
						<ref name="e.bibref"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>

	<define name="e.list">
		<element name="list">
			<ref name="a.common"/>
			<optional>
				<attribute name="listtype">
					<choice>
						<value>deflist</value>
						<value>unordered</value>
						<value>ordered</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="mark">
					<choice>
						<value>disc</value>
						<value>circle</value>
						<value>square</value>
						<value>decimal</value>
						<value>decimal-leading-zero</value>
						<value>lower-roman</value>
						<value>upper-roman</value>
						<value>lower-greek</value>
						<value>lower-latin</value>
						<value>upper-latin</value>
						<value>armenian</value>
						<value>georgian</value>
						<value>lower-alpha</value>
						<value>upper-alpha</value>
						<value>none</value>
						<value>inherit</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="numeration">
					<choice>
						<value>arabic</value>
						<value>upperalpha</value>
						<value>loweralpha</value>
						<value>upperroman</value>
						<value>lowerroman</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<oneOrMore>
					<ref name="e.item"/>
				</oneOrMore>
				<group>
					<optional>
						<ref name="e.listhead"/>
					</optional>
					<oneOrMore>
						<element name="defitem">
							<ref name="a.common"/>
							<element name="label">
								<ref name="a.common"/>
								<ref name="m.mixed.basic"/>
							</element>
							<ref name="e.item"/>
						</element>
					</oneOrMore>
				</group>
			</choice>
		</element>
	</define>

	<define name="e.item">
		<element name="item">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.head">
		<element name="head">
			<ref name="a.common"/>
			<optional>
				<attribute name="althead"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.listhead">
		<element name="listhead">
			<ref name="a.common"/>
			<optional>
				<element name="head01">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
			<optional>
				<element name="head02">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
			<optional>
				<element name="head03">
					<ref name="a.common"/>
					<zeroOrMore>
						<choice>
							<text/>
							<ref name="m.mixed.basic"/>
						</choice>
					</zeroOrMore>
				</element>
			</optional>
		</element>
	</define>

	<define name="e.table">
		<element name="table">
			<ref name="a.common"/>
			<optional>
				<attribute name="frame">
					<choice>
						<value>top</value>
						<value>bottom</value>
						<value>topbot</value>
						<value>all</value>
						<value>sides</value>
						<value>none</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="cols"/>
			</optional>
			<optional>
				<attribute name="width"/>
			</optional>
			<optional>
				<attribute name="colsep">
					<ref name="av.yesorno"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="rowsep">
					<ref name="av.yesorno"/>
				</attribute>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<optional>
				<element name="colspec">
					<ref name="a.common.empty"/>
					<optional>
						<attribute name="cols">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="colname">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="width"/>
					</optional>
					<optional>
						<attribute name="colsep">
							<ref name="av.yesorno"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="rowsep">
							<ref name="av.yesorno"/>
						</attribute>
					</optional>
					<optional>
						<attribute name="align">
							<choice>
								<value>left</value>
								<value>right</value>
								<value>center</value>
								<value>justify</value>
							</choice>
						</attribute>
					</optional>
					<optional>
						<attribute name="valign">
							<choice>
								<value>top</value>
								<value>middle</value>
								<value>bottom</value>
								<value>baseline</value>
							</choice>
						</attribute>
					</optional>
					<empty/>
				</element>
			</optional>
			<oneOrMore>

				<ref name="e.row"/>
			</oneOrMore>
		</element>
	</define>
	<define name="e.row">
		<element name="row">
			<ref name="a.common"/>
			<optional>
				<attribute name="rowsep">
					<ref name="av.yesorno"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="valign">
					<choice>
						<value>top</value>
						<value>middle</value>
						<value>bottom</value>
						<value>baseline</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<choice>
					<element name="thentry">
						<ref name="a.common"/>
						<ref name="m.mixed.basic"/>
					</element>
					<element name="entry">
						<ref name="a.common"/>
						<optional>
							<attribute name="colname">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="namest">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="nameend">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="morerows">
								<data type="NMTOKEN"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="colsep">
								<ref name="av.yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="rowsep">
								<ref name="av.yesorno"/>
							</attribute>
						</optional>
						<optional>
							<attribute name="align">
								<choice>
									<value>left</value>
									<value>right</value>
									<value>center</value>
									<value>justify</value>
								</choice>
							</attribute>
						</optional>
						<optional>
							<attribute name="valign">
								<choice>
									<value>top</value>
									<value>middle</value>
									<value>bottom</value>
									<value>baseline</value>
								</choice>
							</attribute>
						</optional>
						<zeroOrMore>
							<choice>
								<text/>
								<ref name="m.para.content"/>
							</choice>
						</zeroOrMore>
					</element>
				</choice>

			</oneOrMore>

		</element>
	</define>
	<define name="e.thead">
		<element name="thead">
			<ref name="a.common"/>
			<optional>
				<attribute name="valign">
					<choice>
						<value>top</value>
						<value>middle</value>
						<value>bottom</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="e.row"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.abbr">
		<element name="abbr">
			<ref name="a.common"/>
			<optional>
				<attribute name="expan"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.expan">
		<element name="expan">
			<ref name="a.common"/>
			<optional>
				<attribute name="abbr"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.num">
		<element name="num">
			<ref name="a.common"/>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.quote">
		<element name="quote">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>


	<define name="e.emph">
		<element name="emph">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<text/>
		</element>
	</define>

	<define name="e.foreign">
		<element name="foreign">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<ref name="av.render"/>
				</attribute>
			</optional>
			<text/>
		</element>
	</define>


	<define name="e.lb">
		<element name="lb">
			<empty/>
		</element>
	</define>

	<define name="e.ref">
		<element name="ref">
			<ref name="a.common"/>
			<ref name="a.internal.ptr"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="e.abbr"/>
					<ref name="e.expan"/>
					<ref name="e.emph"/>
					<ref name="e.lb"/>
					<ref name="e.ptr"/>
					<ref name="e.quote"/>
					<ref name="e.num"/>
					<ref name="e.footnote"/>
					<ref name="e.date"/>
					<ref name="m.access.title"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.ptr">
		<element name="ptr">
			<ref name="a.common.empty"/>
			<ref name="a.internal.ptr"/>
			<empty/>
		</element>
	</define>

	<define name="e.dsc">
		<element name="dsc">
			<ref name="a.common"/>
			<optional>
				<attribute name="dsctype">
					<choice>
						<value>analyticover</value>
						<value>combined</value>
						<value>indepth</value>
						<value>otherdsctype</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="otherdsctype">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="a.dsctab.tpattern"/>
			<group>
				<optional>
					<ref name="e.head"/>
				</optional>
				<zeroOrMore>
					<ref name="m.blocks"/>
				</zeroOrMore>
			</group>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<optional>
				<ref name="m.cOrC01"/>
			</optional>
			<!-- Isn't the following <choice> duplicative of the preceding <optional>? -MR -->
			<!--<choice>

				<ref name="m.cOrC01"/>

			</choice>-->

		</element>
	</define>

	<!--<define name="e.div">
		<element name="div">
			<ref name="a.common"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="e.div"/>
			</zeroOrMore>
		</element>
	</define>-->

	<define name="e.bibref">
		<element name="bibref">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic.plus.access"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.archref">
		<element name="archref">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic.plus.access"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<!-- Title should have one or more <part>, not m.mixed.basic.  
	Would that allow it to be added to m.access, eliminating the need for m.access.title? -MR-->
	<define name="e.title">
		<element name="title">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>

			<ref name="m.mixed.basic"/>

		</element>
	</define>
	<define name="e.c">
		<element name="c">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c01">
		<element name="c01">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c02"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c02">
		<element name="c02">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c03"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c03">
		<element name="c03">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c04"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c04">
		<element name="c04">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c05"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c05">
		<element name="c05">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c06"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c06">
		<element name="c06">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c07"/>

			</zeroOrMore>
		</element>
	</define>
	<define name="e.c07">
		<element name="c07">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c08"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c08">
		<element name="c08">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c09"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c09">
		<element name="c09">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c10"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c10">
		<element name="c10">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c11"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c11">
		<element name="c11">
			<ref name="m.c.base"/>
			<optional>
				<ref name="e.thead"/>
			</optional>
			<zeroOrMore>
				<ref name="e.c12"/>
			</zeroOrMore>
		</element>
	</define>
	<define name="e.c12">
		<element name="c12">
			<ref name="m.c.base"/>
		</element>
	</define>

	<define name="e.dimensions">
		<element name="dimensions">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic"/>
					<ref name="e.dimensions"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>

	<define name="e.physfacet">
		<element name="physfacet">
			<ref name="a.common"/>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="unit"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.language">
		<element name="language">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="langcode"/>
			</optional>
			<text/>
		</element>
	</define>
	<define name="e.script">
		<element name="script">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="label"/>
			</optional>
			<optional>
				<attribute name="scriptcode"/>
			</optional>
			<text/>
		</element>
	</define>

	<define name="e.languageset">
		<element name="languageset">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.language"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.script"/>
			</oneOrMore>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>

	</define>

	<define name="e.address">
		<element name="address">
			<ref name="a.common"/>
			<oneOrMore>
				<element name="addressline">
					<ref name="a.common"/>
					<optional>
						<attribute name="localtype"/>
					</optional>
					<ref name="m.mixed.basic"/>
				</element>
			</oneOrMore>
		</element>
	</define>

	<define name="e.corpname">
		<element name="corpname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>

		</element>
	</define>
	<define name="e.famname">
		<element name="famname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>



		</element>
	</define>
	<define name="e.geogname">
		<element name="geogname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
			<zeroOrMore>
				<element name="geographiccoordinates">
					<ref name="a.common"/>
					<attribute name="coordinatesystem">
						<text/>
					</attribute>
					<text/>
				</element>
			</zeroOrMore>



		</element>
	</define>
	<define name="e.name">
		<element name="name">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>



		</element>
	</define>
	<define name="e.persname">
		<element name="persname">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="role"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.occupation">
		<element name="occupation">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.subject">
		<element name="subject">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.genreform">
		<element name="genreform">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.function">
		<element name="function">
			<ref name="a.common"/>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<oneOrMore>
				<ref name="e.part"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.part">
		<element name="part">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<text/>
		</element>
	</define>


	<define name="e.descriptivenote">
		<element name="descriptivenote">
			<ref name="a.common"/>
			<oneOrMore>
				<ref name="e.p"/>
			</oneOrMore>
		</element>
	</define>


	<define name="e.p">
		<element name="p">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>


	<define name="e.footnote">
		<element name="footnote">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="show">
					<choice>
						<value>embed</value>
						<value>new</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="actuate">
					<choice>
						<value>onload</value>
						<value>onrequest</value>
					</choice>
				</attribute>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.event">
		<element name="event">
			<ref name="a.common"/>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.para.content"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	<!--
	<define name="e.placeentry">
		<element name="placeentry">
			<ref name="a.common"/>
			<optional>
				<ref name="m.entrylanguageattributes"/>
			</optional>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<optional>
				<ref name="am.countrycode"/>
			</optional>
			<optional>
				<ref name="a.vocabularysource"/>
			</optional>
			<optional>
				<attribute  name="accuracy">
					<text/>
				</attribute>
			</optional>
			<optional>
				<ref name="m.geographicalcoordinates"/>
			</optional>
			<text/>
		</element>
	</define>
-->

	<define name="e.relations">
		<element name="relations">
			<ref name="a.common"/>
			<oneOrMore>
				<ref name="m.relation"/>
			</oneOrMore>
		</element>
	</define>

	<define name="e.objectxmlwrap">
		<element name="objectxmlwrap">
			<ref name="a.common"/>
			<ref name="e.anyname"/>
		</element>
	</define>
	<define name="e.anyname">
		<element>
			<anyName>
				<except>
					<nsName ns="urn:isbn:1-931666-22-9"/>
				</except>
			</anyName>
			<!--<zeroOrMore>
				<attribute>
					<anyName/>
				</attribute>
			</zeroOrMore>
			-->
			<zeroOrMore>
				<choice>
					<ref name="e.anyname"/>
					<text/>
				</choice>
			</zeroOrMore>
		</element>
	</define>


	<!-- ATTRIBUTE VALUE LISTS -->

	<define name="av.level">
		<choice>
			<value>class</value>
			<value>collection</value>
			<value>file</value>
			<value>fonds</value>
			<value>item</value>
			<value>otherlevel</value>
			<value>recordgrp</value>
			<value>series</value>
			<value>subfonds</value>
			<value>subgrp</value>
			<value>subseries</value>
		</choice>
	</define>

	<define name="av.render">
		<choice>
			<value>altrender</value>
			<value>bold</value>
			<value>bolddoublequote</value>
			<value>bolditalic</value>
			<value>boldsinglequote</value>
			<value>boldsmcaps</value>
			<value>boldunderline</value>
			<value>doublequote</value>
			<value>italic</value>
			<value>nonproport</value>
			<value>singlequote</value>
			<value>smcaps</value>
			<value>sub</value>
			<value>super</value>
			<value>underline</value>
		</choice>
	</define>
	<define name="av.yesorno">
		<choice>
			<value>yes</value>
			<value>no</value>
		</choice>
	</define>

	<!-- MODELS -->
	<define name="a.dsctab.tpattern">
		<optional>
			<attribute name="tpattern">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="a.common.empty">
		<optional>
			<attribute name="id">
				<data type="ID"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="altrender"/>
		</optional>
		<optional>
			<attribute name="audience">
				<choice>
					<value>external</value>
					<value>internal</value>
				</choice>
			</attribute>
		</optional>
	</define>
	<define name="a.common">
	<!--	<ref name="a.common.empty"/> -->
		<optional>
			<attribute name="lang"/>
		</optional>
		<optional>
			<attribute name="script"/>
		</optional>
	</define>

	<define name="a.desc.base">
		<optional>
			<attribute name="otherlevel">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="encodinganalog"/>
		</optional>
	</define>
	<define name="a.desc.c">
		<ref name="a.common"/>
		<optional>
			<attribute name="level">
				<choice>
					<ref name="av.level"/>
				</choice>
			</attribute>
		</optional>
		<ref name="a.desc.base"/>
		<!--		<ref name="am.dsctab.tPattern"/> -->
	</define>
	<define name="a.access.no.normal">
		<optional>
			<attribute name="source">
				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rules">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="identifier"/>
		</optional>
	</define>

	<define name="a.access">
		<ref name="a.access.no.normal"/>
		<optional>
			<attribute name="normal"/>
		</optional>
	</define>
	<define name="a.localtype">
		<attribute name="localtype"/>
	</define>



	<define name="m.desc.base">
		<choice>
			<ref name="e.accessrestrict"/>
			<ref name="e.accruals"/>
			<ref name="e.acqinfo"/>
			<ref name="e.altformavail"/>
			<ref name="e.appraisal"/>
			<ref name="e.arrangement"/>
			<ref name="e.bibliography"/>
			<ref name="e.bioghist"/>
			<ref name="e.controlaccess"/>
			<ref name="e.custodhist"/>
			<ref name="e.fileplan"/>
			<ref name="e.index"/>
			<ref name="e.legalstatus"/>
			<ref name="e.odd"/>
			<ref name="e.originalsloc"/>
			<ref name="e.otherfindaid"/>
			<ref name="e.phystech"/>
			<ref name="e.prefercite"/>
			<ref name="e.processinfo"/>
			<ref name="e.relatedmaterial"/>
			<ref name="e.scopecontent"/>
			<ref name="e.separatedmaterial"/>
			<ref name="e.userestrict"/>
		</choice>
	</define>
	<define name="m.dates">
		<choice>
			<ref name="e.datesingle"/>
			<ref name="e.daterange"/>
			<ref name="e.dateset"/>
		</choice>
	</define>
	<define name="m.did">
		<choice>
			<element name="abstract">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="langmaterial">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<oneOrMore>
					<choice>
						<ref name="e.language"/>
						<ref name="e.languageset"/>
					</choice>
				</oneOrMore>
				<optional>
					<ref name="e.descriptivenote"/>
				</optional>
			</element>
			<element name="didnote">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<optional>
					<attribute name="localtypesource"/>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.origination"/>


			<element name="physdesc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="parallelphysdescset">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<ref name="e.physdescstructured"/>
				<oneOrMore>
					<ref name="e.physdescstructured"/>
				</oneOrMore>
			</element>
			<ref name="e.physdescstructured"/>
			<element name="physloc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<ref name="e.repository"/>
			<ref name="e.unitdate"/>

			<ref name="e.unitdatestructured"/>
			<element name="unitid">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype"/>
				</optional>
				<ref name="am.countrycode"/>
				<optional>
					<attribute name="repositorycode">
						<ref name="data.repositorycode"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<ref name="e.unittitle"/>
			<element name="container">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localtype">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>

				<optional>
					<attribute name="containerid">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>

				<ref name="m.mixed.basic"/>

			</element>
			<ref name="e.materialspec"/>
			<ref name="e.dao"/>
		</choice>
	</define>

	<define name="m.refs">
		<ref name="e.ref"/>
		<ref name="e.ptr"/>
	</define>

	<define name="m.mixed.basic">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="e.abbr"/>
				<ref name="e.expan"/>
				<ref name="e.emph"/>
				<ref name="e.lb"/>
				<ref name="e.ref"/>
				<ref name="e.ptr"/>
				<ref name="e.foreign"/>
			</choice>
		</zeroOrMore>
	</define>
	<define name="m.mixed.basic.plus">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="m.mixed.basic"/>
				<ref name="e.quote"/>
				<ref name="e.num"/>
				<ref name="e.footnote"/>
				<ref name="e.date"/>
			</choice>
		</zeroOrMore>
	</define>
	<define name="m.mixed.basic.plus.access">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="m.access.title"/>
				<ref name="m.mixed.basic"/>
				<ref name="e.quote"/>
				<ref name="e.num"/>
				<ref name="e.footnote"/>
				<ref name="e.date"/>
			</choice>
		</zeroOrMore>
	</define>
	<!-- to allow recursion in some elements, e.g., dimensions -->
	<define name="m.mixed.elements">
		<text/>
		<ref name="e.abbr"/>
		<ref name="e.expan"/>
		<ref name="e.emph"/>
		<ref name="e.lb"/>
		<ref name="e.ref"/>
		<ref name="e.ptr"/>
	</define>

	<define name="m.blocks">
		<choice>
			<ref name="m.inter"/>
			<ref name="e.p"/>
		</choice>
	</define>


	<define name="m.inter">
		<choice>
			<ref name="m.inter.noquote"/>
			<element name="blockquote">
				<ref name="a.common"/>
				<oneOrMore>
					<choice>
						<ref name="m.inter.noquote"/>
						<ref name="e.p"/>
					</choice>
				</oneOrMore>
			</element>

		</choice>
	</define>
	<define name="m.inter.noquote">
		<choice>

			<element name="chronlist">

				<ref name="a.common"/>
				<optional>
					<ref name="a.localtype"/>
				</optional>
				<optional>
					<ref name="e.listhead"/>
				</optional>
				<oneOrMore>

					<element name="chronitem">

						<ref name="a.common"/>
						<optional>
							<ref name="a.localtype"/>
						</optional>
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
						</choice>
						<choice>
							<group>
								<optional>
									<ref name="e.placeentry"/>
								</optional>
								<ref name="e.event"/>
							</group>
							<oneOrMore>
								<element name="chronitemset">
									<zeroOrMore>
										<ref name="e.placeentry"/>
									</zeroOrMore>
									<oneOrMore>
										<ref name="e.event"/>
									</oneOrMore>
								</element>
							</oneOrMore>
						</choice>
					</element>
				</oneOrMore>
			</element>
			<ref name="e.list"/>
			<ref name="e.table"/>
		</choice>
	</define>
	<define name="m.cOrC01">
		<choice>
			<oneOrMore>
				<ref name="e.c"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.c01"/>
			</oneOrMore>
		</choice>
	</define>
	<define name="m.c.base">
		<ref name="a.desc.c"/>
		<optional>
			<ref name="e.head"/>
		</optional>
		<ref name="e.did"/>
		<zeroOrMore>
			<ref name="m.desc.base"/>
		</zeroOrMore>
		<optional>
			<element name="relations">
				<oneOrMore>
					<ref name="m.relation"/>
				</oneOrMore>
			</element>
		</optional>
	</define>

	<define name="m.access">
		<choice>
			<ref name="e.persname"/>
			<ref name="e.corpname"/>
			<ref name="e.famname"/>
			<ref name="e.geogname"/>
			<ref name="e.name"/>
			<ref name="e.occupation"/>
			<ref name="e.subject"/>
			<ref name="e.genreform"/>
			<ref name="e.function"/>
		</choice>
	</define>

	<define name="m.access.title">
		<choice>
			<ref name="m.access"/>
			<ref name="e.title"/>
		</choice>
	</define>

	<define name="m.para.content">
		<choice>
			<ref name="m.mixed.basic.plus"/>
			<ref name="m.access.title"/>
			<ref name="e.list"/>
		</choice>

	</define>

	<define name="m.data.standarddate">
		<choice>
			<data type="date">
				<param name="maxInclusive">2099-12-31</param>
			</data>
			<data type="gYear">
				<param name="maxInclusive">2099</param>
			</data>
			<data type="gYearMonth">
				<param name="maxInclusive">2099-12</param>
			</data>
		</choice>
	</define>

	<define name="m.datesingle">
		<optional>
			<attribute name="standarddate">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notbefore">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="notafter">
				<ref name="m.data.standarddate"/>
			</attribute>
		</optional>
		<text/>
	</define>

	<define name="m.relation">
		<element name="relation">
			<ref name="a.common"/>
			<attribute name="relationtype">
				<choice>
					<value>cpfrelation</value>
					<value>resourcerelation</value>
					<value>functionrelation</value>
					<value>otherrelation</value>
				</choice>
			</attribute>
			<optional>
				<attribute name="otherrelationtype">
					<data type="string"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="lastdatetimeverified">
					<data type="dateTime"/>
				</attribute>
			</optional>
			<optional>
				<ref name="am.simplelink"/>
			</optional>
			<zeroOrMore>
				<element name="relationentry">
					<ref name="a.common"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<optional>
						<attribute name="transliteration">
							<data type="NMTOKEN"/>
						</attribute>
					</optional>
					<text/>
				</element>
			</zeroOrMore>
			<optional>
				<ref name="e.objectxmlwrap"/>
			</optional>
			<optional>
				<choice>
					<ref name="e.datesingle"/>
					<ref name="e.dateset"/>
					<ref name="e.daterange"/>
				</choice>
			</optional>
			<optional>
				<ref name="e.placeentry"/>
			</optional>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>
	</define>

	<define name="a.internal.ptr">
		<optional>
			<attribute name="target">
				<data type="IDREF"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="xpointer"/>
		</optional>
		<ref name="am.simplelink"/>
	</define>
	<define name="am.simplelink">
		<attribute a:defaultValue="simple" name="linktype">
			<value>simple</value>
		</attribute>
		<optional>
			<ref name="a.link.href"/>
		</optional>
		<optional>
			<ref name="a.link.role"/>
		</optional>
		<optional>
			<ref name="a.link.arcrole"/>
		</optional>
		<optional>
			<ref name="a.link.title"/>
		</optional>
		<optional>
			<ref name="a.link.show"/>
		</optional>
		<optional>
			<ref name="a.link.actuate"/>
		</optional>
	</define>

	<define name="a.link.href">
		<attribute name="href">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.role">
		<attribute name="linkrole">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.arcrole">
		<attribute name="arcrole">
			<data type="anyURI"/>
		</attribute>
	</define>
	<define name="a.link.title">
		<attribute name="linktitle"/>
	</define>
	<define name="a.link.show">
		<attribute name="show">
			<choice>
				<value>new</value>
				<value>replace</value>
				<value>embed</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>
	<define name="a.link.actuate">
		<attribute name="actuate">
			<choice>
				<value>onLoad</value>
				<value>onRequest</value>
				<value>other</value>
				<value>none</value>
			</choice>
		</attribute>
	</define>

	<define name="am.dates.calendar">
		<optional>
			<attribute name="calendar">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="am.dates.era">
		<optional>
			<attribute name="era">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<!-- unitdate/@normal no longer enforces the iso 8601 pattern. Why? -MR -->
	<define name="am.date.normal">
		<optional>
			<attribute name="normal">
				<data type="token"/>
			</attribute>
		</optional>
	</define>
	<define name="data.repositorycode">
		<data type="token"/>
	</define>
	<define name="am.countrycode">
		<optional>
			<attribute name="countrycode">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

	<!-- Control and inherited models from EAC-CPF -->

	<define name="e.control">
		<element name="control">
			<ref name="a.common"/>
			<optional>
				<attribute name="base">
					<data type="anyURI"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="relatedencoding"/>
			</optional>
			<element name="recordid">
				<ref name="a.common"/>
				<optional>
					<attribute name="instanceurl">
						<data type="anyURI"/>
					</attribute>
				</optional>
				<data type="NMTOKEN"/>
			</element>
			<zeroOrMore>
				<element name="otherrecordid">
					<ref name="a.common"/>
					<ref name="m.id"/>
				</element>
			</zeroOrMore>
			<zeroOrMore>
				<element name="representation">
					<ref name="a.common"/>
					<ref name="am.simplelink"/>
					<optional>
						<ref name="a.localtype"/>
					</optional>
					<text/>
				</element>
			</zeroOrMore>
			<element name="filedesc">
				<ref name="a.common"/>
				<optional>
					<attribute name="encodinganalog"/>
				</optional>
				<element name="titlestmt">
					<ref name="a.common"/>
					<optional>
						<attribute name="encodinganalog"/>
					</optional>
					<oneOrMore>
						<ref name="e.titleproper"/>
					</oneOrMore>
					<zeroOrMore>
						<ref name="e.subtitle"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="e.author"/>
					</zeroOrMore>
					<zeroOrMore>
						<ref name="e.sponsor"/>
					</zeroOrMore>
				</element>
				<optional>
					<element name="editionstmt">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<oneOrMore>
							<choice>
								<ref name="e.edition"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="publicationstmt">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<oneOrMore>
							<choice>
								<ref name="e.publisher"/>
								<ref name="e.date"/>
								<ref name="e.address"/>
								<ref name="e.num"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="seriesstmt">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<oneOrMore>
							<choice>
								<ref name="e.titleproper"/>
								<ref name="e.num"/>
								<ref name="e.p"/>
							</choice>
						</oneOrMore>
					</element>
				</optional>
				<optional>
					<element name="notestmt">
						<ref name="a.common"/>
						<optional>
							<attribute name="encodinganalog"/>
						</optional>
						<oneOrMore>
							<ref name="e.controlnote"/>
						</oneOrMore>
					</element>
				</optional>
			</element>
			<element name="maintenancestatus">
				<ref name="a.common"/>
				<attribute name="value">
					<choice>
						<value>revised</value>
						<value>deleted</value>
						<value>new</value>
						<value>deletedsplit</value>
						<value>deletedmerged</value>
						<value>deletedreplaced</value>
						<value>cancelled</value>
						<value>derived</value>
					</choice>
				</attribute>
				<ref name="m.mixed.basic"/>
			</element>
			<optional>
				<element name="publicationstatus">
					<ref name="a.common"/>
					<attribute name="value">
						<choice>
							<value>inprocess</value>
							<value>approved</value>
							<value>published</value>
						</choice>
					</attribute>
					<ref name="m.mixed.basic"/>
				</element>
			</optional>
			<ref name="e.maintenanceagency"/>
			<zeroOrMore>
				<element name="languagedeclaration">
					<ref name="a.common"/>
					<ref name="e.language"/>
					<ref name="e.script"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>
			</zeroOrMore>
			<zeroOrMore>

				<element name="conventiondeclaration">
					<ref name="a.common"/>
					<optional>
						<ref name="e.abbr"/>
					</optional>
					<ref name="e.citation"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>

			</zeroOrMore>
			<zeroOrMore>
				<element name="localtypedeclaration">
					<ref name="a.common"/>
					<optional>
						<ref name="e.abbr"/>
					</optional>
					<ref name="e.citation"/>
					<optional>
						<ref name="e.descriptivenote"/>
					</optional>
				</element>
			</zeroOrMore>
			<zeroOrMore>
				<element name="localcontrol">
					<ref name="a.common"/>
					<attribute name="localtype"/>
					<optional>
						<element name="term">
							<ref name="a.common"/>
							<optional>
								<attribute name="transliteration"/>
							</optional>
							<optional>
								<ref name="a.lastdatetimeverified"/>
							</optional>
							<optional>
								<!-- This source attribute as a data type wherease others don't. Should homogenize. -MR -->
								<attribute name="source">
									<data type="string"/>
								</attribute>
							</optional>
							<optional>
								<attribute name="identifier"/>
							</optional>
							<text/>
						</element>
					</optional>
					<optional>
						<choice>
							<ref name="e.datesingle"/>
							<ref name="e.daterange"/>
						</choice>
					</optional>
				</element>
			</zeroOrMore>
			<element name="maintenancehistory">
				<ref name="a.common"/>
				<oneOrMore>
					<element name="maintenanceevent">
						<ref name="a.common"/>
						<element name="eventtype">
							<ref name="a.common"/>
							<attribute name="value">
								<choice>
									<value>created</value>
									<value>revised</value>
									<value>deleted</value>
									<value>cancelled</value>
									<value>derived</value>
									<value>updated</value>
									<value>unknown</value>
								</choice>
							</attribute>
							<ref name="m.mixed.basic"/>
						</element>
						<element name="eventdatetime">
							<ref name="a.common"/>
							<optional>
								<attribute name="standarddatetime">
									<ref name="m.data.standardDateTime"/>
								</attribute>
							</optional>
							<text/>
						</element>
						<element name="agenttype">
							<ref name="a.common"/>
							<attribute name="value">
								<choice>
									<value>human</value>
									<value>machine</value>
									<value>unknown</value>
								</choice>
							</attribute>
							<ref name="m.mixed.basic"/>
						</element>
						<element a:id="agent" name="agent">
							<ref name="a.common"/>
							<text/>
						</element>
						<optional>
							<element a:id="eventdesccription" name="eventdescription">
								<ref name="a.common"/>
								<text/>
							</element>
						</optional>
					</element>
				</oneOrMore>
			</element>
			<optional>
				<element name="sources">
					<ref name="a.common"/>
					<optional>
						<attribute name="base">
							<data type="anyURI"/>
						</attribute>
					</optional>
					<oneOrMore>
						<element name="source">
							<ref name="a.common"/>
							<optional>
								<ref name="a.lastdatetimeverified"/>
							</optional>
							<optional>
								<ref name="am.simplelink"/>
							</optional>
							<optional>
								<element name="sourceentry">
									<ref name="a.common"/>
									<optional>
										<attribute name="transliteration"/>
									</optional>
									<text/>
								</element>
							</optional>
							<optional>
								<choice>
									<ref name="e.objectxmlwrap"/>
								</choice>
							</optional>
							<optional>
								<ref name="e.descriptivenote"/>
							</optional>
						</element>
					</oneOrMore>
				</element>
			</optional>
		</element>
	</define>

	<define name="m.id">
		<optional>
			<attribute name="localtype"/>
		</optional>
		<text/>
	</define>
	<define name="e.titleproper">
		<element name="titleproper">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>

			<ref name="m.mixed.basic"/>

		</element>
	</define>
	<define name="e.subtitle">
		<element name="subtitle">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.author">
		<element name="author">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.sponsor">
		<element name="sponsor">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	<define name="e.edition">
		<element name="edition">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>

			<ref name="m.mixed.basic"/>

		</element>
	</define>
	<define name="e.date">
		<element name="date">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<ref name="am.dates.era"/>
			<ref name="am.dates.calendar"/>
			<ref name="am.date.normal"/>
			<optional>
				<attribute name="certainty"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>

			<ref name="m.mixed.basic"/>

		</element>
	</define>

	<define name="e.publisher">
		<element name="publisher">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>

			<ref name="m.mixed.basic"/>

		</element>
	</define>
	<define name="e.controlnote">
		<element name="controlnote">
			<ref name="a.common"/>
			<optional>
				<attribute name="localtype"/>
			</optional>
			<optional>
				<attribute name="encodinganalog"/>
			</optional>
			<oneOrMore>
				<ref name="m.blocks"/>
			</oneOrMore>
		</element>
	</define>

	<!-- from EAC-CPF -->

	<define name="e.maintenanceagency">
		<element name="maintenanceagency">
			<ref name="a.common"/>
			<optional>
				<element name="agencycode">
					<optional>
						<ref name="a.common"/>
					</optional>
					<text/>
				</element>
			</optional>
			<zeroOrMore>
				<element name="otheragencycode">
					<ref name="a.common"/>
					<attribute name="localtype"/>
					<data type="NMTOKEN"/>
				</element>
			</zeroOrMore>
			<element name="agencyname">
				<text/>
			</element>
			<optional>
				<ref name="e.descriptivenote"/>
			</optional>
		</element>



	</define>

	<define name="e.citation">
		<element a:id="citation" name="citation">
			<ref name="a.common"/>
			<optional>
				<ref name="am.simplelink"/>
			</optional>
			<optional>
				<ref name="a.lastdatetimeverified"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>

	<define name="e.placeentry">
		<element name="placeentry">
			<ref name="a.common"/>
			<optional>
				<attribute name="transliteration"/>
			</optional>
			<optional>
				<ref name="a.localtype"/>
			</optional>
			<optional>
				<attribute name="countrycode">
					<data type="string"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="vocabularysource"/>
			</optional>
			<optional>
				<attribute name="accuracy">
					<text/>
				</attribute>
			</optional>
			<optional>
				<ref name="m.geographicalcoordinates"/>
			</optional>
			<text/>
		</element>
	</define>

	<define name="m.geographicalcoordinates">
		<attribute name="longitude">
			<data type="NMTOKEN"/>
		</attribute>
		<attribute name="latitude">
			<data type="NMTOKEN"/>
		</attribute>
		<optional>
			<attribute name="altitude">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>

	<define name="a.lastdatetimeverified">
		<attribute name="lastdatetimeverified">
			<ref name="m.data.standardDateTime"/>
		</attribute>
	</define>

	<define name="m.data.standardDateTime">
		<choice>
			<data type="date">
				<param name="maxInclusive">2099-12-31</param>
			</data>
			<data type="gYear">
				<param name="maxInclusive">2099</param>
			</data>
			<data type="gYearMonth">
				<param name="maxInclusive">2099-12</param>
			</data>
			<data type="dateTime">
				<param name="maxInclusive">2099-12-31T23:59:59</param>
			</data>
		</choice>
	</define>
</grammar>
