ead_revised_clean.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
  xmlns="http://relaxng.org/ns/structure/1.0"
  xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
            <ref name="e.ead"/>
    </start>
    <define name="e.ead">
		<element name="ead">
			<ref name="a.common"/>
			<optional>
				<attribute name="relatedEncoding"/>
			</optional>
<!--			<ref name="e.control"/> -->
			<element name="archDesc">
				<ref name="a.common"/>
				<attribute name="level">
					<choice>
						<ref name="av.level"/>
					</choice>
				</attribute>
				<ref name="a.desc.base"/>
				<optional>
					<attribute name="localType">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="relatedEncoding"/>
				</optional>
				<ref name="e.did"/>
				<zeroOrMore>
					<ref name="m.desc.base"/>
				</zeroOrMore>
				<!--		<optional>
					<element name="relations">
						<oneOrMore>
							<ref name="m.relation"/>
						</oneOrMore>
						
					</element>
				</optional>-->
				<choice>
					<zeroOrMore>
						<ref name="e.dsc"/>
					</zeroOrMore>
					<optional>
						<ref name="m.cOrC01"/>
					</optional>
				</choice>
			</element>
		</element>
    </define>
    
	<!-- ELEMENTS -->
	
	<define name="e.did">
		<element name="did">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<oneOrMore>
				<ref name="m.did"/>
			</oneOrMore>			
		</element>
	</define>
	
	
	<define name="e.accessRestrict">
		<element name="accessRestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.acqInfo">
		<element name="acqInfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.altFormAvail">
		<element name="altFormAvail">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.originalsLoc">
		<element name="originalsLoc">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.physTech">
		<element name="physTech">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.appraisal">
		<element name="appraisal">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.custodHist">
		<element name="custodHist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.preferCite">
		<element name="preferCite">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.processInfo">
		<element name="processInfo">
			<ref name="a.common"/>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.useRestrict">
		<element name="useRestrict">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.biogHist">
		<element name="biogHist">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.controlAccess">
		<element name="controlAccess">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="m.access.entry"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.odd">
		<element name="odd">
			<ref name="a.common"/>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.scopeContent">
		<element name="scopeContent">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>

						<ref name="m.blocks"/>


					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.arrangement">
		<element name="arrangement">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
					</choice>
				</oneOrMore>
			</choice>
		</element>
	</define>
	<define name="e.bibliography">
		<element name="bibliography">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<optional>
				<ref name="e.head"/>
			</optional>
			<choice>
				<group>
					<ref name="e.div"/>
					<oneOrMore>
						<ref name="e.div"/>
					</oneOrMore>
				</group>
				<oneOrMore>
					<choice>
						<ref name="m.blocks"/>
						<ref name="m.refs"/>
						<zeroOrMore>
							<ref name="e.bibRef"/>
						</zeroOrMore>
						<zeroOrMore>
							<ref name="e.archRef"/>
						</zeroOrMore>
					</choice>
					<!-- TC: 2012-06-08 remove recursion in note elements -->
					<!-- <ref name="bibliography"/> -->

				</oneOrMore>
			</choice>
		</element>
	</define>
	
	<define name="e.head">
		<element name="head">
			<ref name="a.common"/>
			<optional>
				<attribute name="altHead"/>
			</optional>
			<ref name="m.mixed.basic"/>
		</element>
	</define>
	
	<define name="e.emph">
		<element name="emph">
			<ref name="a.common"/>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="altRender"/>
			</optional>
			<text/>
		</element>
	</define>
	
	<define name="e.lb">	
		<element name="lb">
			<ref name="a.common.empty"/>
			<empty/>
		</element>
	</define>
	
	<define name="e.ref">
		<element name="ref">
			<ref name="a.common"/>
		    <text/>
		</element>
	</define>
	
	<define name="e.dsc">
		<element name="dsc">
			<ref name="a.common"/>
			<optional>
				<attribute name="dscType">
					<choice>
						<value>analyticOver</value>
						<value>combined</value>
						<value>inDepth</value>
						<value>otherType</value>
					</choice>
				</attribute>
			</optional>
			<optional>
				<attribute name="otherType">
					<data type="NMTOKEN"/>
				</attribute>
			</optional>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<ref name="a.dsctab.tPattern"/>
			<group>
				<optional>
					<ref name="e.head"/>
				</optional>
				<zeroOrMore>
					<ref name="m.blocks"/>
				</zeroOrMore>
			</group>
			<choice>

				<ref name="m.cOrC01"/>

			</choice>
		</element>
	</define>
	
	<define name="e.div">
		<element name="div">
			<ref name="a.common"/>
			<optional>
				<ref name="e.head"/>
			</optional>
			<zeroOrMore>
				<ref name="m.blocks"/>
			</zeroOrMore>
			<zeroOrMore>
				<ref name="e.div"/>
			</zeroOrMore>
		</element>
	</define>
	
	<define name="e.bibRef">
		<element name="bibRef">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<ref name="m.mixed.basic"/>
					<ref name="e.title"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	
	<define name="e.archRef">
		<element name="archRef">
			<ref name="a.common"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<zeroOrMore>
				<choice>
					<text/>
					<ref name="m.mixed.basic"/>
					<ref name="e.title"/>
				</choice>
			</zeroOrMore>
		</element>
	</define>
	
	<define name="e.title">
		<element name="title">
			<ref name="a.common"/>
			<optional>
				<attribute name="localType"/>
			</optional>
			<optional>
				<attribute name="render">
					<choice>
						<ref name="av.render"/>
					</choice>
				</attribute>
			</optional>
			<ref name="a.access"/>
			<optional>
				<attribute name="encodingAnalog"/>
			</optional>
			<zeroOrMore>
             <ref name="m.mixed.basic"/>
			</zeroOrMore>
		</element>
	</define>
	
    <!-- ATTRIBUTE VALUE LISTS -->
    
	<define name="av.level">
		<choice>
			<value>class</value>
			<value>collection</value>
			<value>file</value>
			<value>fonds</value>
			<value>item</value>
			<value>otherLevel</value>
			<value>recordGrp</value>
			<value>series</value>
			<value>subFonds</value>
			<value>subGrp</value>
			<value>subSeries</value>
		</choice>
	</define>
	
	<define name="av.render">
		<choice>
			<value>altRender</value>
			<value>bold</value>
			<value>boldDoubleQuote</value>
			<value>boldItalic</value>
			<value>boldSingleQuote</value>
			<value>boldSmCaps</value>
			<value>boldUnderline</value>
			<value>doubleQuote</value>
			<value>italic</value>
			<value>nonProPort</value>
			<value>singleQuote</value>
			<value>smCaps</value>
			<value>sub</value>
			<value>super</value>
			<value>underline</value>
		</choice>
	</define>
    
    <!-- MODELS -->
	<define name="a.dsctab.tPattern">
		<optional>
			<attribute name="tPattern">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
	</define>
	<define name="a.common.empty">
		<optional>
			<attribute name="id">
				<data type="ID"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="altRender"/>
		</optional>
		<optional>
			<attribute name="audience">
				<choice>
					<value>external</value>
					<value>internal</value>
				</choice>
			</attribute>
		</optional>
		<optional>
			<attribute name="altRender"/>
		</optional>
	</define>
	<define name="a.common">
		<ref name="a.common"/>
		<optional>
			<attribute name="lang"/>
			<attribute name="script"/>
		</optional>
	</define>
	
	<define name="a.desc.base">
		<optional>
			<attribute name="otherLevel">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="encodingAnalog"/>
		</optional>
	</define>	
	<define name="a.access.no.normal">
		<optional>
			<attribute name="source">
				<data type="token"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="rules">
				<data type="NMTOKEN"/>
			</attribute>
		</optional>
		<optional>
			<attribute name="identifier"/>
		</optional>
	</define>
	
	<define name="a.access">
		<ref name="a.access.no.normal"/>
		<optional>
			<attribute name="normal"/>
		</optional>
	</define>
	
	<define name="m.desc.base">
		<choice>
			<ref name="e.accessRestrict"/>
			<ref name="e.accruals"/>
			<ref name="e.acqInfo"/>
			<ref name="e.altFormAvail"/>
			<ref name="e.appraisal"/>
			<ref name="e.arrangement"/>
			<ref name="e.bibliography"/>
			<ref name="e.biogHist"/>
			<ref name="e.controlAccess"/>
			<ref name="e.custodHist"/>
			<ref name="e.index"/>
			<ref name="e.legalStatus"/>
			<ref name="e.materialSpec"/>
			<ref name="e.odd"/>
			<ref name="e.originalsLoc"/>
			<ref name="e.otherFindAid"/>
			<ref name="e.physTech"/>
			<ref name="e.preferCite"/>
			<ref name="e.processInfo"/>
			<ref name="e.relatedMaterial"/>
			<ref name="e.scopeContent"/>
			<ref name="e.separatedMaterial"/>
			<ref name="e.useRestrict"/>
		</choice>
	</define>
	<define name="m.did">
		<choice>
			<element name="abstract">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="localType"/>
				</optional>
				<ref name="am.langCode"/>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="langMaterial">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>
			<element name="didNote">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="localType"/>
				</optional>
				<optional>
					<attribute name="localTypeSource"/>
				</optional>
				<ref name="am.langCode"/>
				<ref name="m.mixed.basic"/>
			</element>

			<ref name="e.origination"/>


			<element name="physDesc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="source">
						<data type="token"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<ref name="m.mixed.basic"/>
			</element>

			<element name="physDescStructured">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="source">
						<data type="token"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="rules">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="physDescStructuredType">
						<choice>
							<value>carrier</value>
							<value>materialType</value>
							<value>spaceOccupied</value>
						</choice>
					</attribute>
				</optional>
				<zeroOrMore>
					<choice>
						<element name="specifiedMaterials">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="localType"/>
							</optional>
							<optional>
								<attribute name="localTypeSource"/>
							</optional>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<ref name="m.mixed.basic"/>
						</element>
						<element name="physDetails">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="localType"/>
							</optional>
							<optional>
								<attribute name="localTypeSource"/>
							</optional>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<ref name="m.mixed.basic"/>
						</element>
						<element name="physType">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="localType"/>
							</optional>
							<optional>
								<attribute name="localTypeSource"/>
							</optional>
							<optional>
								<attribute name="encodinganalog"/>
							</optional>
							<ref name="m.mixed.basic"/>
						</element>
						<ref name="e.dimensions"/>
						<element name="extent">
							<ref name="a.common"/>
							<optional>
								<attribute name="label"/>
							</optional>
							<optional>
								<attribute name="localType"/>
							</optional>
							<optional>
								<attribute name="localTypeSource"/>
							</optional>
							<optional>
								<attribute name="unit"/>
							</optional>
							<optional>
								<attribute name="encodingAnalog"/>
							</optional>
							<ref name="m.mixed.basic"/>
						</element>
						<ref name="num"/>
					</choice>
				</zeroOrMore>
			</element>
			<element name="physLoc">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localType"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>
				<!-- TC: 2012-06-13: only permit emph and ref as element children -->
				<ref name="m.mixed.basic"/>
			</element>
			<ref name="e.repository"/>
			<ref name="e.unitDate"/>
			<!-- 2013-01-23; TC: added unitDateStructured -->
			<ref name="e.unitDateStructured"/>
			<element name="unitId">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localType"/>
				</optional>
				<ref name="am.countryCode"/>
				<optional>
					<attribute name="repositoryCode">
						<ref name="data.repositoryCode"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="identifier"/>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<!-- TC; 2012-6-13: only permit <emph> and <ref> as element children -->
                 <ref name="m.mixed.basic"/>
			</element>
			<ref name="e.unitTitle"/>
			<element name="container">
				<ref name="a.common"/>
				<optional>
					<attribute name="label"/>
				</optional>
				<optional>
					<attribute name="localType">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="parent">
						<data type="IDREFS"/>
					</attribute>
				</optional>

				<optional>
					<attribute name="containerId">
						<data type="NMTOKEN"/>
					</attribute>
				</optional>
				
					<ref name="m.mixed.basic"/>
				
			</element>
			<ref name="e.dao"/>
		</choice>
	</define>
	
	<define name="m.refs">
			<ref name="e.ref"/>
			<ref name="e.ptr"/>
	</define>
	
	<define name="m.mixed.basic">
		<zeroOrMore>
			<choice>
				<text/>
				<ref name="e.emph"/>
				<ref name="e.lb"/>
				<ref name="e.ref"/>
			</choice>
		</zeroOrMore>
	</define>
	
	<define name="m.blocks">
		<choice>
			<ref name="m.inter"/>
			<ref name="e.p"/>
		</choice>
	</define>

	<define name="m.cOrC01">
		<choice>
			<oneOrMore>
				<ref name="e.c"/>
			</oneOrMore>
			<oneOrMore>
				<ref name="e.c01"/>
			</oneOrMore>
		</choice>
	</define>

	<define name="m.access.entry">
		<choice>
			<element name="corpNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="famNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="geogNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="genericNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="occupationEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="persNameEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<optional>
					<attribute name="role"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="subjectEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="genreFormEntry">
				<ref name="a.common"/>
				<optional>
					<attribute name="localType"/>
				</optional>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="functionEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
			<element name="titleEntry">
				<ref name="a.common"/>
				<ref name="a.access.no.normal"/>
				<optional>
					<attribute name="encodingAnalog"/>
				</optional>
				<oneOrMore>
					<ref name="e.part"/>
				</oneOrMore>
			</element>
		</choice>
	</define>

</grammar>