ead_revised.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:isbn:1-931666-22-9"
  xmlns="urn:isbn:1-931666-22-9"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ead">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="control"/>
        <xs:element ref="archdesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="archdesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="did"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="m.desc.base"/>
        <xs:element minOccurs="0" ref="relations"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dsc"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="level" use="required" type="av.level"/>
      <xs:attributeGroup ref="a.desc.base"/>
      <xs:attribute name="localtype" type="xs:NMTOKEN"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <!-- ELEMENTS -->
  <xs:element name="did">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:element maxOccurs="unbounded" ref="m.did"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="origination" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="persname"/>
          <xs:element ref="corpname"/>
          <xs:element ref="name"/>
          <xs:element ref="famname"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physdescstructured" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="quantity"/>
        <xs:element ref="unittype"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dimensions"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="physfacet"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
      <xs:attribute name="physdescstructuredtype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="carrier"/>
            <xs:enumeration value="materialtype"/>
            <xs:enumeration value="spaceoccupied"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="coverage" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="whole"/>
            <xs:enumeration value="part"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="quantity">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unittype">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="identifier"/>
      <xs:attribute name="source"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="repository" substitutionGroup="m.did">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="corpname"/>
        <xs:element ref="name"/>
        <xs:element ref="famname"/>
        <xs:element minOccurs="0" ref="address"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unittitle" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitdate" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="unitdatetype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="bulk"/>
            <xs:enumeration value="inclusive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datechar"/>
      <xs:attributeGroup ref="am.dates.era"/>
      <xs:attributeGroup ref="am.dates.calendar"/>
      <xs:attributeGroup ref="am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitdatestructured" substitutionGroup="m.did">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.dates">
          <xs:attributeGroup ref="a.common"/>
          <xs:attribute name="label"/>
          <xs:attribute name="unitdatetype">
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="bulk"/>
                <xs:enumeration value="inclusive"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="certainty"/>
          <xs:attribute name="encodinganalog"/>
          <xs:attribute name="datechar"/>
          <xs:attributeGroup ref="am.dates.era"/>
          <xs:attributeGroup ref="am.dates.calendar"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="datesingle" substitutionGroup="m.dates">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="m.datesingle"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="daterange" substitutionGroup="m.dates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="fromdate"/>
        <xs:element minOccurs="0" ref="todate"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fromdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="datesingle"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="todate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="datesingle"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dateset" substitutionGroup="m.dates">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="datesingle"/>
          <xs:element ref="daterange"/>
        </xs:choice>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="datesingle"/>
          <xs:element ref="daterange"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dao" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="daodesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="am.simplelink"/>
      <xs:attribute name="daotype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="borndigital"/>
            <xs:enumeration value="derived"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="other"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdaotype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="daodesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:element maxOccurs="unbounded" ref="m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="accessrestrict" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="accessrestrict"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="accruals" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="accruals"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileplan" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="fileplan"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="acqinfo" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="acqinfo"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="altformavail" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="altformavail"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="originalsloc" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="originalsloc"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="phystech" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="phystech"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="appraisal" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="appraisal"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="custodhist" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="custodhist"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="index" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="m.blocks"/>
        <xs:sequence>
          <xs:element minOccurs="0" ref="listhead"/>
          <xs:element maxOccurs="unbounded" ref="indexentry"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="indexentry">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="namegrp"/>
          <xs:element ref="m.access.title"/>
        </xs:choice>
        <xs:group minOccurs="0" ref="m.refs"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="indexentry"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="namegrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="m.access.title"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="legalstatus" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="legalstatus"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="materialspec" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="materialspec"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="prefercite" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="prefercite"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="processinfo" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="processinfo"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="userestrict" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="userestrict"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bioghist" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="bioghist"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="controlaccess" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="m.access.title"/>
          <xs:element ref="controlaccess"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="odd" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="odd"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="scopecontent" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="scopecontent"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="arrangement" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="arrangement"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibliography" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="bibliography"/>
          <xs:element ref="archref"/>
          <xs:element ref="bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="relatedmaterial" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="relatedmaterial"/>
          <xs:element ref="archref"/>
          <xs:element ref="bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="separatedmaterial" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="separatedmaterial"/>
          <xs:element ref="archref"/>
          <xs:element ref="bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherfindaid" substitutionGroup="m.desc.base">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="m.blocks"/>
          <xs:element ref="otherfindaid"/>
          <xs:element ref="archref"/>
          <xs:element ref="bibref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="list" substitutionGroup="m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:choice>
          <xs:element maxOccurs="unbounded" ref="item"/>
          <xs:sequence>
            <xs:element minOccurs="0" ref="listhead"/>
            <xs:element maxOccurs="unbounded" ref="defitem"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="listtype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="deflist"/>
            <xs:enumeration value="unordered"/>
            <xs:enumeration value="ordered"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mark">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="disc"/>
            <xs:enumeration value="circle"/>
            <xs:enumeration value="square"/>
            <xs:enumeration value="decimal"/>
            <xs:enumeration value="decimal-leading-zero"/>
            <xs:enumeration value="lower-roman"/>
            <xs:enumeration value="upper-roman"/>
            <xs:enumeration value="lower-greek"/>
            <xs:enumeration value="lower-latin"/>
            <xs:enumeration value="upper-latin"/>
            <xs:enumeration value="armenian"/>
            <xs:enumeration value="georgian"/>
            <xs:enumeration value="lower-alpha"/>
            <xs:enumeration value="upper-alpha"/>
            <xs:enumeration value="none"/>
            <xs:enumeration value="inherit"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeration">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="arabic"/>
            <xs:enumeration value="upperAlpha"/>
            <xs:enumeration value="lowerAlpha"/>
            <xs:enumeration value="upperRoman"/>
            <xs:enumeration value="lowerRoman"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="defitem">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="label"/>
        <xs:element ref="item"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.para.content"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="althead"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listhead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head01"/>
        <xs:element minOccurs="0" ref="head02"/>
        <xs:element minOccurs="0" ref="head03"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head01">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head02">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="head03">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="table" substitutionGroup="m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="head"/>
        <xs:element minOccurs="0" ref="colspec"/>
        <xs:element maxOccurs="unbounded" ref="row"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="frame">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="topbot"/>
            <xs:enumeration value="all"/>
            <xs:enumeration value="sides"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="cols"/>
      <xs:attribute name="width"/>
      <xs:attribute name="colsep" type="av.yesorno"/>
      <xs:attribute name="rowsep" type="av.yesorno"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="colspec">
    <xs:complexType>
      <xs:attributeGroup ref="a.common.empty"/>
      <xs:attribute name="cols" type="xs:NMTOKEN"/>
      <xs:attribute name="colname" type="xs:NMTOKEN"/>
      <xs:attribute name="width"/>
      <xs:attribute name="colsep" type="av.yesorno"/>
      <xs:attribute name="rowsep" type="av.yesorno"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="row">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="thentry"/>
        <xs:element ref="entry"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="rowsep" type="av.yesorno"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="thentry">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="entry">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.para.content"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="colname" type="xs:NMTOKEN"/>
      <xs:attribute name="namest" type="xs:NMTOKEN"/>
      <xs:attribute name="nameend" type="xs:NMTOKEN"/>
      <xs:attribute name="morerows" type="xs:NMTOKEN"/>
      <xs:attribute name="colsep" type="av.yesorno"/>
      <xs:attribute name="rowsep" type="av.yesorno"/>
      <xs:attribute name="align">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="left"/>
            <xs:enumeration value="right"/>
            <xs:enumeration value="center"/>
            <xs:enumeration value="justify"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
            <xs:enumeration value="baseline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="thead">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="row"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="valign">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="top"/>
            <xs:enumeration value="middle"/>
            <xs:enumeration value="bottom"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbr">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expan">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="num">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="quote">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="emph">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="render" type="av.render"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="lb">
    <xs:complexType>
      <xs:attributeGroup ref="a.common.empty"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="abbr"/>
        <xs:element ref="expan"/>
        <xs:element ref="emph"/>
        <xs:element ref="lb"/>
        <xs:element ref="ptr"/>
        <xs:element ref="quote"/>
        <xs:element ref="num"/>
        <xs:element ref="footnote"/>
        <xs:element ref="date"/>
        <xs:element ref="m.access.title"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.internal.ptr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:complexType>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.internal.ptr"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="dsc">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element minOccurs="0" ref="head"/>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="m.blocks"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="thead"/>
        <xs:group minOccurs="0" ref="m.cOrC01"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="dsctype">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="analyticover"/>
            <xs:enumeration value="combined"/>
            <xs:enumeration value="indepth"/>
            <xs:enumeration value="otherdsctype"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdsctype" type="xs:NMTOKEN"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attributeGroup ref="a.dsctab.tpattern"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="e.div">
    	<element name="div">
    		<ref name="a.common"/>
    		<optional>
    			<ref name="e.head"/>
    		</optional>
    		<zeroOrMore>
    			<ref name="m.blocks"/>
    		</zeroOrMore>
    		<zeroOrMore>
    			<ref name="e.div"/>
    		</zeroOrMore>
    	</element>
    </define>
  -->
  <xs:element name="bibref">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="archref">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <!--
     Title should have one or more <part>, not m.mixed.basic.  
    Would that allow it to be added to m.access, eliminating the need for m.access.title? -MR
  -->
  <xs:element name="title" substitutionGroup="m.access.title">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="render" type="av.render"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="c">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c01">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c02"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c02">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c03"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c03">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c04"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c04">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c05"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c05">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c06"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c06">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c07"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c07">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c08"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c08">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c09"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c09">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c10"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c10">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c11"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c11">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="m.c.base">
          <xs:sequence>
            <xs:element minOccurs="0" ref="thead"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="c12"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="c12" type="m.c.base"/>
  <xs:element name="dimensions">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="m.mixed.basic"/>
        <xs:element ref="dimensions"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physfacet">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="unit"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="language">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="label"/>
      <xs:attribute name="langcode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="script">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="label"/>
      <xs:attribute name="scriptcode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="languageset">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="language"/>
        <xs:element maxOccurs="unbounded" ref="script"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="addressline"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="addressline">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="corpname" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="famname" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="geogname" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="name" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="persname" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="role"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="occupation" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subject" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genreform" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="function" substitutionGroup="m.access">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="part"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="a.access"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="part">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="descriptivenote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="p"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p" substitutionGroup="m.blocks">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.para.content"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="footnote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="embed"/>
            <xs:enumeration value="new"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onload"/>
            <xs:enumeration value="onrequest"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="event">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="m.para.content"/>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <!--
    <define name="e.placeentry">
    	<element name="placeentry">
    		<ref name="a.common"/>
    		<optional>
    			<ref name="m.entrylanguageattributes"/>
    		</optional>
    		<optional>
    			<ref name="a.localtype"/>
    		</optional>
    		<optional>
    			<ref name="am.countrycode"/>
    		</optional>
    		<optional>
    			<ref name="a.vocabularysource"/>
    		</optional>
    		<optional>
    			<attribute  name="accuracy">
    				<text/>
    			</attribute>
    		</optional>
    		<optional>
    			<ref name="m.geographicalcoordinates"/>
    		</optional>
    		<text/>
    	</element>
    </define>
  -->
  <xs:element name="relations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="relation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="objectxmlwrap">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="e.anyname">
          <xs:attributeGroup ref="a.common"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="e.anyname">
    <xs:choice>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:complexType>
  <!-- ATTRIBUTE VALUE LISTS -->
  <xs:simpleType name="av.level">
    <xs:restriction base="xs:token">
      <xs:enumeration value="class"/>
      <xs:enumeration value="collection"/>
      <xs:enumeration value="file"/>
      <xs:enumeration value="fonds"/>
      <xs:enumeration value="item"/>
      <xs:enumeration value="otherlevel"/>
      <xs:enumeration value="recordgrp"/>
      <xs:enumeration value="series"/>
      <xs:enumeration value="subfonds"/>
      <xs:enumeration value="subgrp"/>
      <xs:enumeration value="subseries"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="av.render">
    <xs:restriction base="xs:token">
      <xs:enumeration value="altrender"/>
      <xs:enumeration value="bold"/>
      <xs:enumeration value="bolddoublequote"/>
      <xs:enumeration value="bolditalic"/>
      <xs:enumeration value="boldsinglequote"/>
      <xs:enumeration value="boldsmcaps"/>
      <xs:enumeration value="boldunderline"/>
      <xs:enumeration value="doublequote"/>
      <xs:enumeration value="italic"/>
      <xs:enumeration value="nonproport"/>
      <xs:enumeration value="singlequote"/>
      <xs:enumeration value="smcaps"/>
      <xs:enumeration value="sub"/>
      <xs:enumeration value="super"/>
      <xs:enumeration value="underline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="av.yesorno">
    <xs:restriction base="xs:token">
      <xs:enumeration value="yes"/>
      <xs:enumeration value="no"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- MODELS -->
  <xs:attributeGroup name="a.dsctab.tpattern">
    <xs:attribute name="tpattern" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.common.empty">
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="altrender"/>
    <xs:attribute name="audience">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="external"/>
          <xs:enumeration value="internal"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.common">
    <xs:attributeGroup ref="a.common.empty"/>
    <xs:attribute name="lang"/>
    <xs:attribute name="script"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.desc.base">
    <xs:attribute name="otherlevel" type="xs:NMTOKEN"/>
    <xs:attribute name="encodinganalog"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.desc.c">
    <xs:attributeGroup ref="a.common"/>
    <xs:attribute name="level" type="av.level"/>
    <xs:attributeGroup ref="a.desc.base"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.access.no.normal">
    <xs:attribute name="source" type="xs:token"/>
    <xs:attribute name="rules" type="xs:NMTOKEN"/>
    <xs:attribute name="identifier"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.access">
    <xs:attributeGroup ref="a.access.no.normal"/>
    <xs:attribute name="normal"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.localtype">
    <xs:attribute name="localtype" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.langcode">
    <xs:attribute name="langcode"/>
  </xs:attributeGroup>
  <xs:element name="m.desc.base" abstract="true"/>
  <xs:element name="m.dates" abstract="true"/>
  <xs:complexType name="m.dates">
    <xs:sequence>
      <xs:element ref="m.dates"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="m.did" abstract="true"/>
  <xs:element name="abstract" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="langmaterial" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="language"/>
          <xs:element ref="languageset"/>
        </xs:choice>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="didnote" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="localtypesource"/>
      <xs:attributeGroup ref="am.langcode"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physdesc" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parallelphysdescset" substitutionGroup="m.did">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="physdescstructured"/>
        <xs:element maxOccurs="unbounded" ref="physdescstructured"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="physloc" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="unitid" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="am.countrycode"/>
      <xs:attribute name="repositorycode" type="data.repositorycode"/>
      <xs:attribute name="identifier"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="container" substitutionGroup="m.did">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="label"/>
      <xs:attribute name="localtype" type="xs:NMTOKEN"/>
      <xs:attribute name="encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
      <xs:attribute name="containerid" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:group name="m.refs">
    <xs:sequence>
      <xs:element ref="ref"/>
      <xs:element ref="ptr"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="abbr"/>
        <xs:element ref="expan"/>
        <xs:element ref="emph"/>
        <xs:element ref="lb"/>
        <xs:element ref="ref"/>
        <xs:element ref="ptr"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic.plus">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="m.mixed.basic"/>
        <xs:element ref="quote"/>
        <xs:element ref="num"/>
        <xs:element ref="footnote"/>
        <xs:element ref="date"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="m.mixed.basic.plus.access">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="m.access.title"/>
        <xs:group ref="m.mixed.basic"/>
        <xs:element ref="quote"/>
        <xs:element ref="num"/>
        <xs:element ref="footnote"/>
        <xs:element ref="date"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!-- to allow recursion in some elements, e.g., dimensions -->
  <xs:group name="m.mixed.elements">
    <xs:sequence>
      <xs:element ref="abbr"/>
      <xs:element ref="expan"/>
      <xs:element ref="emph"/>
      <xs:element ref="lb"/>
      <xs:element ref="ref"/>
      <xs:element ref="ptr"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="m.blocks" abstract="true"/>
  <xs:element name="m.inter" abstract="true" substitutionGroup="m.blocks"/>
  <xs:element name="blockquote" substitutionGroup="m.inter">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="m.inter.noquote"/>
        <xs:element ref="p"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="m.inter.noquote" abstract="true" substitutionGroup="m.inter"/>
  <xs:element name="chronlist" substitutionGroup="m.inter.noquote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="chronitem"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chronitem">
    <xs:complexType>
      <xs:sequence>
        <xs:choice>
          <xs:element ref="datesingle"/>
          <xs:element ref="daterange"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence>
            <xs:element minOccurs="0" ref="placeentry"/>
            <xs:element ref="event"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="chronitemset"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="chronitemset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="placeentry"/>
        <xs:element maxOccurs="unbounded" ref="event"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:group name="m.cOrC01">
    <xs:choice>
      <xs:element maxOccurs="unbounded" ref="c"/>
      <xs:element maxOccurs="unbounded" ref="c01"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="m.c.base">
    <xs:sequence>
      <xs:element minOccurs="0" ref="head"/>
      <xs:element ref="did"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="m.desc.base"/>
      <xs:element minOccurs="0" ref="relations"/>
    </xs:sequence>
    <xs:attributeGroup ref="a.desc.c"/>
  </xs:complexType>
  <xs:element name="m.access" abstract="true" substitutionGroup="m.access.title"/>
  <xs:element name="m.access.title" abstract="true"/>
  <xs:group name="m.para.content">
    <xs:choice>
      <xs:group ref="m.mixed.basic.plus"/>
      <xs:element ref="m.access.title"/>
      <xs:element ref="list"/>
    </xs:choice>
  </xs:group>
  <xs:simpleType name="m.data.standarddate">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:maxInclusive value="2099-12-31"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYear">
          <xs:maxInclusive value="2099"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYearMonth">
          <xs:maxInclusive value="2099-12"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:attributeGroup name="m.datesingle">
    <xs:attribute name="standarddate" type="m.data.standarddate"/>
    <xs:attribute name="notbefore" type="m.data.standarddate"/>
    <xs:attribute name="notafter" type="m.data.standarddate"/>
  </xs:attributeGroup>
  <xs:element name="relation">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="datesingle"/>
          <xs:element ref="dateset"/>
          <xs:element ref="daterange"/>
        </xs:choice>
        <xs:element maxOccurs="unbounded" ref="relationentry"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
        <xs:element minOccurs="0" ref="placeentry"/>
        <xs:element minOccurs="0" ref="objectxmlwrap"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="scriptcode" type="xs:string"/>
      <xs:attribute name="relationtype" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="cpfrelation"/>
            <xs:enumeration value="resourcerelation"/>
            <xs:enumeration value="functionrelation"/>
            <xs:enumeration value="otherrelation"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherrelationtype" type="xs:string"/>
      <xs:attribute name="lastdatetimeverified" type="xs:dateTime"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="linkarcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="relationentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="transliteration" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="a.internal.ptr">
    <xs:attribute name="target" type="xs:IDREF"/>
    <xs:attribute name="xpointer"/>
    <xs:attributeGroup ref="am.simplelink"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.simplelink">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="simple"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="href" type="xs:anyURI"/>
    <xs:attribute name="linkrole" type="xs:anyURI"/>
    <xs:attribute name="linkarcrole" type="xs:anyURI"/>
    <xs:attribute name="linktitle"/>
    <xs:attribute name="show">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="new"/>
          <xs:enumeration value="replace"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="actuate">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="onLoad"/>
          <xs:enumeration value="onRequest"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.href">
    <xs:attribute name="href" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.role">
    <xs:attribute name="linkrole" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.arcrole">
    <xs:attribute name="linkarcrole" use="required" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.title">
    <xs:attribute name="linktitle" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.show">
    <xs:attribute name="show" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="new"/>
          <xs:enumeration value="replace"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.link.actuate">
    <xs:attribute name="actuate" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="onLoad"/>
          <xs:enumeration value="onRequest"/>
          <xs:enumeration value="other"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.dates.calendar">
    <xs:attribute name="calendar" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="am.dates.era">
    <xs:attribute name="era" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <!-- unitdate/@normal no longer enforces the iso 8601 pattern. Why? -MR -->
  <xs:attributeGroup name="am.date.normal">
    <xs:attribute name="normal" type="xs:token"/>
  </xs:attributeGroup>
  <xs:simpleType name="data.repositorycode">
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:attributeGroup name="am.countrycode">
    <xs:attribute name="countrycode" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <!-- Control and inherited models from EAC-CPF -->
  <xs:element name="control">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="recordid"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="otherrecordid"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="representation"/>
        <xs:element ref="filedesc"/>
        <xs:element ref="maintenancestatus"/>
        <xs:element minOccurs="0" ref="publicationstatus"/>
        <xs:element ref="maintenanceagency"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="languagedeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="conventiondeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="localtypedeclaration"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="localcontrol"/>
        <xs:element ref="maintenancehistory"/>
        <xs:element minOccurs="0" ref="sources"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="base" type="xs:anyURI"/>
      <xs:attribute name="relatedencoding"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordid">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attributeGroup ref="a.common"/>
          <xs:attribute name="instanceurl" type="xs:anyURI"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="otherrecordid">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="m.id"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="representation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attributeGroup ref="am.simplelink"/>
      <xs:attribute name="localtype"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filedesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titlestmt"/>
        <xs:element minOccurs="0" ref="editionstmt"/>
        <xs:element minOccurs="0" ref="publicationstmt"/>
        <xs:element minOccurs="0" ref="seriesstmt"/>
        <xs:element minOccurs="0" ref="notestmt"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titlestmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="titleproper"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="subtitle"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="author"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sponsor"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="editionstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="edition"/>
        <xs:element ref="p"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="publisher"/>
        <xs:element ref="date"/>
        <xs:element ref="address"/>
        <xs:element ref="num"/>
        <xs:element ref="p"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seriesstmt">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="titleproper"/>
        <xs:element ref="num"/>
        <xs:element ref="p"/>
      </xs:choice>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="notestmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="controlnote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenancestatus">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="revised"/>
              <xs:enumeration value="deleted"/>
              <xs:enumeration value="new"/>
              <xs:enumeration value="deletedSplit"/>
              <xs:enumeration value="deletedReplaced"/>
              <xs:enumeration value="cancelled"/>
              <xs:enumeration value="derived"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attributeGroup ref="a.common"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationstatus">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="inProcess"/>
              <xs:enumeration value="approved"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attributeGroup ref="a.common"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="languagedeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="language"/>
        <xs:element ref="script"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="conventiondeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="abbr"/>
        <xs:element ref="citation"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="localtypedeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="abbr"/>
        <xs:element ref="citation"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="localcontrol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="term"/>
        <xs:choice minOccurs="0">
          <xs:element ref="datesingle"/>
          <xs:element ref="daterange"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="term">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="transliteration"/>
      <xs:attribute name="lastdatetimeverified" type="m.data.standardDateTime"/>
      <xs:attribute name="source" type="xs:string"/>
      <xs:attribute name="identifier"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenancehistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="maintenanceevent"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="maintenanceevent">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="eventtype"/>
        <xs:element ref="eventdatetime"/>
        <xs:element ref="agenttype"/>
        <xs:element ref="agent"/>
        <xs:element minOccurs="0" ref="eventdescription"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventtype">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="created"/>
              <xs:enumeration value="revised"/>
              <xs:enumeration value="deleted"/>
              <xs:enumeration value="cancelled"/>
              <xs:enumeration value="derived"/>
              <xs:enumeration value="updated"/>
              <xs:enumeration value="unknown"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attributeGroup ref="a.common"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventdatetime">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="standarddatetime" type="m.data.standardDateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="agenttype">
    <xs:complexType>
      <xs:simpleContent>
        <xs:restriction base="xs:anyType">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="human"/>
              <xs:enumeration value="machine"/>
              <xs:enumeration value="unknown"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:attributeGroup ref="a.common"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="agent">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventdescription">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sources">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="source"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="base" type="xs:anyURI"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="sourceentry"/>
        <xs:element minOccurs="0" ref="objectxmlwrap"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="lastdatetimeverified" type="m.data.standardDateTime"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="linkarcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="sourceentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="transliteration"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="m.id">
    <xs:attribute name="localtype"/>
  </xs:attributeGroup>
  <xs:element name="titleproper">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="render" type="av.render"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitle">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="author">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="sponsor">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="edition">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attributeGroup ref="am.dates.era"/>
      <xs:attributeGroup ref="am.dates.calendar"/>
      <xs:attributeGroup ref="am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="controlnote">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="m.blocks"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="encodinganalog"/>
    </xs:complexType>
  </xs:element>
  <!-- from EAC-CPF -->
  <xs:element name="maintenanceagency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="agencycode"/>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="otheragencycode"/>
        <xs:element ref="agencyname"/>
        <xs:element minOccurs="0" ref="descriptivenote"/>
      </xs:sequence>
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="agencycode">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="otheragencycode">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NMTOKEN">
          <xs:attributeGroup ref="a.common"/>
          <xs:attribute name="localtype" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="agencyname" type="xs:string"/>
  <xs:element name="citation">
    <xs:complexType mixed="true">
      <xs:group ref="m.mixed.basic"/>
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="simple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="linkarcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="new"/>
            <xs:enumeration value="replace"/>
            <xs:enumeration value="embed"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="onLoad"/>
            <xs:enumeration value="onRequest"/>
            <xs:enumeration value="other"/>
            <xs:enumeration value="none"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="lastdatetimeverified" type="m.data.standardDateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="placeentry">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="a.common"/>
      <xs:attribute name="transliteration"/>
      <xs:attribute name="localtype"/>
      <xs:attribute name="countrycode" type="xs:string"/>
      <xs:attribute name="vocabularysource"/>
      <xs:attribute name="accuracy"/>
      <xs:attribute name="longitude" type="xs:NMTOKEN"/>
      <xs:attribute name="latitude" type="xs:NMTOKEN"/>
      <xs:attribute name="altitude" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="m.geographicalcoordinates">
    <xs:attribute name="longitude" use="required" type="xs:NMTOKEN"/>
    <xs:attribute name="latitude" use="required" type="xs:NMTOKEN"/>
    <xs:attribute name="altitude" type="xs:NMTOKEN"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="a.lastdatetimeverified">
    <xs:attribute name="lastdatetimeverified" use="required" type="m.data.standardDateTime"/>
  </xs:attributeGroup>
  <xs:simpleType name="m.data.standardDateTime">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:date">
          <xs:maxInclusive value="2099-12-31"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYear">
          <xs:maxInclusive value="2099"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:gYearMonth">
          <xs:maxInclusive value="2099-12"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:dateTime">
          <xs:maxInclusive value="2099-12-31T23:59:59"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>
