test_deglobal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ead3="http://ead3.archivists.org/schema/" elementFormDefault="qualified" targetNamespace="http://ead3.archivists.org/schema/">
   <xs:element name="ead">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="control" type="ead3:control"/>
            <xs:element name="archdesc" type="ead3:archdesc"/>
         </xs:sequence>
         <xs:attributeGroup ref="ead3:a.common"/>
         <xs:attribute name="relatedencoding"/>
      </xs:complexType>
   </xs:element>
   <xs:complexType name="archdesc">
      <xs:sequence>
         <xs:element name="did" type="ead3:did"/>
         <xs:element name="m.desc.base.full" type="ead3:m.desc.base.full" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="level" use="required" type="ead3:av.level"/>
      <xs:attributeGroup ref="ead3:a.desc.base"/>
      <xs:attribute name="relatedencoding"/>
   </xs:complexType>
   <xs:complexType name="control">
      <xs:sequence>
         <xs:element name="recordid" type="ead3:recordid"/>
         <xs:element name="otherrecordid" type="ead3:otherrecordid" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="representation" type="ead3:representation" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="filedesc" type="ead3:filedesc"/>
         <xs:element name="maintenancestatus" type="ead3:maintenancestatus"/>
         <xs:element name="publicationstatus" type="ead3:publicationstatus" minOccurs="0"/>
         <xs:element name="maintenanceagency" type="ead3:maintenanceagency"/>
         <xs:element name="languagedeclaration" type="ead3:languagedeclaration" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="conventiondeclaration" type="ead3:conventiondeclaration" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="localtypedeclaration" type="ead3:localtypedeclaration" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="localcontrol" type="ead3:localcontrol" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="maintenancehistory" type="ead3:maintenancehistory"/>
         <xs:element name="sources" type="ead3:sources" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="base" type="xs:anyURI"/>
      <xs:attribute name="langencoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso639-2b"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="scriptencoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso15924"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="dateencoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso8601"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="countryencoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso3166-1"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="repositoryencoding">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="iso15511"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="relatedencoding"/>
   </xs:complexType>
   <xs:complexType name="recordid" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="instanceurl" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="otherrecordid" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="representation" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="filedesc">
      <xs:sequence>
         <xs:element name="titlestmt" type="ead3:titlestmt"/>
         <xs:element name="editionstmt" type="ead3:editionstmt" minOccurs="0"/>
         <xs:element name="publicationstmt" type="ead3:publicationstmt" minOccurs="0"/>
         <xs:element name="seriesstmt" type="ead3:seriesstmt" minOccurs="0"/>
         <xs:element name="notestmt" type="ead3:notestmt" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="titlestmt">
      <xs:sequence>
         <xs:element name="titleproper" type="ead3:titleproper" maxOccurs="unbounded"/>
         <xs:element name="subtitle" type="ead3:subtitle" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="author" type="ead3:author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sponsor" type="ead3:sponsor" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="editionstmt">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="edition" type="ead3:edition"/>
         <xs:element name="p" type="ead3:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="publicationstmt">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="publisher" type="ead3:publisher"/>
         <xs:element name="date" type="ead3:date"/>
         <xs:element name="address" type="ead3:address"/>
         <xs:element name="num" type="ead3:num"/>
         <xs:element name="p" type="ead3:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="seriesstmt">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="titleproper" type="ead3:titleproper"/>
         <xs:element name="num" type="ead3:num"/>
         <xs:element name="p" type="ead3:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="notestmt">
      <xs:sequence>
         <xs:element name="controlnote" type="ead3:controlnote" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="maintenancestatus" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="revised"/>
               <xs:enumeration value="deleted"/>
               <xs:enumeration value="new"/>
               <xs:enumeration value="deletedsplit"/>
               <xs:enumeration value="deletedmerged"/>
               <xs:enumeration value="deletedreplaced"/>
               <xs:enumeration value="cancelled"/>
               <xs:enumeration value="derived"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="publicationstatus" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="inprocess"/>
               <xs:enumeration value="approved"/>
               <xs:enumeration value="published"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="languagedeclaration">
      <xs:sequence>
         <xs:element name="language" type="ead3:language"/>
         <xs:element name="script" type="ead3:script"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="conventiondeclaration">
      <xs:sequence>
         <xs:element name="abbr" type="ead3:abbr" minOccurs="0"/>
         <xs:element name="citation" type="ead3:citation"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="localtypedeclaration">
      <xs:sequence>
         <xs:element name="abbr" type="ead3:abbr" minOccurs="0"/>
         <xs:element name="citation" type="ead3:citation"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="localcontrol">
      <xs:sequence>
         <xs:element name="term" type="ead3:term" minOccurs="0"/>
         <xs:choice minOccurs="0">
            <xs:element name="datesingle" type="ead3:datesingle"/>
            <xs:element name="daterange" type="ead3:daterange"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="term" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="transliteration"/>
      <xs:attribute name="lastdatetimeverified" type="xs:token"/>
      <xs:attributeGroup ref="ead3:a.access.no.normal"/>
   </xs:complexType>
   <xs:complexType name="maintenancehistory">
      <xs:sequence>
         <xs:element name="maintenanceevent" type="ead3:maintenanceevent" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="maintenanceevent">
      <xs:sequence>
         <xs:element name="eventtype" type="ead3:eventtype"/>
         <xs:element name="eventdatetime" type="ead3:eventdatetime"/>
         <xs:element name="agenttype" type="ead3:agenttype"/>
         <xs:element name="agent" type="ead3:agent"/>
         <xs:element name="eventdescription" type="ead3:eventdescription" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="eventtype" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="created"/>
               <xs:enumeration value="revised"/>
               <xs:enumeration value="deleted"/>
               <xs:enumeration value="cancelled"/>
               <xs:enumeration value="derived"/>
               <xs:enumeration value="updated"/>
               <xs:enumeration value="unknown"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="eventdatetime" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="standarddatetime" type="xs:token"/>
   </xs:complexType>
   <xs:complexType name="agenttype" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="human"/>
               <xs:enumeration value="machine"/>
               <xs:enumeration value="unknown"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="agent" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="eventdescription" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="sources">
      <xs:sequence>
         <xs:element name="source" type="ead3:source" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="base" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="source">
      <xs:sequence>
         <xs:element name="sourceentry" type="ead3:sourceentry" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="objectxmlwrap" type="ead3:objectxmlwrap" minOccurs="0"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="lastdatetimeverified" type="xs:token"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
   </xs:complexType>
   <xs:complexType name="sourceentry" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="transliteration"/>
   </xs:complexType>
   <xs:complexType name="titleproper" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="render" type="ead3:av.render"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="subtitle" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="author" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="sponsor" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="edition" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="date" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:am.dates.era"/>
      <xs:attributeGroup ref="ead3:am.dates.calendar"/>
      <xs:attributeGroup ref="ead3:am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="publisher" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="controlnote">
      <xs:sequence>
         <xs:element name="m.blocks" type="ead3:m.blocks" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="maintenanceagency">
      <xs:sequence>
         <xs:element name="agencycode" type="ead3:agencycode" minOccurs="0"/>
         <xs:element name="otheragencycode" type="ead3:otheragencycode" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="agencyname" type="ead3:agencyname" maxOccurs="unbounded"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:am.countrycode"/>
   </xs:complexType>
   <xs:complexType name="agencycode" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="otheragencycode" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="agencyname" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="citation" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
      <xs:attribute name="lastdatetimeverified" type="xs:token"/>
   </xs:complexType>
   <xs:complexType name="did">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:element name="m.did" type="ead3:m.did" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="origination">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="corpname" type="ead3:corpname"/>
         <xs:element name="famname" type="ead3:famname"/>
         <xs:element name="name" type="ead3:name"/>
         <xs:element name="persname" type="ead3:persname"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="physdescstructured">
      <xs:sequence>
         <xs:element name="quantity" type="ead3:quantity"/>
         <xs:element name="unittype" type="ead3:unittype"/>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="physfacet" type="ead3:physfacet"/>
            <xs:element name="dimensions" type="ead3:dimensions"/>
         </xs:choice>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="physdescstructuredtype" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="carrier"/>
               <xs:enumeration value="materialtype"/>
               <xs:enumeration value="spaceoccupied"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attributeGroup ref="ead3:a.coverage"/>
   </xs:complexType>
   <xs:complexType name="quantity" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="approximate" type="ead3:av.yesorno"/>
   </xs:complexType>
   <xs:complexType name="unittype" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.access.no.normal"/>
   </xs:complexType>
   <xs:complexType name="repository">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="corpname" type="ead3:corpname"/>
            <xs:element name="famname" type="ead3:famname"/>
            <xs:element name="name" type="ead3:name"/>
            <xs:element name="persname" type="ead3:persname"/>
         </xs:choice>
         <xs:element name="address" type="ead3:address" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="unittitle" mixed="true">
      <xs:group ref="ead3:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="normal"/>
   </xs:complexType>
   <xs:complexType name="unitdate" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attribute name="unitdatetype">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="bulk"/>
               <xs:enumeration value="inclusive"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datechar"/>
      <xs:attributeGroup ref="ead3:am.dates.era"/>
      <xs:attributeGroup ref="ead3:am.dates.calendar"/>
      <xs:attributeGroup ref="ead3:am.date.normal"/>
      <xs:attribute name="certainty"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="unitdatestructured">
      <xs:sequence>
         <xs:element name="m.dates" type="ead3:m.dates"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attribute name="unitdatetype">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="bulk"/>
               <xs:enumeration value="inclusive"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="certainty"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="datechar"/>
      <xs:attributeGroup ref="ead3:am.dates.era"/>
      <xs:attributeGroup ref="ead3:am.dates.calendar"/>
   </xs:complexType>
   <xs:complexType name="datesingle">
      <xs:complexContent>
         <xs:extension base="ead3:m.datesingle">
            <xs:attributeGroup ref="ead3:a.common"/>
            <xs:attributeGroup ref="ead3:a.localtype"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="daterange">
      <xs:sequence>
         <xs:element name="fromdate" type="ead3:fromdate" minOccurs="0"/>
         <xs:element name="todate" type="ead3:todate" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="fromdate">
      <xs:complexContent>
         <xs:extension base="ead3:m.datesingle">
            <xs:attributeGroup ref="ead3:a.common"/>
            <xs:attributeGroup ref="ead3:a.localtype"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="todate">
      <xs:complexContent>
         <xs:extension base="ead3:m.datesingle">
            <xs:attributeGroup ref="ead3:a.common"/>
            <xs:attributeGroup ref="ead3:a.localtype"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="dateset">
      <xs:sequence>
         <xs:choice>
            <xs:element name="datesingle" type="ead3:datesingle"/>
            <xs:element name="daterange" type="ead3:daterange"/>
         </xs:choice>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="datesingle" type="ead3:datesingle"/>
            <xs:element name="daterange" type="ead3:daterange"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="dao">
      <xs:sequence>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
      <xs:attribute name="entityref" type="xs:ENTITY"/>
      <xs:attribute name="xpointer"/>
      <xs:attribute name="daotype" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="borndigital"/>
               <xs:enumeration value="derived"/>
               <xs:enumeration value="unknown"/>
               <xs:enumeration value="other"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdaotype"/>
      <xs:attribute name="coverage">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="whole"/>
               <xs:enumeration value="part"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="daoset">
      <xs:sequence>
         <xs:element name="dao" type="ead3:dao"/>
         <xs:element name="dao" type="ead3:dao" maxOccurs="unbounded"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.coverage"/>
   </xs:complexType>
   <xs:complexType name="materialspec" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="accessrestrict">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="accessrestrict" type="ead3:accessrestrict"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="accruals">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="accruals" type="ead3:accruals"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="fileplan">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="fileplan" type="ead3:fileplan"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="acqinfo">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="acqinfo" type="ead3:acqinfo"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="altformavail">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="altformavail" type="ead3:altformavail"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="originalsloc">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="originalsloc" type="ead3:originalsloc"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="phystech">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="phystech" type="ead3:phystech"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="appraisal">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="appraisal" type="ead3:appraisal"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="custodhist">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="custodhist" type="ead3:custodhist"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="index">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:element name="m.blocks" type="ead3:m.blocks" minOccurs="0" maxOccurs="unbounded"/>
         <xs:choice>
            <xs:sequence>
               <xs:element name="listhead" type="ead3:listhead" minOccurs="0"/>
               <xs:element name="indexentry" type="ead3:indexentry" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:element name="index" type="ead3:index" maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="indexentry">
      <xs:sequence>
         <xs:choice>
            <xs:element name="namegrp" type="ead3:namegrp"/>
            <xs:element name="m.access" type="ead3:m.access"/>
         </xs:choice>
         <xs:choice minOccurs="0">
            <xs:element name="ptrgrp" type="ead3:ptrgrp"/>
            <xs:element name="m.refs" type="ead3:m.refs"/>
         </xs:choice>
         <xs:element name="indexentry" type="ead3:indexentry" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="namegrp">
      <xs:sequence>
         <xs:element name="m.access" type="ead3:m.access" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="ptrgrp">
      <xs:sequence>
         <xs:element name="m.refs" type="ead3:m.refs" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="legalstatus">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="legalstatus" type="ead3:legalstatus"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="prefercite">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="prefercite" type="ead3:prefercite"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="processinfo">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="processinfo" type="ead3:processinfo"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="userestrict">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="userestrict" type="ead3:userestrict"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="bioghist">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="bioghist" type="ead3:bioghist"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="controlaccess">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="m.access" type="ead3:m.access"/>
            <xs:element name="controlaccess" type="ead3:controlaccess"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="odd">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="odd" type="ead3:odd"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="scopecontent">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="scopecontent" type="ead3:scopecontent"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="arrangement">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="arrangement" type="ead3:arrangement"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="bibliography">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="bibliography" type="ead3:bibliography"/>
            <xs:element name="archref" type="ead3:archref"/>
            <xs:element name="bibref" type="ead3:bibref"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="relatedmaterial">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="relatedmaterial" type="ead3:relatedmaterial"/>
            <xs:element name="archref" type="ead3:archref"/>
            <xs:element name="bibref" type="ead3:bibref"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="separatedmaterial">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="separatedmaterial" type="ead3:separatedmaterial"/>
            <xs:element name="archref" type="ead3:archref"/>
            <xs:element name="bibref" type="ead3:bibref"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="otherfindaid">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="m.blocks" type="ead3:m.blocks"/>
            <xs:element name="otherfindaid" type="ead3:otherfindaid"/>
            <xs:element name="archref" type="ead3:archref"/>
            <xs:element name="bibref" type="ead3:bibref"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="corpname">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="famname">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="geogname">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
         <xs:element name="geographiccoordinates" type="ead3:geographiccoordinates" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="geographiccoordinates" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="coordinatesystem" use="required"/>
   </xs:complexType>
   <xs:complexType name="name">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="persname">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="occupation">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="subject">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="genreform">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="function">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
   </xs:complexType>
   <xs:complexType name="title">
      <xs:sequence>
         <xs:element name="part" type="ead3:part" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.access"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.relator"/>
      <xs:attribute name="render" type="ead3:av.render"/>
   </xs:complexType>
   <xs:complexType name="part" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.access.no.normal"/>
   </xs:complexType>
   <xs:complexType name="list">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:choice>
            <xs:element name="item" type="ead3:item" maxOccurs="unbounded"/>
            <xs:sequence>
               <xs:element name="listhead" type="ead3:listhead" minOccurs="0"/>
               <xs:element name="defitem" type="ead3:defitem" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="listtype">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="deflist"/>
               <xs:enumeration value="unordered"/>
               <xs:enumeration value="ordered"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="mark">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="disc"/>
               <xs:enumeration value="circle"/>
               <xs:enumeration value="square"/>
               <xs:enumeration value="decimal"/>
               <xs:enumeration value="decimal-leading-zero"/>
               <xs:enumeration value="lower-roman"/>
               <xs:enumeration value="upper-roman"/>
               <xs:enumeration value="lower-greek"/>
               <xs:enumeration value="lower-latin"/>
               <xs:enumeration value="upper-latin"/>
               <xs:enumeration value="armenian"/>
               <xs:enumeration value="georgian"/>
               <xs:enumeration value="lower-alpha"/>
               <xs:enumeration value="upper-alpha"/>
               <xs:enumeration value="none"/>
               <xs:enumeration value="inherit"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="numeration">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="arabic"/>
               <xs:enumeration value="upperalpha"/>
               <xs:enumeration value="loweralpha"/>
               <xs:enumeration value="upperroman"/>
               <xs:enumeration value="lowerroman"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="defitem">
      <xs:sequence>
         <xs:element name="label" type="ead3:label"/>
         <xs:element name="item" type="ead3:item"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="label" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="item">
      <xs:complexContent>
         <xs:extension base="ead3:m.para.content">
            <xs:attributeGroup ref="ead3:a.common"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="head" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="althead"/>
   </xs:complexType>
   <xs:complexType name="listhead">
      <xs:sequence>
         <xs:element name="head01" type="ead3:head01" minOccurs="0"/>
         <xs:element name="head02" type="ead3:head02" minOccurs="0"/>
         <xs:element name="head03" type="ead3:head03" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="head01" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="head02" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="head03" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="table">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:element name="tgroup" type="ead3:tgroup" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="frame">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="bottom"/>
               <xs:enumeration value="topbot"/>
               <xs:enumeration value="all"/>
               <xs:enumeration value="sides"/>
               <xs:enumeration value="none"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="rowsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="pgwide" type="ead3:av.zeroorone"/>
   </xs:complexType>
   <xs:complexType name="tgroup">
      <xs:sequence>
         <xs:element name="colspec" type="ead3:colspec" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
         <xs:element name="tbody" type="ead3:tbody"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="cols" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="colsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="rowsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="justify"/>
               <xs:enumeration value="char"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="colspec">
      <xs:attribute name="colnum" type="xs:NMTOKEN"/>
      <xs:attribute name="colname" type="xs:NMTOKEN"/>
      <xs:attribute name="colwidth"/>
      <xs:attribute name="colsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="rowsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="align">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="justify"/>
               <xs:enumeration value="char"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="char"/>
      <xs:attribute name="charoff" type="xs:NMTOKEN"/>
   </xs:complexType>
   <xs:complexType name="tbody">
      <xs:sequence>
         <xs:element name="row" type="ead3:row" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="valign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="middle"/>
               <xs:enumeration value="bottom"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="row">
      <xs:sequence>
         <xs:element name="entry" type="ead3:entry" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="rowsep" type="ead3:av.zeroorone"/>
      <xs:attribute name="valign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="middle"/>
               <xs:enumeration value="bottom"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="entry">
      <xs:complexContent>
         <xs:extension base="ead3:m.para.content">
            <xs:attributeGroup ref="ead3:a.common"/>
            <xs:attribute name="colname" type="xs:NMTOKEN"/>
            <xs:attribute name="namest" type="xs:NMTOKEN"/>
            <xs:attribute name="nameend" type="xs:NMTOKEN"/>
            <xs:attribute name="morerows" type="xs:NMTOKEN"/>
            <xs:attribute name="colsep" type="ead3:av.zeroorone"/>
            <xs:attribute name="rowsep" type="ead3:av.zeroorone"/>
            <xs:attribute name="align">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="left"/>
                     <xs:enumeration value="right"/>
                     <xs:enumeration value="center"/>
                     <xs:enumeration value="justify"/>
                     <xs:enumeration value="char"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="char"/>
            <xs:attribute name="charoff" type="xs:NMTOKEN"/>
            <xs:attribute name="valign">
               <xs:simpleType>
                  <xs:restriction base="xs:token">
                     <xs:enumeration value="top"/>
                     <xs:enumeration value="middle"/>
                     <xs:enumeration value="bottom"/>
                  </xs:restriction>
               </xs:simpleType>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="thead">
      <xs:sequence>
         <xs:element name="row" type="ead3:row" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="valign">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="middle"/>
               <xs:enumeration value="bottom"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="abbr" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="expan"/>
   </xs:complexType>
   <xs:complexType name="expan" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="abbr"/>
   </xs:complexType>
   <xs:complexType name="num" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="quote" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="emph" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="render" type="ead3:av.render"/>
   </xs:complexType>
   <xs:complexType name="foreign" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="render" type="ead3:av.render"/>
   </xs:complexType>
   <xs:complexType name="lb"/>
   <xs:complexType name="ref" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:element name="abbr" type="ead3:abbr"/>
         <xs:element name="expan" type="ead3:expan"/>
         <xs:element name="emph" type="ead3:emph"/>
         <xs:element name="lb" type="ead3:lb"/>
         <xs:element name="ptr" type="ead3:ptr"/>
         <xs:element name="quote" type="ead3:quote"/>
         <xs:element name="num" type="ead3:num"/>
         <xs:element name="footnote" type="ead3:footnote"/>
         <xs:element name="date" type="ead3:date"/>
         <xs:element name="m.access" type="ead3:m.access"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.internal.ptr"/>
   </xs:complexType>
   <xs:complexType name="ptr">
      <xs:attributeGroup ref="ead3:a.common.empty"/>
      <xs:attributeGroup ref="ead3:a.internal.ptr"/>
   </xs:complexType>
   <xs:complexType name="bibref" mixed="true">
      <xs:group ref="ead3:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="archref" mixed="true">
      <xs:group ref="ead3:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="dsc">
      <xs:sequence>
         <xs:sequence>
            <xs:element name="head" type="ead3:head" minOccurs="0"/>
            <xs:element name="m.blocks" type="ead3:m.blocks" minOccurs="0" maxOccurs="unbounded"/>
         </xs:sequence>
         <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
         <xs:group minOccurs="0" ref="ead3:m.cOrC01"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="dsctype">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="analyticover"/>
               <xs:enumeration value="combined"/>
               <xs:enumeration value="in-depth"/>
               <xs:enumeration value="otherdsctype"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherdsctype" type="xs:NMTOKEN"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="c">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c" type="ead3:c" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c01">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c02" type="ead3:c02" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c02">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c03" type="ead3:c03" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c03">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c04" type="ead3:c04" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c04">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c05" type="ead3:c05" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c05">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c06" type="ead3:c06" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c06">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c07" type="ead3:c07" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c07">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c08" type="ead3:c08" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c08">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c09" type="ead3:c09" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c09">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c10" type="ead3:c10" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c10">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c11" type="ead3:c11" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c11">
      <xs:complexContent>
         <xs:extension base="ead3:m.c.base">
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
               <xs:element name="thead" type="ead3:thead" minOccurs="0"/>
               <xs:element name="c12" type="ead3:c12" maxOccurs="unbounded"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="c12"/>
   <xs:complexType name="dimensions" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:group ref="ead3:m.mixed.basic"/>
         <xs:element name="dimensions" type="ead3:dimensions"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="unit"/>
   </xs:complexType>
   <xs:complexType name="physfacet" mixed="true">
      <xs:group ref="ead3:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.access.no.normal"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="language" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attribute name="langcode"/>
   </xs:complexType>
   <xs:complexType name="script" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attribute name="scriptcode"/>
   </xs:complexType>
   <xs:complexType name="languageset">
      <xs:sequence>
         <xs:element name="language" type="ead3:language" maxOccurs="unbounded"/>
         <xs:element name="script" type="ead3:script" maxOccurs="unbounded"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="address">
      <xs:sequence>
         <xs:element name="addressline" type="ead3:addressline" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="addressline" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="descriptivenote">
      <xs:sequence>
         <xs:element name="p" type="ead3:p" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="p">
      <xs:complexContent>
         <xs:extension base="ead3:m.para.content">
            <xs:attributeGroup ref="ead3:a.common"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="footnote">
      <xs:sequence>
         <xs:element name="m.blocks" type="ead3:m.blocks" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="show">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="embed"/>
               <xs:enumeration value="new"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="onload"/>
               <xs:enumeration value="onrequest"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="event">
      <xs:complexContent>
         <xs:extension base="ead3:m.para.content">
            <xs:attributeGroup ref="ead3:a.common"/>
            <xs:attributeGroup ref="ead3:a.localtype"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="relations">
      <xs:sequence>
         <xs:element name="relation" type="ead3:relation" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="base" type="xs:anyURI"/>
   </xs:complexType>
   <xs:complexType name="relation">
      <xs:sequence>
         <xs:element name="relationentry" type="ead3:relationentry" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="objectxmlwrap" type="ead3:objectxmlwrap" minOccurs="0"/>
         <xs:element name="m.dates" type="ead3:m.dates" minOccurs="0"/>
         <xs:element name="geogname" type="ead3:geogname" minOccurs="0"/>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="relationtype" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="cpfrelation"/>
               <xs:enumeration value="resourcerelation"/>
               <xs:enumeration value="functionrelation"/>
               <xs:enumeration value="otherrelation"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="otherrelationtype" type="xs:string"/>
      <xs:attribute name="lastdatetimeverified" type="xs:token"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
   </xs:complexType>
   <xs:complexType name="relationentry" mixed="true">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attribute name="transliteration" type="xs:NMTOKEN"/>
   </xs:complexType>
   <xs:complexType name="objectxmlwrap">
      <xs:complexContent>
         <xs:extension base="ead3:e.anyname">
            <xs:attributeGroup ref="ead3:a.common"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="e.anyname">
      <xs:choice>
         <xs:any namespace="##other" processContents="lax"/>
         <xs:any namespace="##local" processContents="lax"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="m.blocks"/>
   <xs:complexType name="m.inter"/>
   <xs:complexType name="blockquote">
      <xs:choice maxOccurs="unbounded">
         <xs:element name="m.inter.noquote" type="ead3:m.inter.noquote"/>
         <xs:element name="p" type="ead3:p"/>
      </xs:choice>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:complexType name="m.inter.noquote"/>
   <xs:complexType name="chronlist">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:element name="listhead" type="ead3:listhead" minOccurs="0"/>
         <xs:element name="chronitem" type="ead3:chronitem" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="chronitem">
      <xs:sequence>
         <xs:element name="m.dates" type="ead3:m.dates"/>
         <xs:choice>
            <xs:sequence>
               <xs:element name="geogname" type="ead3:geogname" minOccurs="0"/>
               <xs:element name="event" type="ead3:event"/>
            </xs:sequence>
            <xs:element name="chronitemset" type="ead3:chronitemset" maxOccurs="unbounded"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
   </xs:complexType>
   <xs:complexType name="chronitemset">
      <xs:sequence>
         <xs:element name="geogname" type="ead3:geogname" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="event" type="ead3:event" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
   </xs:complexType>
   <xs:group name="m.cOrC01">
      <xs:choice>
         <xs:element name="c" type="ead3:c" maxOccurs="unbounded"/>
         <xs:element name="c01" type="ead3:c01" maxOccurs="unbounded"/>
      </xs:choice>
   </xs:group>
   <xs:complexType name="m.c.base">
      <xs:sequence>
         <xs:element name="head" type="ead3:head" minOccurs="0"/>
         <xs:element name="did" type="ead3:did"/>
         <xs:element name="m.desc.base" type="ead3:m.desc.base" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.desc.c"/>
   </xs:complexType>
   <xs:complexType name="m.access"/>
   <xs:complexType name="m.para.content" mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
         <xs:group ref="ead3:m.mixed.basic.plus.access"/>
         <xs:element name="list" type="ead3:list"/>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="m.datesingle" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attribute name="standarddate" type="xs:token"/>
      <xs:attribute name="notbefore" type="xs:token"/>
      <xs:attribute name="notafter" type="xs:token"/>
   </xs:complexType>
   <xs:complexType name="m.desc.base"/>
   <xs:complexType name="m.desc.base.full"/>
   <xs:complexType name="m.dates"/>
   <xs:complexType name="m.did"/>
   <xs:complexType name="abstract" mixed="true">
      <xs:group ref="ead3:m.mixed.basic.plus.access"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="langmaterial">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element name="language" type="ead3:language"/>
            <xs:element name="languageset" type="ead3:languageset"/>
         </xs:choice>
         <xs:element name="descriptivenote" type="ead3:descriptivenote" minOccurs="0"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="didnote" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="physdesc" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="parallelphysdescset">
      <xs:sequence>
         <xs:element name="physdescstructured" type="ead3:physdescstructured"/>
         <xs:element name="physdescstructured" type="ead3:physdescstructured" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="physloc" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
   </xs:complexType>
   <xs:complexType name="unitid" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:am.countrycode"/>
      <xs:attribute name="repositorycode" type="ead3:data.repositorycode"/>
      <xs:attribute name="identifier"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:complexType>
   <xs:complexType name="container" mixed="true">
      <xs:group ref="ead3:m.mixed.basic"/>
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attributeGroup ref="ead3:a.label"/>
      <xs:attributeGroup ref="ead3:a.localtype"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
      <xs:attribute name="parent" type="xs:IDREFS"/>
      <xs:attribute name="containerid" type="xs:NMTOKEN"/>
   </xs:complexType>
   <xs:complexType name="m.refs"/>
   <xs:group name="m.mixed.basic">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="abbr" type="ead3:abbr"/>
            <xs:element name="expan" type="ead3:expan"/>
            <xs:element name="emph" type="ead3:emph"/>
            <xs:element name="lb" type="ead3:lb"/>
            <xs:element name="ref" type="ead3:ref"/>
            <xs:element name="ptr" type="ead3:ptr"/>
            <xs:element name="foreign" type="ead3:foreign"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="m.mixed.basic.plus">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="ead3:m.mixed.basic"/>
            <xs:element name="quote" type="ead3:quote"/>
            <xs:element name="num" type="ead3:num"/>
            <xs:element name="footnote" type="ead3:footnote"/>
            <xs:element name="date" type="ead3:date"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:group name="m.mixed.basic.plus.access">
      <xs:sequence>
         <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="m.access" type="ead3:m.access"/>
            <xs:group ref="ead3:m.mixed.basic"/>
            <xs:element name="quote" type="ead3:quote"/>
            <xs:element name="num" type="ead3:num"/>
            <xs:element name="footnote" type="ead3:footnote"/>
            <xs:element name="date" type="ead3:date"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:attributeGroup name="a.internal.ptr">
      <xs:attribute name="target" type="xs:IDREF"/>
      <xs:attribute name="xpointer"/>
      <xs:attributeGroup ref="ead3:am.simplelink"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="am.simplelink">
      <xs:attribute name="linktype">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="simple"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" type="xs:anyURI"/>
      <xs:attribute name="linkrole" type="xs:anyURI"/>
      <xs:attribute name="arcrole" type="xs:anyURI"/>
      <xs:attribute name="linktitle"/>
      <xs:attribute name="show">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="new"/>
               <xs:enumeration value="replace"/>
               <xs:enumeration value="embed"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="none"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="actuate">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="onLoad"/>
               <xs:enumeration value="onRequest"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="none"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.common.empty">
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="altrender"/>
      <xs:attribute name="audience">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="external"/>
               <xs:enumeration value="internal"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.common">
      <xs:attributeGroup ref="ead3:a.common.empty"/>
      <xs:attribute name="lang"/>
      <xs:attribute name="script"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.desc.base">
      <xs:attribute name="otherlevel" type="xs:NMTOKEN"/>
      <xs:attributeGroup ref="ead3:a.encodinganalog"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.desc.c">
      <xs:attributeGroup ref="ead3:a.common"/>
      <xs:attribute name="level" type="ead3:av.level"/>
      <xs:attributeGroup ref="ead3:a.desc.base"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.access">
      <xs:attributeGroup ref="ead3:a.access.no.normal"/>
      <xs:attribute name="normal"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.access.no.normal">
      <xs:attribute name="source" type="xs:token"/>
      <xs:attribute name="rules" type="xs:NMTOKEN"/>
      <xs:attribute name="identifier"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.relator">
      <xs:attribute name="relator"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.label">
      <xs:attribute name="label"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.localtype">
      <xs:attribute name="localtype"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.encodinganalog">
      <xs:attribute name="encodinganalog"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.href">
      <xs:attribute name="href" use="required" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.role">
      <xs:attribute name="linkrole" use="required" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.arcrole">
      <xs:attribute name="arcrole" use="required" type="xs:anyURI"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.title">
      <xs:attribute name="linktitle" use="required"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.show">
      <xs:attribute name="show" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="new"/>
               <xs:enumeration value="replace"/>
               <xs:enumeration value="embed"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="none"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.link.actuate">
      <xs:attribute name="actuate" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="onLoad"/>
               <xs:enumeration value="onRequest"/>
               <xs:enumeration value="other"/>
               <xs:enumeration value="none"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.locatorLink">
      <xs:attribute name="linktype" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="locator"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="href" use="required"/>
      <xs:attribute name="role"/>
      <xs:attribute name="title"/>
      <xs:attribute name="label"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="am.dates.calendar">
      <xs:attribute name="calendar" type="xs:NMTOKEN"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="am.dates.era">
      <xs:attribute name="era" type="xs:NMTOKEN"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="am.date.normal">
      <xs:attribute name="normal" type="xs:token"/>
   </xs:attributeGroup>
   <xs:simpleType name="data.repositorycode">
      <xs:restriction base="xs:token"/>
   </xs:simpleType>
   <xs:attributeGroup name="am.countrycode">
      <xs:attribute name="countrycode" type="xs:NMTOKEN"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.lastdatetimeverified">
      <xs:attribute name="lastdatetimeverified" use="required" type="xs:token"/>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.coverage">
      <xs:attribute name="coverage" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="whole"/>
               <xs:enumeration value="part"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.align">
      <xs:attribute name="align" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="left"/>
               <xs:enumeration value="right"/>
               <xs:enumeration value="center"/>
               <xs:enumeration value="justify"/>
               <xs:enumeration value="char"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:attributeGroup name="a.valign">
      <xs:attribute name="valign" use="required">
         <xs:simpleType>
            <xs:restriction base="xs:token">
               <xs:enumeration value="top"/>
               <xs:enumeration value="middle"/>
               <xs:enumeration value="bottom"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:attributeGroup>
   <xs:simpleType name="av.level">
      <xs:restriction base="xs:token">
         <xs:enumeration value="class"/>
         <xs:enumeration value="collection"/>
         <xs:enumeration value="file"/>
         <xs:enumeration value="fonds"/>
         <xs:enumeration value="item"/>
         <xs:enumeration value="otherlevel"/>
         <xs:enumeration value="recordgrp"/>
         <xs:enumeration value="series"/>
         <xs:enumeration value="subfonds"/>
         <xs:enumeration value="subgrp"/>
         <xs:enumeration value="subseries"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="av.render">
      <xs:restriction base="xs:token">
         <xs:enumeration value="altrender"/>
         <xs:enumeration value="bold"/>
         <xs:enumeration value="bolddoublequote"/>
         <xs:enumeration value="bolditalic"/>
         <xs:enumeration value="boldsinglequote"/>
         <xs:enumeration value="boldsmcaps"/>
         <xs:enumeration value="boldunderline"/>
         <xs:enumeration value="doublequote"/>
         <xs:enumeration value="italic"/>
         <xs:enumeration value="nonproport"/>
         <xs:enumeration value="singlequote"/>
         <xs:enumeration value="smcaps"/>
         <xs:enumeration value="sub"/>
         <xs:enumeration value="super"/>
         <xs:enumeration value="underline"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="av.zeroorone">
      <xs:restriction base="xs:NMTOKEN"/>
   </xs:simpleType>
   <xs:simpleType name="av.yesorno">
      <xs:restriction base="xs:token">
         <xs:enumeration value="yes"/>
         <xs:enumeration value="no"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>