previousVersions/ead3_1-00.rng

<?xml version="1.0" encoding="UTF-8"?><grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://ead3.archivists.org/schema/">
  <rng:div xmlns:rng="http://relaxng.org/ns/structure/1.0">
<!--include "ead_revised_defs.rng"-->
<rng:div datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!-- ELEMENTS -->
  <rng:define name="e.ead">
    <element name="ead">
      <ref name="am.common"/>
      <optional>
        <ref name="a.relatedencoding"/>
      </optional>
      <optional>
        <ref name="a.base"/>
      </optional>
      <ref name="e.control"/>
      <ref name="e.archdesc"/>
    </element>
  </rng:define>
  <!-- control -->
  <rng:define name="e.control">
    <element name="control">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relatedencoding"/>
      </optional>
      <optional>
        <ref name="a.base"/>
      </optional>
      <optional>
        <attribute name="langencoding">
          <choice>
            <value>iso639-1</value>
            <value>iso639-2b</value>
            <value>iso639-3</value>
            <value>otherlangencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="scriptencoding">
          <choice>
            <value>iso15924</value>
            <value>otherscriptencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="dateencoding">
          <choice>
            <value>iso8601</value>
            <value>otherdateencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="countryencoding">
          <choice>
            <value>iso3166-1</value>
            <value>othercountryencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="repositoryencoding">
          <choice>
            <value>iso15511</value>
            <value>otherrepositoryencoding</value>
          </choice>
        </attribute>
      </optional>
      <element name="recordid">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <optional>
          <attribute name="instanceurl">
            <data type="anyURI"/>
          </attribute>
        </optional>
        <text/>
      </element>
      <zeroOrMore>
        <element name="otherrecordid">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="representation">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <ref name="am.simplelink"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
      <element name="filedesc">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <element name="titlestmt">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <oneOrMore>
            <ref name="e.titleproper"/>
          </oneOrMore>
          <zeroOrMore>
            <ref name="e.subtitle"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="e.author"/>
          </zeroOrMore>
          <zeroOrMore>
            <ref name="e.sponsor"/>
          </zeroOrMore>
        </element>
        <optional>
          <element name="editionstmt">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <oneOrMore>
              <choice>
                <ref name="e.edition"/>
                <ref name="e.p"/>
              </choice>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="publicationstmt">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <oneOrMore>
              <choice>
                <ref name="e.publisher"/>
                <ref name="e.date"/>
                <ref name="e.address"/>
                <ref name="e.num"/>
                <ref name="e.p"/>
              </choice>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="seriesstmt">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <oneOrMore>
              <choice>
                <ref name="e.titleproper"/>
                <ref name="e.num"/>
                <ref name="e.p"/>
              </choice>
            </oneOrMore>
          </element>
        </optional>
        <optional>
          <element name="notestmt">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <oneOrMore>
              <ref name="e.controlnote"/>
            </oneOrMore>
          </element>
        </optional>
      </element>
      <element name="maintenancestatus">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <attribute name="value">
          <choice>
            <value>revised</value>
            <value>deleted</value>
            <value>new</value>
            <value>deletedsplit</value>
            <value>deletedmerged</value>
            <value>deletedreplaced</value>
            <value>cancelled</value>
            <value>derived</value>
          </choice>
        </attribute>
        <text/>
      </element>
      <optional>
        <element name="publicationstatus">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <attribute name="value">
            <choice>
              <value>inprocess</value>
              <value>approved</value>
              <value>published</value>
            </choice>
          </attribute>
          <text/>
        </element>
      </optional>
      <ref name="e.maintenanceagency"/>
      <zeroOrMore>
        <element name="languagedeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <ref name="e.language"/>
          <ref name="e.script"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="conventiondeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="e.abbr"/>
          </optional>
          <ref name="e.citation"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="localtypedeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="e.abbr"/>
          </optional>
          <ref name="e.citation"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="localcontrol">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <optional>
            <element name="term">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <ref name="a.transliteration"/>
              </optional>
              <optional>
                <ref name="a.lastdatetimeverified"/>
              </optional>
              <ref name="am.access.no.normal"/>
              <text/>
            </element>
          </optional>
          <optional>
            <choice>
              <ref name="e.datesingle"/>
              <ref name="e.daterange"/>
            </choice>
          </optional>
        </element>
      </zeroOrMore>
      <element name="maintenancehistory">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <oneOrMore>
          <element name="maintenanceevent">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <element name="eventtype">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <attribute name="value">
                <choice>
                  <value>created</value>
                  <value>revised</value>
                  <value>deleted</value>
                  <value>cancelled</value>
                  <value>derived</value>
                  <value>updated</value>
                  <value>unknown</value>
                </choice>
              </attribute>
              <text/>
            </element>
            <element name="eventdatetime">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <attribute name="standarddatetime">
                  <choice>
                    <data type="date">
                      <param name="maxInclusive">2099-12-31</param>
                    </data>
                    <data type="gYear">
                      <param name="maxInclusive">2099</param>
                    </data>
                    <data type="gYearMonth">
                      <param name="maxInclusive">2099-12</param>
                    </data>
                    <data type="dateTime">
                      <param name="maxInclusive">2099-12-31T23:59:59</param>
                    </data>
                  </choice>
                </attribute>
              </optional>
              <text/>
            </element>
            <element name="agenttype">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <attribute name="value">
                <choice>
                  <value>human</value>
                  <value>machine</value>
                  <value>unknown</value>
                </choice>
              </attribute>
              <text/>
            </element>
            <element name="agent">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <text/>
            </element>
            <zeroOrMore>
              <element name="eventdescription">
                <ref name="am.common"/>
                <optional>
                  <ref name="a.encodinganalog"/>
                </optional>
                <optional>
                  <ref name="a.localtype"/>
                </optional>
                <text/>
              </element>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
      <optional>
        <element name="sources">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <optional>
            <ref name="a.base"/>
          </optional>
          <oneOrMore>
            <element name="source">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <ref name="a.lastdatetimeverified"/>
              </optional>
              <ref name="am.simplelink"/>
              <zeroOrMore>
                <element name="sourceentry">
                  <ref name="am.common"/>
                  <optional>
                    <ref name="a.encodinganalog"/>
                  </optional>
                  <optional>
                    <ref name="a.transliteration"/>
                  </optional>
                  <text/>
                </element>
              </zeroOrMore>
              <optional>
                <ref name="e.objectxmlwrap"/>
              </optional>
              <optional>
                <ref name="e.descriptivenote"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.titleproper">
    <element name="titleproper">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.render"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.subtitle">
    <element name="subtitle">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.author">
    <element name="author">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.sponsor">
    <element name="sponsor">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.edition">
    <element name="edition">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.publisher">
    <element name="publisher">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.controlnote">
    <element name="controlnote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <ref name="m.blocks"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.maintenanceagency">
    <element name="maintenanceagency">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.countrycode"/>
      <optional>
        <element name="agencycode">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <element name="otheragencycode">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
      <oneOrMore>
        <element name="agencyname">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </oneOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.citation">
    <element name="citation">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.simplelink"/>
      <optional>
        <ref name="a.lastdatetimeverified"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <!-- ARCHDESC -->
  <rng:define name="e.archdesc">
    <element name="archdesc">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.relatedencoding"/>
      </optional>
      <ref name="am.desc.base"/>
      <ref name="a.level"/>
      <optional>
        <ref name="a.base"/>
      </optional>
      <ref name="e.did"/>
      <zeroOrMore>
        <choice>
          <ref name="m.desc.base"/>
          <ref name="e.dsc"/>
        </choice>
      </zeroOrMore>
    </element>
  </rng:define>
  <!-- did -->
  <rng:define name="e.did">
    <element name="did">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <ref name="m.did"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.abstract">
    <element name="abstract">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic.plus.access"/>
    </element>
  </rng:define>
  <rng:define name="e.container">
    <element name="container">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.parent"/>
      </optional>
      <optional>
        <attribute name="containerid">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.dao">
    <element name="dao">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <ref name="am.simplelink"/>
      <optional>
        <ref name="a.identifier"/>
      </optional>
      <optional>
        <ref name="a.link.xpointer"/>
      </optional>
      <optional>
        <ref name="a.entityref"/>
      </optional>
      <attribute name="daotype">
        <choice>
          <value>borndigital</value>
          <value>derived</value>
          <value>unknown</value>
          <value>otherdaotype</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="otherdaotype">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <ref name="a.coverage"/>
      </optional>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.daoset">
    <element name="daoset">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.coverage"/>
      </optional>
      <optional>
        <ref name="a.base"/>
      </optional>
      <ref name="e.dao"/>
      <oneOrMore>
        <ref name="e.dao"/>
      </oneOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.didnote">
    <element name="didnote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.langmaterial">
    <element name="langmaterial">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="e.language"/>
          <ref name="e.languageset"/>
        </choice>
      </oneOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.materialspec">
    <element name="materialspec">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.physdescset">
    <element name="physdescset">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <attribute name="parallel">
          <ref name="av.boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="a.coverage"/>
      </optional>
      <ref name="e.physdescstructured"/>
      <oneOrMore>
        <ref name="e.physdescstructured"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.physdesc">
    <element name="physdesc">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.physloc">
    <element name="physloc">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.parent"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.origination">
    <element name="origination">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="e.corpname"/>
          <ref name="e.famname"/>
          <ref name="e.name"/>
          <ref name="e.persname"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.physdescstructured">
    <element name="physdescstructured">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <attribute name="physdescstructuredtype">
        <choice>
          <value>carrier</value>
          <value>materialtype</value>
          <value>spaceoccupied</value>
          <value>otherphysdescstructuredtype</value>
        </choice>
      </attribute>
      <optional>
        <attribute name="otherphysdescstructuredtype">
          <data type="token"/>
        </attribute>
      </optional>
      <ref name="a.coverage"/>
      <element name="quantity">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <optional>
          <attribute name="approximate">
            <ref name="av.boolean"/>
          </attribute>
        </optional>
        <text/>
      </element>
      <element name="unittype">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <ref name="am.access.no.normal"/>
        <text/>
      </element>
      <zeroOrMore>
        <choice>
          <ref name="e.physfacet"/>
          <ref name="e.dimensions"/>
        </choice>
      </zeroOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.repository">
    <element name="repository">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="e.corpname"/>
          <ref name="e.famname"/>
          <ref name="e.name"/>
          <ref name="e.persname"/>
        </choice>
      </oneOrMore>
      <optional>
        <ref name="e.address"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.unitdate">
    <element name="unitdate">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <ref name="a.unitdatetype"/>
      <optional>
        <ref name="a.datechar"/>
      </optional>
      <optional>
        <ref name="a.certainty"/>
      </optional>
      <ref name="am.dates.era"/>
      <ref name="am.dates.calendar"/>
      <ref name="am.date.normal"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.unitdatestructured">
    <element name="unitdatestructured">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <ref name="a.unitdatetype"/>
      <optional>
        <ref name="a.datechar"/>
      </optional>
      <optional>
        <ref name="a.certainty"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.dates.era"/>
      <ref name="am.dates.calendar"/>
      <choice>
        <ref name="e.datesingle"/>
        <ref name="e.daterange"/>
        <ref name="e.dateset"/>
      </choice>
    </element>
  </rng:define>
  <rng:define name="e.unittitle">
    <element name="unittitle">
      <ref name="am.common"/>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <attribute name="normal">
          <data type="token"/>
        </attribute>
      </optional>
      <ref name="m.mixed.basic.plus.access"/>
    </element>
  </rng:define>
  <rng:define name="e.unitid">
    <element name="unitid">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <ref name="am.countrycode"/>
      <optional>
        <attribute name="repositorycode">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="identifier"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <!-- archdesc notes -->
  <rng:define name="e.accessrestrict">
    <element name="accessrestrict">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.accessrestrict"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.accruals">
    <element name="accruals">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.accruals"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.acqinfo">
    <element name="acqinfo">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.acqinfo"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.altformavail">
    <element name="altformavail">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.altformavail"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.appraisal">
    <element name="appraisal">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.appraisal"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.arrangement">
    <element name="arrangement">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.arrangement"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.bibliography">
    <element name="bibliography">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.bibliography"/>
          <ref name="e.archref"/>
          <ref name="e.bibref"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.bioghist">
    <element name="bioghist">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.bioghist"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.controlaccess">
    <element name="controlaccess">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="m.access"/>
          <ref name="e.controlaccess"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.custodhist">
    <element name="custodhist">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.custodhist"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.fileplan">
    <element name="fileplan">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.fileplan"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.index">
    <element name="index">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <zeroOrMore>
        <ref name="m.blocks"/>
      </zeroOrMore>
      <choice>
        <group>
          <optional>
            <ref name="e.listhead"/>
          </optional>
          <oneOrMore>
            <ref name="e.indexentry"/>
          </oneOrMore>
        </group>
        <oneOrMore>
          <ref name="e.index"/>
        </oneOrMore>
      </choice>
    </element>
  </rng:define>
  <rng:define name="e.indexentry">
    <element name="indexentry">
      <ref name="am.common"/>
      <choice>
        <element name="namegrp">
          <ref name="am.common"/>
          <oneOrMore>
            <ref name="m.access"/>
          </oneOrMore>
        </element>
        <ref name="m.access"/>
      </choice>
      <optional>
        <choice>
          <element name="ptrgrp">
            <ref name="am.common"/>
            <oneOrMore>
              <ref name="m.refs"/>
            </oneOrMore>
          </element>
          <ref name="m.refs"/>
        </choice>
      </optional>
      <zeroOrMore>
        <ref name="e.indexentry"/>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.legalstatus">
    <element name="legalstatus">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.legalstatus"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.odd">
    <element name="odd">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.odd"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.originalsloc">
    <element name="originalsloc">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.originalsloc"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.otherfindaid">
    <element name="otherfindaid">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.otherfindaid"/>
          <ref name="e.archref"/>
          <ref name="e.bibref"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.phystech">
    <element name="phystech">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.phystech"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.prefercite">
    <element name="prefercite">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.prefercite"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.processinfo">
    <element name="processinfo">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.processinfo"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.relatedmaterial">
    <element name="relatedmaterial">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.relatedmaterial"/>
          <ref name="e.archref"/>
          <ref name="e.bibref"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.scopecontent">
    <element name="scopecontent">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.scopecontent"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.separatedmaterial">
    <element name="separatedmaterial">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.separatedmaterial"/>
          <ref name="e.archref"/>
          <ref name="e.bibref"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.userestrict">
    <element name="userestrict">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <choice>
          <ref name="m.blocks"/>
          <ref name="e.userestrict"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <!-- controlaccess elements -->
  <rng:define name="e.corpname">
    <element name="corpname">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.famname">
    <element name="famname">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.function">
    <element name="function">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.genreform">
    <element name="genreform">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.geogname">
    <element name="geogname">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
      <zeroOrMore>
        <element name="geographiccoordinates">
          <ref name="am.common"/>
          <attribute name="coordinatesystem">
            <data type="token"/>
          </attribute>
          <text/>
        </element>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.name">
    <element name="name">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.occupation">
    <element name="occupation">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.persname">
    <element name="persname">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.subject">
    <element name="subject">
      <ref name="am.common"/>
      <ref name="am.access"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.title">
    <element name="title">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="am.access"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relator"/>
      </optional>
      <optional>
        <ref name="a.render"/>
      </optional>
      <oneOrMore>
        <ref name="e.part"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.part">
    <element name="part">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="am.access.no.normal"/>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <!-- BLOCKS -->
  <!-- p -->
  <rng:define name="e.p">
    <element name="p">
      <ref name="am.common"/>
      <ref name="m.para.content"/>
    </element>
  </rng:define>
  <!-- blockquote -->
  <rng:define name="e.blockquote">
    <element name="blockquote">
      <ref name="am.common"/>
      <oneOrMore>
        <choice>
          <ref name="m.inter.noquote"/>
          <ref name="e.p"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <!-- chronlist -->
  <rng:define name="e.chronlist">
    <element name="chronlist">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <optional>
        <ref name="e.listhead"/>
      </optional>
      <oneOrMore>
        <element name="chronitem">
          <ref name="am.common"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <choice>
            <ref name="e.datesingle"/>
            <ref name="e.daterange"/>
            <ref name="e.dateset"/>
          </choice>
          <choice>
            <group>
              <optional>
                <ref name="e.geogname"/>
              </optional>
              <ref name="e.event"/>
            </group>
            <oneOrMore>
              <element name="chronitemset">
                <ref name="am.common"/>
                <zeroOrMore>
                  <ref name="e.geogname"/>
                </zeroOrMore>
                <oneOrMore>
                  <ref name="e.event"/>
                </oneOrMore>
              </element>
            </oneOrMore>
          </choice>
        </element>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.event">
    <element name="event">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="m.para.content"/>
    </element>
  </rng:define>
  <!-- list -->
  <rng:define name="e.list">
    <element name="list">
      <ref name="am.common"/>
      <optional>
        <attribute name="listtype">
          <choice>
            <value>deflist</value>
            <value>unordered</value>
            <value>ordered</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="mark">
          <choice>
            <value>disc</value>
            <value>circle</value>
            <value>square</value>
            <value>none</value>
            <value>inherit</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="numeration">
          <choice>
            <value>decimal</value>
            <value>decimal-leading-zero</value>
            <value>lower-roman</value>
            <value>upper-roman</value>
            <value>lower-greek</value>
            <value>lower-latin</value>
            <value>upper-latin</value>
            <value>armenian</value>
            <value>georgian</value>
            <value>lower-alpha</value>
            <value>upper-alpha</value>
            <value>inherit</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <choice>
        <oneOrMore>
          <ref name="e.item"/>
        </oneOrMore>
        <group>
          <optional>
            <ref name="e.listhead"/>
          </optional>
          <oneOrMore>
            <element name="defitem">
              <ref name="am.common"/>
              <element name="label">
                <ref name="am.common"/>
                <ref name="m.mixed.basic"/>
              </element>
              <ref name="e.item"/>
            </element>
          </oneOrMore>
        </group>
      </choice>
    </element>
  </rng:define>
  <rng:define name="e.item">
    <element name="item">
      <ref name="am.common"/>
      <ref name="m.para.content"/>
    </element>
  </rng:define>
  <rng:define name="e.listhead">
    <element name="listhead">
      <ref name="am.common"/>
      <optional>
        <element name="head01">
          <ref name="am.common"/>
          <ref name="m.mixed.basic"/>
        </element>
      </optional>
      <optional>
        <element name="head02">
          <ref name="am.common"/>
          <ref name="m.mixed.basic"/>
        </element>
      </optional>
      <optional>
        <element name="head03">
          <ref name="am.common"/>
          <ref name="m.mixed.basic"/>
        </element>
      </optional>
    </element>
  </rng:define>
  <!-- table -->
  <rng:define name="e.table">
    <element name="table">
      <ref name="am.common"/>
      <optional>
        <attribute name="frame">
          <choice>
            <value>top</value>
            <value>bottom</value>
            <value>topbot</value>
            <value>all</value>
            <value>sides</value>
            <value>none</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <ref name="a.colsep"/>
      </optional>
      <optional>
        <ref name="a.rowsep"/>
      </optional>
      <optional>
        <attribute name="pgwide">
          <ref name="av.boolean"/>
        </attribute>
      </optional>
      <optional>
        <ref name="e.head"/>
      </optional>
      <oneOrMore>
        <element name="tgroup">
          <ref name="am.common"/>
          <attribute name="cols">
            <data type="NMTOKEN"/>
          </attribute>
          <optional>
            <ref name="a.colsep"/>
          </optional>
          <optional>
            <ref name="a.rowsep"/>
          </optional>
          <optional>
            <ref name="a.align"/>
          </optional>
          <zeroOrMore>
            <element name="colspec">
              <optional>
                <attribute name="colnum">
                  <data type="NMTOKEN"/>
                </attribute>
              </optional>
              <optional>
                <ref name="a.colname"/>
              </optional>
              <optional>
                <attribute name="colwidth">
                  <data type="token"/>
                </attribute>
              </optional>
              <optional>
                <ref name="a.colsep"/>
              </optional>
              <optional>
                <ref name="a.rowsep"/>
              </optional>
              <optional>
                <ref name="a.align"/>
              </optional>
              <optional>
                <ref name="a.char"/>
              </optional>
              <optional>
                <ref name="a.charoff"/>
              </optional>
              <empty/>
            </element>
          </zeroOrMore>
          <optional>
            <ref name="e.thead"/>
          </optional>
          <element name="tbody">
            <ref name="am.common"/>
            <optional>
              <ref name="a.valign"/>
            </optional>
            <oneOrMore>
              <ref name="e.row"/>
            </oneOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.row">
    <element name="row">
      <ref name="am.common"/>
      <optional>
        <ref name="a.rowsep"/>
      </optional>
      <optional>
        <ref name="a.valign"/>
      </optional>
      <oneOrMore>
        <element name="entry">
          <ref name="am.common"/>
          <optional>
            <ref name="a.colname"/>
          </optional>
          <optional>
            <attribute name="namest">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="nameend">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="morerows">
              <data type="NMTOKEN"/>
            </attribute>
          </optional>
          <optional>
            <ref name="a.colsep"/>
          </optional>
          <optional>
            <ref name="a.rowsep"/>
          </optional>
          <optional>
            <ref name="a.align"/>
          </optional>
          <optional>
            <ref name="a.char"/>
          </optional>
          <optional>
            <ref name="a.charoff"/>
          </optional>
          <optional>
            <ref name="a.valign"/>
          </optional>
          <ref name="m.para.content"/>
        </element>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.thead">
    <element name="thead">
      <ref name="am.common"/>
      <optional>
        <ref name="a.valign"/>
      </optional>
      <oneOrMore>
        <ref name="e.row"/>
      </oneOrMore>
    </element>
  </rng:define>
  <!-- language blocks -->
  <rng:define name="e.language">
    <element name="language">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>
      <optional>
        <attribute name="langcode">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </rng:define>
  <rng:define name="e.languageset">
    <element name="languageset">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <ref name="e.language"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="e.script"/>
      </oneOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.script">
    <element name="script">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.label"/>
      </optional>

      <optional>
        <attribute name="scriptcode">
          <data type="NMTOKEN"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </rng:define>
  <!-- physdescstructured blocks -->
  <rng:define name="e.dimensions">
    <element name="dimensions">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <attribute name="unit">
          <data type="token"/>
        </attribute>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="m.mixed.basic.elements"/>
          <ref name="e.dimensions"/>
        </choice>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.physfacet">
    <element name="physfacet">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.access.no.normal"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="m.mixed.basic.plus.access"/>
    </element>
  </rng:define>
  <!-- other blocks -->
  <rng:define name="e.address">
    <element name="address">
      <ref name="am.common"/>
      <oneOrMore>
        <element name="addressline">
          <ref name="am.common"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <ref name="m.mixed.basic"/>
        </element>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.archref">
    <element name="archref">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic.plus.access"/>
    </element>
  </rng:define>
  <rng:define name="e.bibref">
    <element name="bibref">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic.plus.access"/>
    </element>
  </rng:define>
  <rng:define name="e.descriptivenote">
    <element name="descriptivenote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <ref name="e.p"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.footnote">
    <element name="footnote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.link.show"/>
      </optional>
      <optional>
        <ref name="a.link.actuate"/>
      </optional>
      <oneOrMore>
        <ref name="m.blocks"/>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.head">
    <element name="head">
      <ref name="am.common"/>
      <optional>
        <attribute name="althead">
          <data type="token"/>
        </attribute>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <!-- DATES -->
  <rng:define name="e.datesingle">
    <element name="datesingle">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="m.datesingle"/>
    </element>
  </rng:define>
  <rng:define name="e.daterange">
    <element name="daterange">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <element name="fromdate">
          <ref name="am.common"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <ref name="m.datesingle"/>
        </element>
      </optional>
      <optional>
        <element name="todate">
          <ref name="am.common"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <ref name="m.datesingle"/>
        </element>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.dateset">
    <element name="dateset">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <choice>
        <ref name="e.datesingle"/>
        <ref name="e.daterange"/>
      </choice>
      <oneOrMore>
        <choice>
          <ref name="e.datesingle"/>
          <ref name="e.daterange"/>
        </choice>
      </oneOrMore>
    </element>
  </rng:define>
  <!-- MIXED CONTENT -->
  <rng:define name="e.abbr">
    <element name="abbr">
      <ref name="am.common"/>
      <optional>
        <attribute name="expan">
          <data type="string"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </rng:define>
  <rng:define name="e.date">
    <element name="date">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="am.dates.era"/>
      <ref name="am.dates.calendar"/>
      <ref name="am.date.normal"/>
      <optional>
        <ref name="a.certainty"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.emph">
    <element name="emph">
      <ref name="am.common"/>
      <optional>
        <ref name="a.render"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.expan">
    <element name="expan">
      <ref name="am.common"/>
      <optional>
        <attribute name="abbr">
          <data type="token"/>
        </attribute>
      </optional>
      <text/>
    </element>
  </rng:define>
  <rng:define name="e.foreign">
    <element name="foreign">
      <ref name="am.common"/>
      <optional>
        <ref name="a.render"/>
      </optional>
      <text/>
    </element>
  </rng:define>
  <rng:define name="e.lb">
    <element name="lb">
      <empty/>
    </element>
  </rng:define>
  <rng:define name="e.num">
    <element name="num">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.quote">
    <element name="quote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </rng:define>
  <rng:define name="e.ptr">
    <element name="ptr">
      <ref name="am.common.empty"/>
      <ref name="am.internal.ptr"/>
      <optional>
        <ref name="a.entityref"/>
      </optional>
      <empty/>
    </element>
  </rng:define>
  <rng:define name="e.ref">
    <element name="ref">
      <ref name="am.common"/>
      <ref name="am.internal.ptr"/>
      <optional>
        <ref name="a.entityref"/>
      </optional>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="e.abbr"/>
          <ref name="e.expan"/>
          <ref name="e.emph"/>
          <ref name="e.lb"/>
          <ref name="e.ptr"/>
          <ref name="e.quote"/>
          <ref name="e.num"/>
          <ref name="e.footnote"/>
          <ref name="e.date"/>
          <ref name="m.access"/>
        </choice>
      </zeroOrMore>
    </element>
  </rng:define>
  <!-- DSC -->
  <rng:define name="e.dsc">
    <element name="dsc">
      <ref name="am.common"/>
      <optional>
        <attribute name="dsctype">
          <choice>
            <value>analyticover</value>
            <value>combined</value>
            <value>in-depth</value>
            <value>otherdsctype</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="otherdsctype">
          <data type="token"/>
        </attribute>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <group>
        <optional>
          <ref name="e.head"/>
        </optional>
        <zeroOrMore>
          <ref name="m.blocks"/>
        </zeroOrMore>
      </group>
      <optional>
        <ref name="e.thead"/>
      </optional>
      <optional>
        <ref name="m.cOrC01"/>
      </optional>
    </element>
  </rng:define>
  <rng:define name="e.c">
    <element name="c">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c01">
    <element name="c01">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c02"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c02">
    <element name="c02">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c03"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c03">
    <element name="c03">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c04"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c04">
    <element name="c04">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c05"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c05">
    <element name="c05">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c06"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c06">
    <element name="c06">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c07"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c07">
    <element name="c07">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c08"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c08">
    <element name="c08">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <zeroOrMore>
          <ref name="e.c09"/>
        </zeroOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c09">
    <element name="c09">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c10"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c10">
    <element name="c10">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c11"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c11">
    <element name="c11">
      <ref name="m.c.base"/>
      <zeroOrMore>
        <optional>
          <ref name="e.thead"/>
        </optional>
        <oneOrMore>
          <ref name="e.c12"/>
        </oneOrMore>
      </zeroOrMore>
    </element>
  </rng:define>
  <rng:define name="e.c12">
    <element name="c12">
      <ref name="m.c.base"/>
    </element>
  </rng:define>
  <!-- RELATIONS -->
  <rng:define name="e.relations">
    <element name="relations">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.base"/>
      </optional>
      <oneOrMore>
        <element name="relation">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <attribute name="relationtype">
            <choice>
              <value>cpfrelation</value>
              <value>resourcerelation</value>
              <value>functionrelation</value>
              <value>otherrelationtype</value>
            </choice>
          </attribute>
          <optional>
            <attribute name="otherrelationtype">
              <data type="token"/>
            </attribute>
          </optional>
          <optional>
            <ref name="a.lastdatetimeverified"/>
          </optional>
          <ref name="am.simplelink"/>
          <zeroOrMore>
            <element name="relationentry">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <ref name="a.localtype"/>
              </optional>
              <optional>
                <ref name="a.transliteration"/>
              </optional>
              <text/>
            </element>
          </zeroOrMore>
          <optional>
            <ref name="e.objectxmlwrap"/>
          </optional>
          <optional>
            <choice>
              <ref name="e.datesingle"/>
              <ref name="e.daterange"/>
              <ref name="e.dateset"/>
            </choice>
          </optional>
          <optional>
            <ref name="e.geogname"/>
          </optional>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </oneOrMore>
    </element>
  </rng:define>
  <rng:define name="e.objectxmlwrap">
    <element name="objectxmlwrap">
      <ref name="am.common"/>
      <ref name="e.anyname"/>
    </element>
  </rng:define>
  <rng:define name="e.anyname">
    <element>
      <anyName>
        <except>
          <nsName ns="http://ead3.archivists.org/schema/"/>
        </except>
      </anyName>
      <zeroOrMore>
        <attribute>
          <anyName/>
        </attribute>
      </zeroOrMore>
      <zeroOrMore>
        <choice>
          <text/>
          <ref name="e.anyname"/>
        </choice>
      </zeroOrMore>
    </element>
  </rng:define>
  <!-- ELEMENT MODELS -->
  <rng:define name="m.blocks">
    <choice>
      <ref name="m.inter"/>
      <ref name="e.p"/>
    </choice>
  </rng:define>
  <rng:define name="m.inter">
    <choice>
      <ref name="m.inter.noquote"/>
      <ref name="e.blockquote"/>
    </choice>
  </rng:define>
  <rng:define name="m.inter.noquote">
    <choice>
      <ref name="e.chronlist"/>
      <ref name="e.list"/>
      <ref name="e.table"/>
    </choice>
  </rng:define>
  <rng:define name="m.cOrC01">
    <choice>
      <oneOrMore>
        <ref name="e.c"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="e.c01"/>
      </oneOrMore>
    </choice>
  </rng:define>
  <rng:define name="m.c.base">
    <ref name="am.desc.c"/>
    <optional>
      <ref name="e.head"/>
    </optional>
    <ref name="e.did"/>
    <zeroOrMore>
      <ref name="m.desc.base"/>
    </zeroOrMore>
  </rng:define>
  <rng:define name="m.access">
    <choice>
      <ref name="e.persname"/>
      <ref name="e.corpname"/>
      <ref name="e.famname"/>
      <ref name="e.geogname"/>
      <ref name="e.name"/>
      <ref name="e.occupation"/>
      <ref name="e.subject"/>
      <ref name="e.genreform"/>
      <ref name="e.function"/>
      <ref name="e.title"/>
    </choice>
  </rng:define>
  <rng:define name="m.datesingle">
    <optional>
      <attribute name="standarddate">
          <data type="token"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="notbefore">
        <data type="token"/> 
      </attribute>
    </optional>
    <optional>
      <attribute name="notafter">
        <data type="token"/>
      </attribute>
    </optional>
    <ref name="m.mixed.basic"/>
  </rng:define>
  <rng:define name="m.desc.base">
    <choice>
      <ref name="e.accessrestrict"/>
      <ref name="e.accruals"/>
      <ref name="e.acqinfo"/>
      <ref name="e.altformavail"/>
      <ref name="e.appraisal"/>
      <ref name="e.arrangement"/>
      <ref name="e.bibliography"/>
      <ref name="e.bioghist"/>
      <ref name="e.controlaccess"/>
      <ref name="e.custodhist"/>
      <ref name="e.fileplan"/>
      <ref name="e.index"/>
      <ref name="e.legalstatus"/>
      <ref name="e.odd"/>
      <ref name="e.originalsloc"/>
      <ref name="e.otherfindaid"/>
      <ref name="e.phystech"/>
      <ref name="e.prefercite"/>
      <ref name="e.processinfo"/>
      <ref name="e.relatedmaterial"/>
      <ref name="e.relations"/>
      <ref name="e.scopecontent"/>
      <ref name="e.separatedmaterial"/>
      <ref name="e.userestrict"/>
    </choice>
  </rng:define>
  <rng:define name="m.did">
    <choice>
      <ref name="e.abstract"/>
      <ref name="e.container"/>
      <ref name="e.dao"/>
      <ref name="e.daoset"/>
      <ref name="e.didnote"/>
      <ref name="e.langmaterial"/>
      <ref name="e.materialspec"/>
      <ref name="e.origination"/>
      <ref name="e.physdescset"/>
      <ref name="e.physdesc"/>
      <ref name="e.physdescstructured"/>
      <ref name="e.physloc"/>
      <ref name="e.repository"/>
      <ref name="e.unitdate"/>
      <ref name="e.unitdatestructured"/>
      <ref name="e.unitid"/>
      <ref name="e.unittitle"/>
    </choice>
  </rng:define>
  <rng:define name="m.refs">
    <choice>
      <ref name="e.ptr"/>
      <ref name="e.ref"/>
    </choice>
  </rng:define>
  <!-- MIXED CONTENT MODELS -->
  <rng:define name="m.mixed.basic.elements">
    <choice>
      <ref name="e.abbr"/>
      <ref name="e.emph"/>
      <ref name="e.expan"/>
      <ref name="e.foreign"/>
      <ref name="e.lb"/>
      <ref name="e.ptr"/>
      <ref name="e.ref"/>
    </choice>
  </rng:define>
  <rng:define name="m.mixed.basic">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="m.mixed.basic.elements"/>
      </choice>
    </zeroOrMore>
  </rng:define>
  <rng:define name="m.mixed.basic.plus.elements">
    <choice>
      <ref name="m.mixed.basic.elements"/>
      <ref name="e.date"/>
      <ref name="e.footnote"/>
      <ref name="e.num"/>
      <ref name="e.quote"/>
    </choice>
  </rng:define>
  <rng:define name="m.mixed.basic.plus.access">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="m.mixed.basic.elements"/>
        <ref name="m.access"/>
        <ref name="e.date"/>
        <ref name="e.footnote"/>
        <ref name="e.num"/>
        <ref name="e.quote"/>
      </choice>
    </zeroOrMore>
  </rng:define>
  <rng:define name="m.para.content">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="m.mixed.basic.plus.elements"/>
        <ref name="m.access"/>
        <ref name="e.list"/>
      </choice>
    </zeroOrMore>
  </rng:define>
  <!-- ATTRIBUTE MODELS -->
  <rng:define name="am.internal.ptr">
    <optional>
      <attribute name="target">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <ref name="a.link.xpointer"/>
    </optional>
    <ref name="am.simplelink"/>
  </rng:define>
  <rng:define name="am.simplelink">
    <optional>
      <ref name="a.link.href"/>
    </optional>
    <optional>
      <ref name="a.link.role"/>
    </optional>
    <optional>
      <ref name="a.link.arcrole"/>
    </optional>
    <optional>
      <ref name="a.link.title"/>
    </optional>
    <optional>
      <ref name="a.link.show"/>
    </optional>
    <optional>
      <ref name="a.link.actuate"/>
    </optional>
  </rng:define>
  <rng:define name="am.common.empty">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="altrender">
        <data type="token"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="audience">
        <choice>
          <value>external</value>
          <value>internal</value>
        </choice>
      </attribute>
    </optional>
  </rng:define>
  <rng:define name="am.common">
    <ref name="am.common.empty"/>
    <optional>
      <attribute name="lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="script">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </rng:define>
  <rng:define name="am.desc.base">
    <optional>
      <attribute name="otherlevel">
        <data type="token"/>
      </attribute>
    </optional>
    <optional>
      <ref name="a.encodinganalog"/>
    </optional>
  </rng:define>
  <rng:define name="am.desc.c">
    <ref name="am.common"/>
    <optional>
      <ref name="a.base"/>
    </optional>
    <optional>
      <ref name="a.level"/>
    </optional>
    <ref name="am.desc.base"/>
  </rng:define>
  <rng:define name="am.access">
    <ref name="am.access.no.normal"/>
    <optional>
      <ref name="a.normal"/>
    </optional>
  </rng:define>
  <rng:define name="am.access.no.normal">
    <optional>
      <attribute name="source">
        <data type="token"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rules">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <optional>
      <ref name="a.identifier"/>
    </optional>
  </rng:define>
  <!-- ATTRIBUTE DEFINITIONS -->
  <!-- xlink-modelled attributes -->
  <rng:define name="a.link.actuate">
    <attribute name="actuate">
      <choice>
        <value>onload</value>
        <value>onrequest</value>
        <value>other</value>
        <value>none</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.link.arcrole">
    <attribute name="arcrole">
      <data type="anyURI"/>
    </attribute>
  </rng:define>
  <rng:define name="a.link.href">
    <attribute name="href">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.link.role">
    <attribute name="linkrole">
      <data type="anyURI"/>
    </attribute>
  </rng:define>
  <rng:define name="a.link.show">
    <attribute name="show">
      <choice>
        <value>new</value>
        <value>replace</value>
        <value>embed</value>
        <value>other</value>
        <value>none</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.link.title">
    <attribute name="linktitle">
      <data type="token"/>
    </attribute>
  </rng:define>
  <!--  other linking-related attributes -->
  <rng:define name="a.base">
    <attribute name="base">
      <data type="anyURI"/>
    </attribute>
  </rng:define>
  <rng:define name="a.identifier">
    <attribute name="identifier">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.parent">
    <attribute name="parent">
      <data type="IDREFS"/>
    </attribute>
  </rng:define>
  <rng:define name="a.relator">
    <attribute name="relator">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.link.xpointer">
    <attribute name="xpointer">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.entityref">
    <attribute name="entityref">
      <data type="ENTITY"/>
    </attribute>
  </rng:define>
  <!-- display attributes -->
  <rng:define name="a.align">
    <attribute name="align">
      <choice>
        <value>left</value>
        <value>right</value>
        <value>center</value>
        <value>justify</value>
        <value>char</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.valign">
    <attribute name="valign">
      <choice>
        <value>top</value>
        <value>middle</value>
        <value>bottom</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.render">
    <attribute name="render">
      <choice>
        <value>altrender</value>
        <value>bold</value>
        <value>bolddoublequote</value>
        <value>bolditalic</value>
        <value>boldsinglequote</value>
        <value>boldsmcaps</value>
        <value>boldunderline</value>
        <value>doublequote</value>
        <value>italic</value>
        <value>nonproport</value>
        <value>singlequote</value>
        <value>smcaps</value>
        <value>sub</value>
        <value>super</value>
        <value>underline</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.label">

    <attribute name="label">
      <data type="string"/>
    </attribute>

  </rng:define>
  <!-- date attributes -->
  <rng:define name="am.dates.calendar">
    <optional>
      <attribute name="calendar">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </rng:define>
  <rng:define name="am.dates.era">
    <optional>
      <attribute name="era">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </rng:define>
  <rng:define name="am.date.normal">
    <optional>
      <ref name="a.normal"/>
    </optional>
  </rng:define>
  <rng:define name="a.lastdatetimeverified">
    <attribute name="lastdatetimeverified">
      <choice>
        <data type="date">
          <param name="maxInclusive">2099-12-31</param>
        </data>
        <data type="gYear">
          <param name="maxInclusive">2099</param>
        </data>
        <data type="gYearMonth">
          <param name="maxInclusive">2099-12</param>
        </data>
        <data type="dateTime">
          <param name="maxInclusive">2099-12-31T23:59:59</param>
        </data>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.datechar">
    <attribute name="datechar">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.certainty">
    <attribute name="certainty">
      <data type="NMTOKEN"/>
    </attribute>
  </rng:define>
  <rng:define name="a.normal">
    <attribute name="normal">
      <data type="token"/>
    </attribute>
  </rng:define>

  <!-- typing attributes -->
  <rng:define name="a.encodinganalog">
    <attribute name="encodinganalog">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.level">
    <attribute name="level">
      <choice>
        <value>class</value>
        <value>collection</value>
        <value>file</value>
        <value>fonds</value>
        <value>item</value>
        <value>otherlevel</value>
        <value>recordgrp</value>
        <value>series</value>
        <value>subfonds</value>
        <value>subgrp</value>
        <value>subseries</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="a.localtype">
    <attribute name="localtype">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.relatedencoding">
    <attribute name="relatedencoding">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.unitdatetype">
    <optional>
      <attribute name="unitdatetype">
        <choice>
          <value>bulk</value>
          <value>inclusive</value>
        </choice>
      </attribute>
    </optional>
  </rng:define>
  <!-- table attributes -->
  <rng:define name="a.char">
    <attribute name="char">
      <data type="token"/>
    </attribute>
  </rng:define>
  <rng:define name="a.charoff">
    <attribute name="charoff">
      <data type="NMTOKEN"/>
    </attribute>
  </rng:define>
  <rng:define name="a.colname">
    <attribute name="colname">
      <data type="NMTOKEN"/>
    </attribute>
  </rng:define>
  <rng:define name="a.colsep">
    <attribute name="colsep">
      <ref name="av.boolean"/>
    </attribute>
  </rng:define>
  <rng:define name="a.rowsep">
    <attribute name="rowsep">
      <ref name="av.boolean"/>
    </attribute>
  </rng:define>
  <!-- other attributes -->
  <rng:define name="a.coverage">
    <attribute name="coverage">
      <choice>
        <value>whole</value>
        <value>part</value>
      </choice>
    </attribute>
  </rng:define>
  <rng:define name="am.countrycode">
    <optional>
      <attribute name="countrycode">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </rng:define>
  <rng:define name="a.transliteration">
    <attribute name="transliteration">
      <data type="NMTOKEN"/>
    </attribute>
  </rng:define>

  <!-- ATTRIBUTE VALUE LISTS -->
  <rng:define name="av.boolean">
    <choice>
      <value>true</value>
      <value>false</value>
    </choice>
  </rng:define>

</rng:div></rng:div>
    <start>
        <ref name="e.ead"/>
    </start>
</grammar>