previousVersions/version100/ead3.dtd

<!-- include "ead_revised_defs.rng" -->

<!-- ELEMENTS -->

<!ELEMENT ead (control,archdesc)>
<!ATTLIST ead

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  relatedencoding CDATA #IMPLIED
  base CDATA #IMPLIED>

<!-- control -->

<!ELEMENT control (recordid,otherrecordid*,representation*,filedesc,
                   maintenancestatus,publicationstatus?,
                   maintenanceagency,languagedeclaration*,
                   conventiondeclaration*,localtypedeclaration*,
                   localcontrol*,maintenancehistory,sources?)>
<!ATTLIST control

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  relatedencoding CDATA #IMPLIED
  base CDATA #IMPLIED
  langencoding (iso639-1|iso639-2b|iso639-3|otherlangencoding) #IMPLIED
  scriptencoding (iso15924|otherscriptencoding) #IMPLIED
  dateencoding (iso8601|otherdateencoding) #IMPLIED
  countryencoding (iso3166-1|othercountryencoding) #IMPLIED
  repositoryencoding (iso15511|otherrepositoryencoding) #IMPLIED>

<!ELEMENT recordid (#PCDATA)>
<!ATTLIST recordid

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  instanceurl CDATA #IMPLIED>

<!ELEMENT otherrecordid (#PCDATA)>
<!ATTLIST otherrecordid

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT representation (#PCDATA)>
<!ATTLIST representation

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT filedesc (titlestmt,editionstmt?,publicationstmt?,seriesstmt?,
                    notestmt?)>
<!ATTLIST filedesc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT maintenancestatus (#PCDATA)>
<!ATTLIST maintenancestatus

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  value (revised|deleted|new|deletedsplit|deletedmerged|deletedreplaced
         |cancelled|derived) #REQUIRED>

<!ELEMENT publicationstatus (#PCDATA)>
<!ATTLIST publicationstatus

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  value (inprocess|approved|published) #REQUIRED>

<!ELEMENT languagedeclaration (language,script,descriptivenote?)>
<!ATTLIST languagedeclaration

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT conventiondeclaration (abbr?,citation,descriptivenote?)>
<!ATTLIST conventiondeclaration

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT localtypedeclaration (abbr?,citation,descriptivenote?)>
<!ATTLIST localtypedeclaration

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT localcontrol (term?,(datesingle|daterange)?)>
<!ATTLIST localcontrol

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT maintenancehistory (maintenanceevent)+>
<!ATTLIST maintenancehistory

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT sources (source)+>
<!ATTLIST sources

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  base CDATA #IMPLIED>

<!ELEMENT titlestmt (titleproper+,subtitle*,author*,sponsor*)>
<!ATTLIST titlestmt

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT editionstmt (edition|p)+>
<!ATTLIST editionstmt

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT publicationstmt (publisher|date|address|num|p)+>
<!ATTLIST publicationstmt

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT seriesstmt (titleproper|num|p)+>
<!ATTLIST seriesstmt

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT notestmt (controlnote)+>
<!ATTLIST notestmt

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT term (#PCDATA)>
<!ATTLIST term

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  transliteration NMTOKEN #IMPLIED
  lastdatetimeverified CDATA #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED>

<!ELEMENT maintenanceevent (eventtype,eventdatetime,agenttype,agent,
                            eventdescription*)>
<!ATTLIST maintenanceevent

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT source (sourceentry*,descriptivenote?)>
<!ATTLIST source

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  lastdatetimeverified CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED>

<!ELEMENT eventtype (#PCDATA)>
<!ATTLIST eventtype

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  value (created|revised|deleted|cancelled|derived|updated
         |unknown) #REQUIRED>

<!ELEMENT eventdatetime (#PCDATA)>
<!ATTLIST eventdatetime

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  standarddatetime CDATA #IMPLIED>

<!ELEMENT agenttype (#PCDATA)>
<!ATTLIST agenttype

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  value (human|machine|unknown) #REQUIRED>

<!ELEMENT agent (#PCDATA)>
<!ATTLIST agent

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT eventdescription (#PCDATA)>
<!ATTLIST eventdescription

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT sourceentry (#PCDATA)>
<!ATTLIST sourceentry

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  transliteration NMTOKEN #IMPLIED>

<!-- MIXED CONTENT MODELS -->

<!ELEMENT titleproper (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST titleproper

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  render (altrender|bold|bolddoublequote|bolditalic|boldsinglequote
          |boldsmcaps|boldunderline|doublequote|italic|nonproport
          |singlequote|smcaps|sub|super|underline) #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT subtitle (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST subtitle

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT author (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST author

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT sponsor (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST sponsor

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT edition (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST edition

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT publisher (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST publisher

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!-- ELEMENT MODELS -->

<!ELEMENT controlnote (chronlist|list|table|blockquote|p)+>
<!ATTLIST controlnote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT maintenanceagency (agencycode?,otheragencycode*,agencyname+,
                             descriptivenote?)>
<!ATTLIST maintenanceagency

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  countrycode NMTOKEN #IMPLIED>

<!ELEMENT agencycode (#PCDATA)>
<!ATTLIST agencycode

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT otheragencycode (#PCDATA)>
<!ATTLIST otheragencycode

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT agencyname (#PCDATA)>
<!ATTLIST agencyname

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT citation (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST citation

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED
  lastdatetimeverified CDATA #IMPLIED>

<!-- ARCHDESC -->

<!ELEMENT archdesc (did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict|dsc)*)>
<!ATTLIST archdesc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  relatedencoding CDATA #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED

  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #REQUIRED
  base CDATA #IMPLIED>

<!-- did -->

<!ELEMENT did (head?,(abstract|container|dao|daoset|didnote|langmaterial
                  |materialspec|origination|physdescset|physdesc
                  |physdescstructured|physloc|repository|unitdate
                  |unitdatestructured|unitid|unittitle)+)>
<!ATTLIST did

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT abstract (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref
                                       |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|date|footnote|num
                                       |quote)*>
<!ATTLIST abstract

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT container (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST container

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  parent IDREFS #IMPLIED
  containerid NMTOKEN #IMPLIED>

<!ELEMENT dao (descriptivenote)?>
<!ATTLIST dao

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED
  identifier CDATA #IMPLIED
  xpointer CDATA #IMPLIED
  entityref ENTITY #IMPLIED
  daotype (borndigital|derived|unknown|otherdaotype) #REQUIRED
  otherdaotype CDATA #IMPLIED
  coverage (whole|part) #IMPLIED>

<!ELEMENT daoset (dao,dao+,descriptivenote?)>
<!ATTLIST daoset

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  label CDATA #IMPLIED
  coverage (whole|part) #IMPLIED
  base CDATA #IMPLIED>

<!ELEMENT didnote (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST didnote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT langmaterial ((language|languageset)+,descriptivenote?)>
<!ATTLIST langmaterial

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT materialspec (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST materialspec

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!-- ATTRIBUTE VALUE LISTS -->

<!ELEMENT physdescset (physdescstructured,physdescstructured+)>
<!ATTLIST physdescset

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  parallel (true|false) #IMPLIED
  coverage (whole|part) #IMPLIED>

<!ELEMENT physdesc (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST physdesc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT physloc (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST physloc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  parent IDREFS #IMPLIED>

<!ELEMENT origination (corpname|famname|name|persname)+>
<!ATTLIST origination

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!-- other attributes -->

<!ELEMENT physdescstructured (quantity,unittype,(physfacet|dimensions)*,
                              descriptivenote?)>
<!ATTLIST physdescstructured

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  physdescstructuredtype (carrier|materialtype|spaceoccupied
                          |otherphysdescstructuredtype) #REQUIRED
  otherphysdescstructuredtype CDATA #IMPLIED

  coverage (whole|part) #REQUIRED>

<!ELEMENT quantity (#PCDATA)>
<!ATTLIST quantity

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  approximate (true|false) #IMPLIED>

<!ELEMENT unittype (#PCDATA)>
<!ATTLIST unittype

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED>

<!ELEMENT repository ((corpname|famname|name|persname)+,address?)>
<!ATTLIST repository

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!-- date attributes -->

<!ELEMENT unitdate (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST unitdate

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED

  unitdatetype (bulk|inclusive) #IMPLIED
  datechar CDATA #IMPLIED
  certainty NMTOKEN #IMPLIED

  era NMTOKEN #IMPLIED

  calendar NMTOKEN #IMPLIED

  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT unitdatestructured (datesingle|daterange|dateset)>
<!ATTLIST unitdatestructured

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED

  unitdatetype (bulk|inclusive) #IMPLIED
  datechar CDATA #IMPLIED
  certainty NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  era NMTOKEN #IMPLIED

  calendar NMTOKEN #IMPLIED>

<!ELEMENT unittitle (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref
                                       |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|date|footnote|num
                                       |quote)*>
<!ATTLIST unittitle

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  label CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  normal CDATA #IMPLIED>

<!ELEMENT unitid (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST unitid

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  label CDATA #IMPLIED

  countrycode NMTOKEN #IMPLIED
  repositorycode CDATA #IMPLIED
  identifier CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!-- archdesc notes -->

<!ELEMENT accessrestrict (head?,(chronlist|list|table|blockquote|p|accessrestrict)+)>
<!ATTLIST accessrestrict

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT accruals (head?,(chronlist|list|table|blockquote|p|accruals)+)>
<!ATTLIST accruals

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT acqinfo (head?,(chronlist|list|table|blockquote|p|acqinfo)+)>
<!ATTLIST acqinfo

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT altformavail (head?,(chronlist|list|table|blockquote|p|altformavail)+)>
<!ATTLIST altformavail

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT appraisal (head?,(chronlist|list|table|blockquote|p|appraisal)+)>
<!ATTLIST appraisal

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT arrangement (head?,(chronlist|list|table|blockquote|p|arrangement)+)>
<!ATTLIST arrangement

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT bibliography (head?,
                        (chronlist|list|table|blockquote|p|bibliography|archref|bibref)+)>
<!ATTLIST bibliography

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT bioghist (head?,(chronlist|list|table|blockquote|p|bioghist)+)>
<!ATTLIST bioghist

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT controlaccess (head?,(chronlist|list|table|blockquote|p|persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|controlaccess)+)>
<!ATTLIST controlaccess

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT custodhist (head?,(chronlist|list|table|blockquote|p|custodhist)+)>
<!ATTLIST custodhist

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT fileplan (head?,(chronlist|list|table|blockquote|p|fileplan)+)>
<!ATTLIST fileplan

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT index (head?,(chronlist|list|table|blockquote|p)*,((listhead?,indexentry+)|index+))>
<!ATTLIST index

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT indexentry ((namegrp|persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title),(ptrgrp|ptr|ref)?,
                      indexentry*)>
<!ATTLIST indexentry

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT namegrp (persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title)+>
<!ATTLIST namegrp

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT ptrgrp (ptr|ref)+>
<!ATTLIST ptrgrp

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT legalstatus (head?,(chronlist|list|table|blockquote|p|legalstatus)+)>
<!ATTLIST legalstatus

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT odd (head?,(chronlist|list|table|blockquote|p|odd)+)>
<!ATTLIST odd

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT originalsloc (head?,(chronlist|list|table|blockquote|p|originalsloc)+)>
<!ATTLIST originalsloc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT otherfindaid (head?,
                        (chronlist|list|table|blockquote|p|otherfindaid|archref|bibref)+)>
<!ATTLIST otherfindaid

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT phystech (head?,(chronlist|list|table|blockquote|p|phystech)+)>
<!ATTLIST phystech

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT prefercite (head?,(chronlist|list|table|blockquote|p|prefercite)+)>
<!ATTLIST prefercite

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT processinfo (head?,(chronlist|list|table|blockquote|p|processinfo)+)>
<!ATTLIST processinfo

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT relatedmaterial (head?,
                           (chronlist|list|table|blockquote|p|relatedmaterial|archref
                            |bibref)+)>
<!ATTLIST relatedmaterial

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT scopecontent (head?,(chronlist|list|table|blockquote|p|scopecontent)+)>
<!ATTLIST scopecontent

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT separatedmaterial (head?,
                             (chronlist|list|table|blockquote|p|separatedmaterial|archref
                              |bibref)+)>
<!ATTLIST separatedmaterial

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT userestrict (head?,(chronlist|list|table|blockquote|p|userestrict)+)>
<!ATTLIST userestrict

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!-- controlaccess elements -->

<!ELEMENT corpname (part)+>
<!ATTLIST corpname

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT famname (part)+>
<!ATTLIST famname

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT function (part)+>
<!ATTLIST function

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT genreform (part)+>
<!ATTLIST genreform

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT geogname (part+,geographiccoordinates*)>
<!ATTLIST geogname

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT geographiccoordinates (#PCDATA)>
<!ATTLIST geographiccoordinates

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  coordinatesystem CDATA #REQUIRED>

<!ELEMENT name (part)+>
<!ATTLIST name

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT occupation (part)+>
<!ATTLIST occupation

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT persname (part)+>
<!ATTLIST persname

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT subject (part)+>
<!ATTLIST subject

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  relator CDATA #IMPLIED>

<!ELEMENT title (part)+>
<!ATTLIST title

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  normal CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED
  relator CDATA #IMPLIED
  render (altrender|bold|bolddoublequote|bolditalic|boldsinglequote
          |boldsmcaps|boldunderline|doublequote|italic|nonproport
          |singlequote|smcaps|sub|super|underline) #IMPLIED>

<!ELEMENT part (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST part

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED>

<!-- BLOCKS -->

<!-- p -->

<!ELEMENT p (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref|date
                                        |footnote|num|quote
                            |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|list)*>
<!ATTLIST p

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!-- blockquote -->

<!ELEMENT blockquote (chronlist|list|table|p)+>
<!ATTLIST blockquote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!-- chronlist -->

<!ELEMENT chronlist (head?,listhead?,chronitem+)>
<!ATTLIST chronlist

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT chronitem ((datesingle|daterange|dateset),
                     ((geogname?,event)|chronitemset+))>
<!ATTLIST chronitem

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT chronitemset (geogname*,event+)>
<!ATTLIST chronitemset

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT event (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref|date
                                        |footnote|num|quote
                            |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|list)*>
<!ATTLIST event

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!-- list -->

<!ELEMENT list (head?,(item+|(listhead?,defitem+)))>
<!ATTLIST list

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  listtype (deflist|unordered|ordered) #IMPLIED
  mark (disc|circle|square|none|inherit) #IMPLIED
  numeration (decimal|decimal-leading-zero|lower-roman|upper-roman
              |lower-greek|lower-latin|upper-latin|armenian|georgian
              |lower-alpha|upper-alpha|inherit) #IMPLIED>

<!ELEMENT defitem (label,item)>
<!ATTLIST defitem

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT label (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST label

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT item (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref|date
                                        |footnote|num|quote
                            |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|list)*>
<!ATTLIST item

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT listhead (head01?,head02?,head03?)>
<!ATTLIST listhead

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT head01 (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST head01

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT head02 (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST head02

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT head03 (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST head03

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!-- table -->

<!ELEMENT table (head?,tgroup+)>
<!ATTLIST table

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  frame (top|bottom|topbot|all|sides|none) #IMPLIED
  colsep (true|false) #IMPLIED
  rowsep (true|false) #IMPLIED
  pgwide (true|false) #IMPLIED>

<!ELEMENT tgroup (colspec*,thead?,tbody)>
<!ATTLIST tgroup

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  cols NMTOKEN #REQUIRED
  colsep (true|false) #IMPLIED
  rowsep (true|false) #IMPLIED
  align (left|right|center|justify|char) #IMPLIED>

<!ELEMENT colspec EMPTY>
<!ATTLIST colspec
  colnum NMTOKEN #IMPLIED
  colname NMTOKEN #IMPLIED
  colwidth CDATA #IMPLIED
  colsep (true|false) #IMPLIED
  rowsep (true|false) #IMPLIED
  align (left|right|center|justify|char) #IMPLIED
  char CDATA #IMPLIED
  charoff NMTOKEN #IMPLIED>

<!ELEMENT tbody (row)+>
<!ATTLIST tbody

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  valign (top|middle|bottom) #IMPLIED>

<!ELEMENT row (entry)+>
<!ATTLIST row

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  rowsep (true|false) #IMPLIED
  valign (top|middle|bottom) #IMPLIED>

<!ELEMENT entry (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref|date
                                        |footnote|num|quote
                            |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|list)*>
<!ATTLIST entry

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  colname NMTOKEN #IMPLIED
  namest NMTOKEN #IMPLIED
  nameend NMTOKEN #IMPLIED
  morerows NMTOKEN #IMPLIED
  colsep (true|false) #IMPLIED
  rowsep (true|false) #IMPLIED
  align (left|right|center|justify|char) #IMPLIED
  char CDATA #IMPLIED
  charoff NMTOKEN #IMPLIED
  valign (top|middle|bottom) #IMPLIED>

<!ELEMENT thead (row)+>
<!ATTLIST thead

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  valign (top|middle|bottom) #IMPLIED>

<!-- language blocks -->

<!ELEMENT language (#PCDATA)>
<!ATTLIST language

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  label CDATA #IMPLIED
  langcode NMTOKEN #IMPLIED>

<!ELEMENT languageset (language+,script+,descriptivenote?)>
<!ATTLIST languageset

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT script (#PCDATA)>
<!ATTLIST script

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  label CDATA #IMPLIED
  scriptcode NMTOKEN #IMPLIED>

<!-- physdescstructured blocks -->

<!ELEMENT dimensions (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref|dimensions)*>
<!ATTLIST dimensions

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  unit CDATA #IMPLIED>

<!ELEMENT physfacet (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref
                                       |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|date|footnote|num
                                       |quote)*>
<!ATTLIST physfacet

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED

  source CDATA #IMPLIED
  rules NMTOKEN #IMPLIED
  identifier CDATA #IMPLIED
  localtype CDATA #IMPLIED>

<!-- other blocks -->

<!ELEMENT address (addressline)+>
<!ATTLIST address

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED>

<!ELEMENT addressline (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST addressline

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT archref (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref
                                       |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|date|footnote|num
                                       |quote)*>
<!ATTLIST archref

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT bibref (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref
                                       |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title|date|footnote|num
                                       |quote)*>
<!ATTLIST bibref

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT descriptivenote (p)+>
<!ATTLIST descriptivenote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT footnote (chronlist|list|table|blockquote|p)+>
<!ATTLIST footnote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED>

<!ELEMENT head (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST head

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  althead CDATA #IMPLIED>

<!-- DATES -->

<!ELEMENT datesingle (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST datesingle

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  standarddate CDATA #IMPLIED
  notbefore CDATA #IMPLIED
  notafter CDATA #IMPLIED>

<!ELEMENT daterange (fromdate?,todate?)>
<!ATTLIST daterange

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!ELEMENT fromdate (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST fromdate

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  standarddate CDATA #IMPLIED
  notbefore CDATA #IMPLIED
  notafter CDATA #IMPLIED>

<!ELEMENT todate (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST todate

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  standarddate CDATA #IMPLIED
  notbefore CDATA #IMPLIED
  notafter CDATA #IMPLIED>

<!ELEMENT dateset ((datesingle|daterange),(datesingle|daterange)+)>
<!ATTLIST dateset

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!-- MIXED CONTENT -->

<!ELEMENT abbr (#PCDATA)>
<!ATTLIST abbr

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  expan CDATA #IMPLIED>

<!ELEMENT date (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST date

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED

  era NMTOKEN #IMPLIED

  calendar NMTOKEN #IMPLIED

  normal CDATA #IMPLIED
  certainty NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT emph (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST emph

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  render (altrender|bold|bolddoublequote|bolditalic|boldsinglequote
          |boldsmcaps|boldunderline|doublequote|italic|nonproport
          |singlequote|smcaps|sub|super|underline) #IMPLIED>

<!ELEMENT expan (#PCDATA)>
<!ATTLIST expan

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  abbr CDATA #IMPLIED>

<!ELEMENT foreign (#PCDATA)>
<!ATTLIST foreign

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  render (altrender|bold|bolddoublequote|bolditalic|boldsinglequote
          |boldsmcaps|boldunderline|doublequote|italic|nonproport
          |singlequote|smcaps|sub|super|underline) #IMPLIED>

<!ELEMENT lb EMPTY>

<!ELEMENT num (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST num

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT quote (#PCDATA|abbr|emph|expan|foreign|lb|ptr|ref)*>
<!ATTLIST quote

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  localtype CDATA #IMPLIED>

<!-- ATTRIBUTE MODELS -->

<!ELEMENT ptr EMPTY>
<!ATTLIST ptr

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED

  target IDREF #IMPLIED
  xpointer CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED
  entityref ENTITY #IMPLIED>

<!ELEMENT ref (#PCDATA|abbr|expan|emph|lb|ptr|quote|num|footnote|date
               |persname|corpname|famname|geogname|name|occupation
                     |subject|genreform|function|title)*>
<!ATTLIST ref

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED

  target IDREF #IMPLIED
  xpointer CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED
  entityref ENTITY #IMPLIED>

<!-- DSC -->

<!ELEMENT dsc (head?,(chronlist|list|table|blockquote|p)*,thead?,(c+|c01+)?)>
<!ATTLIST dsc

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  dsctype (analyticover|combined|in-depth|otherdsctype) #IMPLIED
  otherdsctype CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c+)*)>
<!ATTLIST c

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c01 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c02+)*)>
<!ATTLIST c01

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c02 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c03+)*)>
<!ATTLIST c02

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c03 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c04+)*)>
<!ATTLIST c03

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c04 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c05+)*)>
<!ATTLIST c04

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c05 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c06+)*)>
<!ATTLIST c05

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c06 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c07+)*)>
<!ATTLIST c06

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c07 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c08+)*)>
<!ATTLIST c07

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c08 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c09*)*)>
<!ATTLIST c08

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c09 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c10+)*)>
<!ATTLIST c09

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c10 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c11+)*)>
<!ATTLIST c10

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c11 ((head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*),(thead?,c12+)*)>
<!ATTLIST c11

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!ELEMENT c12 (head?,did,(accessrestrict|accruals|acqinfo|altformavail
                        |appraisal|arrangement|bibliography|bioghist
                        |controlaccess|custodhist|fileplan|index
                        |legalstatus|odd|originalsloc|otherfindaid
                        |phystech|prefercite|processinfo|relatedmaterial
                        |relations|scopecontent|separatedmaterial
                        |userestrict)*)>
<!ATTLIST c12

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  base CDATA #IMPLIED
  level (class|collection|file|fonds|item|otherlevel|recordgrp|series
         |subfonds|subgrp|subseries) #IMPLIED

  otherlevel CDATA #IMPLIED
  encodinganalog CDATA #IMPLIED>

<!-- RELATIONS -->

<!ELEMENT relations (relation)+>
<!ATTLIST relations

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  base CDATA #IMPLIED>

<!ELEMENT relation (relationentry*,(datesingle|daterange|dateset)?,
                    geogname?,descriptivenote?)>
<!ATTLIST relation

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  relationtype (cpfrelation|resourcerelation|functionrelation
                |otherrelationtype) #REQUIRED
  otherrelationtype CDATA #IMPLIED
  lastdatetimeverified CDATA #IMPLIED

  href CDATA #IMPLIED
  linkrole CDATA #IMPLIED
  arcrole CDATA #IMPLIED
  linktitle CDATA #IMPLIED
  show (new|replace|embed|other|none) #IMPLIED
  actuate (onload|onrequest|other|none) #IMPLIED>

<!ELEMENT relationentry (#PCDATA)>
<!ATTLIST relationentry

  id ID #IMPLIED
  altrender CDATA #IMPLIED
  audience (external|internal) #IMPLIED
  lang NMTOKEN #IMPLIED
  script NMTOKEN #IMPLIED
  encodinganalog CDATA #IMPLIED
  localtype CDATA #IMPLIED
  transliteration NMTOKEN #IMPLIED>

<!-- ATTRIBUTE DEFINITIONS -->

<!-- xlink-modelled attributes -->

<!-- other linking-related attributes -->

<!-- display attributes -->

<!-- typing attributes -->

<!-- table attributes -->

