redesign/control_defs.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar 
    xmlns="http://relaxng.org/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
          <!-- control -->
  <define name="e.control">
    <element name="control">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <optional>
        <ref name="a.relatedencoding"/>
      </optional>
      <ref name="a.base"/>
      <optional>
        <attribute name="langencoding">
          <choice>
            <value>iso639-1</value>
            <value>iso639-2b</value>
            <value>iso639-3</value>
            <value>otherlangencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="scriptencoding">
          <choice>
            <value>iso15924</value>
            <value>otherscriptencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="dateencoding">
          <choice>
            <value>iso8601</value>
            <value>otherdateencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="countryencoding">
          <choice>
            <value>iso3166-1</value>
            <value>othercountryencoding</value>
          </choice>
        </attribute>
      </optional>
      <optional>
        <attribute name="repositoryencoding">
          <choice>
            <value>iso15511</value>
            <value>otherrepositoryencoding</value>
          </choice>
        </attribute>
      </optional>
      <element name="recordid">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <optional>
          <attribute name="instanceurl">
            <data type="anyURI"/>
          </attribute>
        </optional>
        <text/>
      </element>
      <zeroOrMore>
        <element name="otherrecordid">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="representation">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <ref name="am.simplelink"/>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
        <ref name="e.filedesc"/>
      
      <element name="maintenancestatus">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <attribute name="value">
          <choice>
            <value>revised</value>
            <value>deleted</value>
            <value>new</value>
            <value>deletedsplit</value>
            <value>deletedmerged</value>
            <value>deletedreplaced</value>
            <value>cancelled</value>
            <value>derived</value>
          </choice>
        </attribute>
        <text/>
      </element>
      <optional>
        <element name="publicationstatus">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <attribute name="value">
            <choice>
              <value>inprocess</value>
              <value>approved</value>
              <value>published</value>
            </choice>
          </attribute>
          <text/>
        </element>
      </optional>
      <ref name="e.maintenanceagency"/>
      <zeroOrMore>
        <element name="languagedeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <ref name="e.language"/>
          <ref name="e.script"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="conventiondeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="e.abbr"/>
          </optional>
          <ref name="e.citation"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="localtypedeclaration">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="e.abbr"/>
          </optional>
          <ref name="e.citation"/>
          <optional>
            <ref name="e.descriptivenote"/>
          </optional>
        </element>
      </zeroOrMore>
      <zeroOrMore>
        <element name="localcontrol">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <optional>
            <element name="term">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <ref name="a.transliteration"/>
              </optional>
              <optional>
                <ref name="a.lastdatetimeverified"/>
              </optional>
              <ref name="am.access.no.normal"/>
              <text/>
            </element>
          </optional>
          <optional>
            <choice>
              <ref name="e.datesingle"/>
              <ref name="e.daterange"/>
            </choice>
          </optional>
        </element>
      </zeroOrMore>
      <element name="maintenancehistory">
        <ref name="am.common"/>
        <optional>
          <ref name="a.encodinganalog"/>
        </optional>
        <oneOrMore>
          <element name="maintenanceevent">
            <ref name="am.common"/>
            <optional>
              <ref name="a.encodinganalog"/>
            </optional>
            <element name="eventtype">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <attribute name="value">
                <choice>
                  <value>created</value>
                  <value>revised</value>
                  <value>deleted</value>
                  <value>cancelled</value>
                  <value>derived</value>
                  <value>updated</value>
                  <value>unknown</value>
                </choice>
              </attribute>
              <text/>
            </element>
            <element name="eventdatetime">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <attribute name="standarddatetime">
                  <choice>
                    <data type="date">
                      <param name="maxInclusive">2099-12-31</param>
                    </data>
                    <data type="gYear">
                      <param name="maxInclusive">2099</param>
                    </data>
                    <data type="gYearMonth">
                      <param name="maxInclusive">2099-12</param>
                    </data>
                    <data type="dateTime">
                      <param name="maxInclusive">2099-12-31T23:59:59</param>
                    </data>
                  </choice>
                </attribute>
              </optional>
              <text/>
            </element>
            <element name="agenttype">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <attribute name="value">
                <choice>
                  <value>human</value>
                  <value>machine</value>
                  <value>unknown</value>
                </choice>
              </attribute>
              <text/>
            </element>
            <element name="agent">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <text/>
            </element>
            <zeroOrMore>
              <element name="eventdescription">
                <ref name="am.common"/>
                <optional>
                  <ref name="a.encodinganalog"/>
                </optional>
                <optional>
                  <ref name="a.localtype"/>
                </optional>
                <text/>
              </element>
            </zeroOrMore>
          </element>
        </oneOrMore>
      </element>
      <optional>
        <element name="sources">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <ref name="a.base"/>
          <oneOrMore>
            <element name="source">
              <ref name="am.common"/>
              <optional>
                <ref name="a.encodinganalog"/>
              </optional>
              <optional>
                <ref name="a.lastdatetimeverified"/>
              </optional>
              <ref name="am.simplelink"/>
              <zeroOrMore>
                <element name="sourceentry">
                  <ref name="am.common"/>
                  <optional>
                    <ref name="a.encodinganalog"/>
                  </optional>
                  <optional>
                    <ref name="a.transliteration"/>
                  </optional>
                  <text/>
                </element>
              </zeroOrMore>
              <optional>
                <ref name="e.objectxmlwrap"/>
              </optional>
              <optional>
                <ref name="e.descriptivenote"/>
              </optional>
            </element>
          </oneOrMore>
        </element>
      </optional>
    </element>
  </define>
  <define name="e.titleproper">
    <element name="titleproper">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.render"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.subtitle">
    <element name="subtitle">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.author">
    <element name="author">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.sponsor">
    <element name="sponsor">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.edition">
    <element name="edition">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.publisher">
    <element name="publisher">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
  <define name="e.controlnote">
    <element name="controlnote">
      <ref name="am.common"/>
      <optional>
        <ref name="a.localtype"/>
      </optional>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <oneOrMore>
        <ref name="m.blocks"/>
      </oneOrMore>
    </element>
  </define>
  <define name="e.maintenanceagency">
    <element name="maintenanceagency">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.countrycode"/>
      <optional>
        <element name="agencycode">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </optional>
      <zeroOrMore>
        <element name="otheragencycode">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </zeroOrMore>
      <oneOrMore>
        <element name="agencyname">
          <ref name="am.common"/>
          <optional>
            <ref name="a.encodinganalog"/>
          </optional>
          <optional>
            <ref name="a.localtype"/>
          </optional>
          <text/>
        </element>
      </oneOrMore>
      <optional>
        <ref name="e.descriptivenote"/>
      </optional>
    </element>
  </define>
  <define name="e.citation">
    <element name="citation">
      <ref name="am.common"/>
      <optional>
        <ref name="a.encodinganalog"/>
      </optional>
      <ref name="am.simplelink"/>
      <optional>
        <ref name="a.lastdatetimeverified"/>
      </optional>
      <ref name="m.mixed.basic"/>
    </element>
  </define>
        <define name="e.filedesc">
            <element name="filedesc">
                <ref name="am.common"/>
                <optional>
                    <ref name="a.encodinganalog"/>
                </optional>
                <element name="titlestmt">
                    <ref name="am.common"/>
                    <optional>
                        <ref name="a.encodinganalog"/>
                    </optional>
                    <oneOrMore>
                        <ref name="e.titleproper"/>
                    </oneOrMore>
                    <zeroOrMore>
                        <ref name="e.subtitle"/>
                    </zeroOrMore>
                    <zeroOrMore>
                        <ref name="e.author"/>
                    </zeroOrMore>
                    <zeroOrMore>
                        <ref name="e.sponsor"/>
                    </zeroOrMore>
                </element>
                <optional>
                    <element name="editionstmt">
                        <ref name="am.common"/>
                        <optional>
                            <ref name="a.encodinganalog"/>
                        </optional>
                        <oneOrMore>
                            <choice>
                                <ref name="e.edition"/>
                                <ref name="e.p"/>
                            </choice>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="publicationstmt">
                        <ref name="am.common"/>
                        <optional>
                            <ref name="a.encodinganalog"/>
                        </optional>
                        <oneOrMore>
                            <choice>
                                <ref name="e.publisher"/>
                                <ref name="e.date"/>
                                <ref name="e.address"/>
                                <ref name="e.num"/>
                                <ref name="e.p"/>
                            </choice>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="seriesstmt">
                        <ref name="am.common"/>
                        <optional>
                            <ref name="a.encodinganalog"/>
                        </optional>
                        <oneOrMore>
                            <choice>
                                <ref name="e.titleproper"/>
                                <ref name="e.num"/>
                                <ref name="e.p"/>
                            </choice>
                        </oneOrMore>
                    </element>
                </optional>
                <optional>
                    <element name="notestmt">
                        <ref name="am.common"/>
                        <optional>
                            <ref name="a.encodinganalog"/>
                        </optional>
                        <oneOrMore>
                            <ref name="e.controlnote"/>
                        </oneOrMore>
                    </element>
                </optional>
            </element>
        </define>
    
</grammar>